{#
/*
 * Graph Xibo Module
 * Copyright (C) 2018 Lukas Zurschmiede
 *
 * This Xibo-Module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version. 
 *
 * This Xibo-Module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with This Xibo-Module.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Graph Page" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#graphAddForm").submit()
{% endblock %}

{% block formFieldActions %}
    [
    {
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    },
    {
      "field": "showLegend", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendCenter": { "display": "none" },
        ".legendX": { "display": "none" },
        ".legendY": { "display": "none" },
        ".legendRight": { "display": "none" },
        ".legendBottom": { "display": "none" }
      }
    },{
      "field": "showLegend", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendCenter": { "display": "block" },
        ".legendX": { "display": "block" },
        ".legendY": { "display": "block" },
        ".legendRight": { "display": "block" },
        ".legendBottom": { "display": "block" }
      }
    },{
      "field": "showLegend", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendCenter": { "display": "none" },
        ".legendX": { "display": "none" },
        ".legendY": { "display": "none" },
        ".legendRight": { "display": "none" },
        ".legendBottom": { "display": "none" }
      }
    },{
      "field": "showLegend", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendCenter": { "display": "block" },
        ".legendX": { "display": "block" },
        ".legendY": { "display": "block" },
        ".legendRight": { "display": "block" },
        ".legendBottom": { "display": "block" }
      }
    },
    {
      "field": "legendCenter", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendX": { "display": "none" },
        ".legendRight": { "display": "none" }
      }
    },{
      "field": "legendCenter", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendX": { "display": "block" },
        ".legendRight": { "display": "block" }
      }
    },{
      "field": "legendCenter", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendX": { "display": "none" },
        ".legendRight": { "display": "none" }
      }
    },{
      "field": "legendCenter", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendX": { "display": "block" },
        ".legendRight": { "display": "block" }
      }
    }
    ]
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#dataset" role="tab" data-toggle="tab" data-enlarge="1"><span>{% trans "Dataset" %}</span></a></li>
                <li><a href="#effectTab" role="tab" data-toggle="tab"><span>{% trans "Effect" %}</span></a></li>
                <li><a href="#advanced" role="tab" data-toggle="tab"><span>{% trans "Advanced" %}</span></a></li>
            </ul>
            <form id="graphAddForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("module.widget.add", {type: module.widget.type, id: playlist.playlistId}) }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {% set title %}{% trans "Name" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}
                        
                        {% set title %}{% trans "Background Color" %}{% endset %}
                        {% set helpText %}{% trans "The selected effect works best with a background color. Optionally add one here." %}{% endset %}
                        {{ forms.input("backgroundColor", title, module.getOption("backgroundColor"), helpText, "background-color-group") }}
                    </div>
                    
                    <div class="tab-pane" id="dataset">
                        {% set title %}{% trans "Graph Type" %}{% endset %}
                        {% set helpText %}{% trans "What type of Graph should be used." %}{% endset %}
                        {% set bar_chart %}{% trans "Bar chart" %}{% endset %}
                        {% set line_chart %}{% trans "Line chart" %}{% endset %}
                        {% set horizontal_bar_chart %}{% trans "Horizontal Bar Chart" %}{% endset %}
                        {% set pie_chart %}{% trans "Pie Chart" %}{% endset %}
                        {% set radar_chart %}{% trans "Radar Chart" %}{% endset %}
                        {% set circular_progress %}{% trans "Semi Circular Progress Chart" %}{% endset %}
                        {% set vertical_progress %}{% trans "Vertical Progress Chart" %}{% endset %}
                        {% set horizontal_progress %}{% trans "Horizontal Progress Chart" %}{% endset %}
                        {% set waterfall_chart %}{% trans "Waterfall Chart" %}{% endset %}
                        {% set scatter_chart %}{% trans "Scatter Chart" %}{% endset %}
                        {% set options = [
                        { typeid: "line_chart", type: line_chart },
                        { typeid: "pie_chart", type: pie_chart },
                        { typeid: "bar_chart", type: bar_chart },
                        { typeid: "horizontal_bar_chart", type: horizontal_bar_chart },
                        { typeid: "waterfall_chart", type: waterfall_chart },
                        { typeid: "circular_progress", type: circular_progress },
                        { typeid: "vertical_progress", type: vertical_progress },
                        { typeid: "horizontal_progress", type: horizontal_progress },
                        { typeid: "radar_chart", type: radar_chart },
                        { typeid: "scatter_chart", type: scatter_chart }
                        ] %}
                        {{ forms.dropdown("graphType", "single", title, module.getOption("graphType"), options, "typeid", "type", helpText) }}
                        
                        {% set title %}{% trans "DataSet 1" %}{% endset %}
                        {% set helpText %}{% trans "Please select the DataSet to use as a source of data for this view." %}{% endset %}
                        {{ forms.dropdown("dataSetId1", "single", title, "", module.dataSets(), "dataSetId", "dataSet", helpText, "dataset-fields") }}
                        
                        {% set title %}{% trans "DataSet 2" %}{% endset %}
                        {{ forms.dropdown("dataSetId2", "single", title, "", module.dataSets(), "dataSetId", "dataSet", "", "dataset-fields") }}
                        
                        {% set title %}{% trans "DataSet 3" %}{% endset %}
                        {{ forms.dropdown("dataSetId3", "single", title, "", module.dataSets(), "dataSetId", "dataSet", "", "dataset-fields") }}
                        
                        {% set title %}{% trans "DataSet 4" %}{% endset %}
                        {{ forms.dropdown("dataSetId4", "single", title, "", module.dataSets(), "dataSetId", "dataSet", "", "dataset-fields") }}
                        
                        {% set title %}{% trans "Label Column" %}{% endset %}
                        {% set helpText %}{% trans "Enter the name of the Column where the Labels are stored (X-Axis, Horizontally)." %}{% endset %}
                        {{ forms.input("labelColumn", title, module.getOption("labelColumn"), helpText) }}
                    </div>

                    <div class="tab-pane" id="effectTab">
                        {% set title %}{% trans "Effect" %}{% endset %}
                        {% set helpText %}{% trans "Please select the effect that will be used to transition between items." %}{% endset %}
                        {% set noneOption %}{% trans "None" %}{% endset %}
                        {% set fade %}{% trans "Fade" %}{% endset %}
                        {% set fadeout %}{% trans "Fade Out" %}{% endset %}
                        {% set scrollHorz %}{% trans "Scroll Horizontal" %}{% endset %}
                        {% set scrollVert %}{% trans "Scroll Vertical" %}{% endset %}
                        {% set flipHorz %}{% trans "Flip Horizontal" %}{% endset %}
                        {% set flipVert %}{% trans "Flip Vertical" %}{% endset %}
                        {% set shuffle %}{% trans "Shuffle" %}{% endset %}
                        {% set tileSlide %}{% trans "Tile Slide" %}{% endset %}
                        {% set tileBlind %}{% trans "Tile Blind" %}{% endset %}
                        {% set options = [
                        { effectid: "noAnim", effect: noneOption },
                        { effectid: "fade", effect: fade },
                        { effectid: "fadeout", effect: fadeout},
                        { effectid: "scrollHorz", effect: scrollHorz},
                        { effectid: "scrollVert", effect: scrollVert},
                        { effectid: "flipHorz", effect: flipHorz},
                        { effectid: "flipVert", effect: flipVert},
                        { effectid: "shuffle", effect: shuffle},
                        { effectid: "tileSlide", effect: tileSlide},
                        { effectid: "tileBlind", effect: tileBlind}
                        ] %}
                        {{ forms.dropdown("effect", "single", title, module.getOption("effect"), options, "effectid", "effect", helpText) }}

                        {% set title %}{% trans "Speed" %}{% endset %}
                        {% set helpText %}{% trans "The transition speed of the selected effect in milliseconds (normal = 1000)." %}{% endset %}
                        {{ forms.number("speed", title, module.getOption("speed"), helpText, "effect-controls") }}
                    </div>

                    <div class="tab-pane" id="advanced">
                        {% set title %}{% trans "Show legend?" %}{% endset %}
                        {% set helpText %}{% trans "Should a legend be shown? For the labels you may enter a special JavaScript Method below." %}{% endset %}
                        {{ forms.checkbox("showLegend", title, module.getOption("showLegend"), helpText) }}
                        
                        {% set title %}{% trans "Horizontally centered" %}{% endset %}
                        {% set helpText %}{% trans "Center the legend horizontally" %}{% endset %}
                        {{ forms.checkbox("legendCenter", title, module.getOption("legendCenter"), helpText, "legendCenter") }}
                        
                        {% set title %}{% trans "Horizontal (in px)" %}{% endset %}
                        {{ forms.number("legendX", title, module.getOption("legendX"), "", "legendX") }}
                        
                        {% set title %}{% trans "From right" %}{% endset %}
                        {{ forms.checkbox("legendRight", title, module.getOption("legendRight"), "", "legendRight") }}
                        
                        {% set title %}{% trans "Vertical (in px)" %}{% endset %}
                        {{ forms.number("legendY", title, module.getOption("legendY"), "", "legendY") }}
                        
                        {% set title %}{% trans "From bottom" %}{% endset %}
                        {{ forms.checkbox("legendBottom", title, module.getOption("legendBottom"), "", "legendBottom") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
