{#
/*
 * Graph Xibo Module
 * Copyright (C) 2018 Lukas Zurschmiede
 *  minor modifications by Spring Signage Ltd to integrate into the core modules
 *
 * This Xibo-Module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version. 
 *
 * This Xibo-Module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with This Xibo-Module.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Graph" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#graphEditForm").submit()
{% endblock %}

{% block formFieldActions %}
  [
    {
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    }
  ]
{% endblock %}

{% block callBack %}graphFormSetup{% endblock %}

{% block extra %}{{ module.getExtra()|json_encode|raw }}{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#formatting" role="tab" data-toggle="tab"><span>{% trans "Format" %}</span></a></li>
            </ul>
            <form id="graphEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {% set title %}{% trans "Name" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}

                        {% set bar_chart %}{% trans "Bar" %}{% endset %}
                        {% set line_chart %}{% trans "Line" %}{% endset %}
                        {% set horizontal_bar_chart %}{% trans "Horizontal Bar" %}{% endset %}
                        {% set pie_chart %}{% trans "Pie" %}{% endset %}
                        {% set donut_chart %}{% trans "Donut" %}{% endset %}
                        {% set radar_chart %}{% trans "Radar" %}{% endset %}
                        {% set options = [
                            { typeid: "line", type: line_chart },
                            { typeid: "bar", type: bar_chart },
                            { typeid: "pie", type: pie_chart },
                            { typeid: "doughnut", type: donut_chart },
                            { typeid: "horizontalBar", type: horizontal_bar_chart },
                            { typeid: "radar", type: radar_chart },
                        ] %}

                        {% set title %}{% trans "Chart Type" %}{% endset %}
                        {% set helpText %}{% trans "Select which type of chart to Display." %}{% endset %}
                        {{ forms.dropdown("graphType", "single", title, module.getOption("graphType"), options, "typeid", "type", helpText) }}

                        {% set message %}Configure your charts data using the selectors below. You should have at least an X and a Y axis defined.{% endset %}
                        {{ forms.message(message) }}

                        <div id="graphConfig">

                        </div>
                    </div>

                    <div class="tab-pane" id="formatting">
                        {% set title %}{% trans "Background Color" %}{% endset %}
                        {% set helpText %}{% trans "Select an optional background colour to put behind the graph, leaving this blank will make the graph transparent." %}{% endset %}
                        {{ forms.input("backgroundColor", title, module.getOption("backgroundColor"), helpText, "background-color-group") }}

                        {% set title %}{% trans "Show legend?" %}{% endset %}
                        {{ forms.checkbox("showLegend", title, module.getOption("showLegend")) }}

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
