{#
/*
 * Graph Xibo Module
 * Copyright (C) 2018 Lukas Zurschmiede
 *  minor modifications by Spring Signage Ltd to integrate into the core modules
 *
 * This Xibo-Module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version. 
 *
 * This Xibo-Module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with This Xibo-Module.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Graph" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#graphEditForm").submit()
{% endblock %}

{% block formFieldActions %}
  [
    {
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    }
  ]
{% endblock %}

{% block callBack %}graphFormSetup{% endblock %}

{% block extra %}{{ module.getExtra()|json_encode|raw }}{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#formatting" role="tab" data-toggle="tab"><span>{% trans "Format" %}</span></a></li>
            </ul>
            <form id="graphEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {% set title %}{% trans "Name" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}

                        {% set bar_chart %}{% trans "Bar chart" %}{% endset %}
                        {% set line_chart %}{% trans "Line chart" %}{% endset %}
                        {% set horizontal_bar_chart %}{% trans "Horizontal Bar Chart" %}{% endset %}
                        {% set pie_chart %}{% trans "Pie Chart" %}{% endset %}
                        {% set donut_chart %}{% trans "Donut Chart" %}{% endset %}
                        {% set radar_chart %}{% trans "Radar Chart" %}{% endset %}
                        {% set vertical_progress %}{% trans "Vertical Progress Chart" %}{% endset %}
                        {% set horizontal_progress %}{% trans "Horizontal Progress Chart" %}{% endset %}
                        {% set waterfall_chart %}{% trans "Waterfall Chart" %}{% endset %}
                        {% set options = [
                            { typeid: "line_chart", type: line_chart },
                            { typeid: "pie_chart", type: pie_chart },
                            { typeid: "donut_chart", type: donut_chart },
                            { typeid: "bar_chart", type: bar_chart },
                            { typeid: "horizontal_bar_chart", type: horizontal_bar_chart },
                            { typeid: "waterfall_chart", type: waterfall_chart },
                            { typeid: "vertical_progress", type: vertical_progress },
                            { typeid: "horizontal_progress", type: horizontal_progress },
                            { typeid: "radar_chart", type: radar_chart },
                        ] %}

                        {% set title %}{% trans "Graph Type" %}{% endset %}
                        {% set helpText %}{% trans "Select which type of Graph to Display." %}{% endset %}
                        {{ forms.dropdown("graphType", "single", title, module.getOption("graphType"), options, "typeid", "type", helpText) }}

                        {% set message %}Configure your charts data using the selectors below. You should have at least an X and a Y axis defined.{% endset %}
                        {{ forms.message(message) }}

                        <div id="graphConfig">

                        </div>
                    </div>

                    <div class="tab-pane" id="formatting">
                        {% set title %}{% trans "Background Color" %}{% endset %}
                        {% set helpText %}{% trans "Select an optional background colour to put behind the graph, leaving this blank will make the graph transparent." %}{% endset %}
                        {{ forms.input("backgroundColor", title, module.getOption("backgroundColor"), helpText, "background-color-group") }}

                        {% set title %}{% trans "Show legend?" %}{% endset %}
                        {{ forms.checkbox("showLegend", title, module.getOption("showLegend")) }}
                        
                        {% set title %}{% trans "Horizontally centered" %}{% endset %}
                        {% set helpText %}{% trans "Center the legend horizontally" %}{% endset %}
                        {{ forms.checkbox("legendCenter", title, module.getOption("legendCenter"), helpText, "legendCenter") }}
                        
                        {% set title %}{% trans "Horizontal (in px)" %}{% endset %}
                        {{ forms.number("legendX", title, module.getOption("legendX"), "", "legendX") }}
                        
                        {% set title %}{% trans "From right" %}{% endset %}
                        {{ forms.checkbox("legendRight", title, module.getOption("legendRight"), "", "legendRight") }}
                        
                        {% set title %}{% trans "Vertical (in px)" %}{% endset %}
                        {{ forms.number("legendY", title, module.getOption("legendY"), "", "legendY") }}
                        
                        {% set title %}{% trans "From bottom" %}{% endset %}
                        {{ forms.checkbox("legendBottom", title, module.getOption("legendBottom"), "", "legendBottom") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
