{#
/*
 * Graph Xibo Module
 * Copyright (C) 2018 Lukas Zurschmiede
 *
 * This Xibo-Module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version. 
 *
 * This Xibo-Module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with This Xibo-Module.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Graph Page" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#graphAddForm").submit()
{% endblock %}

{% block formFieldActions %}
    [
    {
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": { ".duration-fields": { "display": "none" } }
    },{
      "field": "useDuration", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": { ".duration-fields": { "display": "block" } }
    },
    {
      "field": "showLegend", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendCenter": { "display": "none" },
        ".legendX": { "display": "none" },
        ".legendY": { "display": "none" },
        ".legendRight": { "display": "none" },
        ".legendBottom": { "display": "none" }
      }
    },{
      "field": "showLegend", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendCenter": { "display": "block" },
        ".legendX": { "display": "block" },
        ".legendY": { "display": "block" },
        ".legendRight": { "display": "block" },
        ".legendBottom": { "display": "block" }
      }
    },{
      "field": "showLegend", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendCenter": { "display": "none" },
        ".legendX": { "display": "none" },
        ".legendY": { "display": "none" },
        ".legendRight": { "display": "none" },
        ".legendBottom": { "display": "none" }
      }
    },{
      "field": "showLegend", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendCenter": { "display": "block" },
        ".legendX": { "display": "block" },
        ".legendY": { "display": "block" },
        ".legendRight": { "display": "block" },
        ".legendBottom": { "display": "block" }
      }
    },
    {
      "field": "legendCenter", "trigger": "init",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendX": { "display": "none" },
        ".legendRight": { "display": "none" }
      }
    },{
      "field": "legendCenter", "trigger": "init",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendX": { "display": "block" },
        ".legendRight": { "display": "block" }
      }
    },{
      "field": "legendCenter", "trigger": "change",
      "operation": "is:checked", "value": true,
      "actions": {
        ".legendX": { "display": "none" },
        ".legendRight": { "display": "none" }
      }
    },{
      "field": "legendCenter", "trigger": "change",
      "operation": "is:checked", "value": false,
      "actions": {
        ".legendX": { "display": "block" },
        ".legendRight": { "display": "block" }
      }
    }
    ]
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#dataset" role="tab" data-toggle="tab" data-enlarge="1"><span>{% trans "Dataset" %}</span></a></li>
                <li><a href="#advanced" role="tab" data-toggle="tab"><span>{% trans "Advanced" %}</span></a></li>
            </ul>
            <form id="graphAddForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("module.widget.add", {type: module.widget.type, id: playlist.playlistId}) }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {% set title %}{% trans "Name" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}
                        
                        {% set title %}{% trans "Background Color" %}{% endset %}
                        {{ forms.input("backgroundColor", title, module.getOption("backgroundColor"), "", "background-color-group") }}
                    </div>
                    
                    <div class="tab-pane" id="dataset">
                        {% set bar_chart %}{% trans "Bar chart" %}{% endset %}
                        {% set line_chart %}{% trans "Line chart" %}{% endset %}
                        {% set horizontal_bar_chart %}{% trans "Horizontal Bar Chart" %}{% endset %}
                        {% set pie_chart %}{% trans "Pie Chart" %}{% endset %}
                        {% set radar_chart %}{% trans "Radar Chart" %}{% endset %}
                        {% set circular_progress %}{% trans "Semi Circular Progress Chart" %}{% endset %}
                        {% set vertical_progress %}{% trans "Vertical Progress Chart" %}{% endset %}
                        {% set horizontal_progress %}{% trans "Horizontal Progress Chart" %}{% endset %}
                        {% set waterfall_chart %}{% trans "Waterfall Chart" %}{% endset %}
                        {% set scatter_chart %}{% trans "Scatter Chart" %}{% endset %}
                        {% set options = [
                        { typeid: "line_chart", type: line_chart },
                        { typeid: "pie_chart", type: pie_chart },
                        { typeid: "bar_chart", type: bar_chart },
                        { typeid: "horizontal_bar_chart", type: horizontal_bar_chart },
                        { typeid: "waterfall_chart", type: waterfall_chart },
                        { typeid: "circular_progress", type: circular_progress },
                        { typeid: "vertical_progress", type: vertical_progress },
                        { typeid: "horizontal_progress", type: horizontal_progress },
                        { typeid: "radar_chart", type: radar_chart },
                        { typeid: "scatter_chart", type: scatter_chart }
                        ] %}
                        
                        {% set title %}{% trans "Graph Type" %}{% endset %}
                        {{ forms.dropdown("graphType", "single", title, module.getOption("graphType"), options, "typeid", "type", "") }}
                        
                        {% set title %}{% trans "Maximum Data" %}{% endset %}
                        {% set helpText %}{% trans "With this value you can limit the amount of shown data. For example if your DataSet has one value for each day, you can limit the a Graph to only show the last 30 days." %}{% endset %}
                        {{ forms.number("maxdata", title, module.getOption("maxdata"), helpText, "maxdata-fields", "required") }}
                        
                        {% set title %}{% trans "Switch Rows and Columns" %}{% endset %}
                        {% set helpText %}{% trans "If checked, the rows and columns will be switched. For example in a Bar-Chart: Each value in a row is presented side by side, each new row will be a new group of bars. Otherwise, if not checked, each row will be a new group of values." %}{% endset %}
                        {{ forms.checkbox("groupLabel", title, module.getOption("groupLabel"), helpText, "groupLabel") }}
                        
                        <h4>{% trans "Select all DataSets to use for this Graph:" %}</h4>
                        <div id="dataSetContainer">
                            {% set i = 0 %}
                            {% set title %}{% trans "DataSet" %}{% endset %}
                            {{ forms.dropdown("dataSetIds[" ~ i ~ "]", "single", title, "", module.dataSets(), "dataSetId", "dataSet", "", "dataset-fields") }}

                            {% set title %}{% trans "Label Column" %}{% endset %}
                            {{ forms.input("dataSetLabels[" ~ i ~ "]", title, "", "", "", "required") }}

                            {% set i = i + 1 %}
                        </div>
                        
                        <hr/>
                        
                        <small>
                            <a href="#" id="dataSetAdd">{% trans "Add DataSet" %}</a>
                            <br/>
                            {% trans "Add as many DataSets as you want to show on this Graph." %}<br/>
                            {% trans "For each DataSet give the Name of the Column where the Labels are stored in." %}
                            {% trans "Labels are shown horizontally on the X-Axis." %}<br/>
                        </small>
                        
                        <div style="display:none" id="dataSetTemplate">
                            <hr/>
                            {% set title %}{% trans "DataSet" %}{% endset %}
                            {{ forms.dropdown("_dataSetIds", "single", title, "", module.dataSets(), "dataSetId", "dataSet", "", "dataset-fields") }}

                            {% set title %}{% trans "Label Column" %}{% endset %}
                            {{ forms.input("_dataSetLabels", title, "", "", "", "required") }}
                        </div>
                    </div>

                    <div class="tab-pane" id="advanced">
                        {% set title %}{% trans "Show legend?" %}{% endset %}
                        {% set helpText %}{% trans "Should a legend be shown? For the labels you may enter a special JavaScript Method below." %}{% endset %}
                        {{ forms.checkbox("showLegend", title, module.getOption("showLegend"), helpText) }}
                        
                        {% set title %}{% trans "Horizontally centered" %}{% endset %}
                        {% set helpText %}{% trans "Center the legend horizontally" %}{% endset %}
                        {{ forms.checkbox("legendCenter", title, module.getOption("legendCenter"), helpText, "legendCenter") }}
                        
                        {% set title %}{% trans "Horizontal (in px)" %}{% endset %}
                        {{ forms.number("legendX", title, module.getOption("legendX"), "", "legendX") }}
                        
                        {% set title %}{% trans "From right" %}{% endset %}
                        {{ forms.checkbox("legendRight", title, module.getOption("legendRight"), "", "legendRight") }}
                        
                        {% set title %}{% trans "Vertical (in px)" %}{% endset %}
                        {{ forms.number("legendY", title, module.getOption("legendY"), "", "legendY") }}
                        
                        {% set title %}{% trans "From bottom" %}{% endset %}
                        {{ forms.checkbox("legendBottom", title, module.getOption("legendBottom"), "", "legendBottom") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
