{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Preview for Layout" %} {{ layout.layoutId }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="public-path" content="{{ theme.rootUri() }}"/>
        
        <link rel="shortcut icon" href="{{ theme.uri("img/favicon.ico") }}" />
        <link rel="stylesheet" type="text/css" href="{{ theme.rootUri() }}dist/preview/html-preview.css" />
        <link rel="stylesheet" type="text/css" href="{{ theme.uri("css/html-preview.css") }}" />
    </head>
    <body>
        {% include 'layout-preview-partial.twig' with {'layout': layout, 'previewOptions': previewOptions} %}
        {# Import JS bundle from dist #}
        <script src="{{ theme.rootUri() }}dist/vendor.bundle.min.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/html5preloader/html5Preloader.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/preview/html-preview.js?{{ version }}"></script>
        <script type="text/javascript">
        
            var emptyRegionMessage = "{% trans "Empty Region" %}"; 
        
            (function($){
              $(document).ready(function(){
                dsInit({{ layout.layoutId }}, {{ previewOptions|json_encode()|raw }}, true)
              });
            }(jQuery));
        </script>
    </body>
</html>
