{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015-2018 Spring Signage Ltd
 * (subplaylist-form-add.twig)
 */
#}
{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Sub-Playlist" %}
{% endblock %}

{% block extra %}{{ module.getExtra()|json_encode|raw }}{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="subPlaylistForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("module.widget.add", {type: module.widget.type, id: playlist.playlistId}) }}">

                {% set title %}{% trans "Arrangement" %}{% endset %}
                {% set helpText %}{% trans "How would you like the Widgets on these Playlists to be mixed?" %}{% endset %}
                {% set noneOption %}{% trans "Sequentially - put the playlists one after the other in order" %}{% endset %}
                {% set robinOption %}{% trans "Round Robin - take one from each list and then repeat" %}{% endset %}
                {% set evenOption %}{% trans "Evenly - automatically decide how often to take from each list so that there are no items left" %}{% endset %}
                {% set options = [
                    { id: "none", value: noneOption },
                    { id: "roundrobin", value: robinOption },
                    { id: "even", value: evenOption }
                ] %}
                {{ forms.dropdown("arrangement", "single", title, "none", options, "id", "value", helpText) }}

                {% set title %}{% trans "Remainder" %}{% endset %}
                {% set helpText %}{% trans "If there are Widgets left unarranged at the end, what should be done with these Widgets?" %}{% endset %}
                {% set noneOption %}{% trans "Append - add left over Widgets to the end of the list" %}{% endset %}
                {% set dropOption %}{% trans "Drop - use the smallest list as the total length and drop the rest" %}{% endset %}
                {% set repeatOption %}{% trans "Repeat - use the largest list as the total length and repeat the rest" %}{% endset %}
                {% set options = [
                    { id: "none", value: noneOption },
                    { id: "drop", value: dropOption },
                    { id: "repeat", value: repeatOption }
                ] %}
                {{ forms.dropdown("remainder", "single", title, "none", options, "id", "value", helpText) }}

                {% set helpText %}{% trans "Please select the Playlists to embed" %}{% endset %}
                {{ forms.message(helpText) }}

                <div class="sub-playlists"></div>
            </form>
        </div>
    </div>
{% endblock %}