{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
// Two tabs
        
        // Handle the substitutions as RAW items
        $subs = array(
            array('Substitute' => 'Clock'),
            array('Substitute' => 'Clock|HH:mm'),
            array('Substitute' => 'Date'),
            array('Substitute' => 'Clock|DD/MM/YYYY')
        );
        Theme::Set('substitutions', $subs);
        $formFields['general'][] = Form::AddRaw(Theme::RenderReturn('media_form_text_edit'));

        $formFields['general'][] = Form::AddMultiText('ta_text', NULL, NULL,
            __('Enter the text to display. Please note that the background colour has automatically coloured to your layout background colour.'), 't', 10);

        Theme::Set('form_fields_general', $formFields['general']);
        Theme::Set('form_fields_options', $formFields['options']);

        // Add a dependency
        $response->AddFieldAction('effect', 'init', 'none', array('.effect-controls' => array('display' => 'none')));
        $response->AddFieldAction('effect', 'change', 'none', array('.effect-controls' => array('display' => 'none')));
        $response->AddFieldAction('effect', 'init', 'none', array('.effect-controls' => array('display' => 'block')), 'not');
        $response->AddFieldAction('effect', 'change', 'none', array('.effect-controls' => array('display' => 'block')), 'not');

        $response->html = Theme::RenderReturn('form_render');
        $response->callBack = 'text_callback';
        $response->dialogSize = 'large';
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Text" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#textAddForm").submit()
{% endblock %}

{% block callBack %}forecastIoFormSetup{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#options" role="tab" data-toggle="tab"><span>{% trans "Options" %}</span></a></li>
                </ul>
            <form id="textAddForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("module.widget.add", {type: module.widget.type, id: playlist.playlistId}) }}">

                <div class="tab-pane active" id="general">
                      {# RAW item subs 

                    <?php foreach(Theme::Get('substitutions') as $column) { ?>
                    <li class="ckeditor_snippits" linkedto="ta_text"><?php echo $column['Substitute']; ?></li>
                    <?php } ?>

                      #}

                        {% set helpText %}{% trans "Enter the text to display. Please note that the background colour has automatically coloured to your layout background colour." %}{% endset %}
                        {{ forms.textarea("ta_text", "", "", helpText, "", 10) }}
                </div>

                 <div class="tab-pane" id="options">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "An optional name for this media" %}{% endset %}
                        {{ forms.text("name", title, "", helpText) }}

                        {% set title %}{% trans "Effect" %}{% endset %}
                        {% set helpText %}{% trans "Please select the effect that will be used to transition between items. If all items should be output, select None. Marquee effects are CPU intensive and may not be suitable for lower power displays." %}{% endset %}
                        {% set fade %}{% trans "Fade" %}{% endset %}
                        {% set fadeout %}{% trans "Fade Out" %}{% endset %}
                        {% set scrollHorz %}{% trans "Scroll Horizontal" %}{% endset %}
                        {% set scrollVert %}{% trans "Scroll Vertical" %}{% endset %}
                        {% set flipHorz %}{% trans "Flip Horizontal" %}{% endset %}
                        {% set flipVert %}{% trans "Flip Vertical" %}{% endset %}
                        {% set shuffle %}{% trans "shuffle" %}{% endset %}
                        {% set tileSlide %}{% trans "Tile Slide" %}{% endset %}
                        {% set tileBlind %}{% trans "Tile Blind" %}{% endset %}
                        {% set marqueeLeft %}{% trans "Marquee Left" %}{% endset %}
                        {% set marqueeRight %}{% trans "Marquee Right" %}{% endset %}
                        {% set marqueeUp %}{% trans "Marquee Up" %}{% endset %}
                        {% set marqueeDown %}{% trans "Marquee Down" %}{% endset %}
                        {% set options = [
                        { effectid: "", effect: none },
                        { effectid: fade, effect: fade },
                        { effectid: fadeout, effect: fadeout},
                        { effectid: scrollHorz, effect: scrollHorz},
                        { effectid: scrollVert, effect: scrollVert},
                        { effectid: flipHorz, effect: flipHorz},
                        { effectid: flipVert, effect: flipVert},
                        { effectid: shuffle, effect: shuffle},
                        { effectid: tileSlide, effect: tileSlide},
                        { effectid: tileBlind, effect: tileBlind},
                        { effectid: marqueeLeft, effect: marqueeLeft},
                        { effectid: marqueeRight, effect: marqueeRight},
                        { effectid: marqueeUp, effect: marqueeUp},
                        { effectid: marqueeDown, effect: marqueeDown}
                        ] %}
                        {{ forms.dropdown("effect", "single", title, module.getOption("effect"), "effectid", "effect", helpText) }}

                        {% set title %}{% trans "Speed" %}{% endset %}
                        {% set helpText %}{% trans "The transition speed of the selected effect in milliseconds (normal = 1000) or the Marquee Speed in a low to high scale (normal = 1)." %}{% endset %}
                        {{ forms.number("speed", title, "", helpText, "", "effect-controls") }}

                        {% set title %}{% trans "Background Colour" %}{% endset %}
                        {% set helpText %}{% trans "The selected effect works best with a background colour. Optionally add one here." %}{% endset %}
                        {{ forms.text("backgroundColor", title, "", helpText, "", "effect-controls") }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, "", helpText, "", "required") }}
                </div>
                {# // Add a dependency #}

            </form>
        </div>
    </div>
{% endblock %}