{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Twitter Metro" %}
{% endblock %}

{% block extra %}{{ {"colors": module.getOption("templateColours"), "templates": module.templatesAvailable()}|json_encode|raw }}{% endblock %}

{% block formHtml %}
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
            <li><a href="#configurationTab" role="tab" data-toggle="tab"><span>{% trans "Configuration" %}</span></a></li>
             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {% trans "Appearance" %}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#appearanceTemplateTab" role="tab" data-toggle="tab"><span>{% trans "Main" %}</span></a></li>
                    <li><a href="#colorsTemplateTab" role="tab" data-toggle="tab"><span>{% trans "Colours" %}</span></a></li>
                    <li><a href="#effectTemplateTab" role="tab" data-toggle="tab"><span>{% trans "Effect" %}</span></a></li>
                </ul>
            </li>
            <li><a href="#cacheTab" role="tab" data-toggle="tab"><span>{% trans "Caching" %}</span></a></li>
        </ul>
        <div class="col-md-12">
            <form id="twitterMetroEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}">
                 <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget." %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed (default = 60)." %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}

                        {% set title %}{% trans "Enable Stats Collection?" %}{% endset %}
                        {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Widget. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}

                        {% set offOption %}{% trans "Off" %}{% endset %}
                        {% set onOption %}{% trans "On" %}{% endset %}
                        {% set inheritOption %}{% trans "Inherit" %}{% endset %}
                        {% set options = [
                            { id: "Off", value: offOption },
                            { id: "On", value: onOption },
                            { id: "Inherit", value: inheritOption }
                        ] %}
                        {{ forms.dropdown("enableStat", "single", title, module.getOption("enableStat", theme.getSetting("WIDGET_STATS_ENABLED_DEFAULT")), options, "id", "value", helpText) }}
                    </div>

                    <div class="tab-pane" id="configurationTab">
                        {% set title %}{% trans "Search Term" %}{% endset %}
                        {% set helpText %}{% trans "Search term. You can test your search term in the twitter.com search box first." %}{% endset %}
                        {{ forms.input("searchTerm", title, module.getOption("searchTerm"), helpText, "", "required") }}

                        {% set title %}{% trans "Language" %}{% endset %}
                        {% set helpText %}{% trans "Language in which tweets should be returned" %}{% endset %}
                        {{ forms.input("language", title, module.getOption("language"), helpText) }}

                        {% set title %}{% trans "Type" %}{% endset %}
                        {% set helpText %}{% trans "Recent shows only the most recent tweets, Popular the most popular and Mixed includes both popular and recent results." %}{% endset %}
                        {% set mixed %}{% trans "Mixed" %}{% endset %}
                        {% set recent %}{% trans "Recent" %}{% endset %}
                        {% set popular %}{% trans "Popular" %}{% endset %}
                        {% set options = [
                        { typeid: 1, type: mixed },
                        { typeid: 2, type: recent },
                        { typeid: 3, type: popular }
                        ] %}
                        {{ forms.dropdown("resultType", "single", title, module.getOption("resultType"), options, "typeid", "type", helpText,"", "required") }}

                        {% set title %}{% trans "Distance" %}{% endset %}
                        {% set helpText %}{% trans "Distance in miles that the tweets should be returned from. Set to 0 for no restrictions." %}{% endset %}
                        {{ forms.number("tweetDistance", title, module.getOption("tweetDistance"), helpText) }}

                        {% set title %}{% trans "Count" %}{% endset %}
                        {% set helpText %}{% trans "The number of Tweets to return (default = 60)." %}{% endset %}
                        {{ forms.number("tweetCount", title, module.getOption("tweetCount"), helpText) }}

                        {% set title %}{% trans "Content Type" %}{% endset %}
                        {% set helpText %}{% trans "This is the intended tweet content type." %}{% endset %}
                        {% set allTweets %}{% trans "All Tweets" %}{% endset %}
                        {% set justText %}{% trans "Tweets with text only content" %}{% endset %}
                        {% set withImages %}{% trans "Tweets with text and image content" %}{% endset %}
                        {% set options = [
                        { contenttypeid: 0, type: allTweets },
                        { contenttypeid: 1, type: justText },
                        { contenttypeid: 2, type: withImages }
                        ] %}
                        {{ forms.dropdown("resultContent", "single", title, module.getOption("resultContent", 0), options, "contenttypeid", "type", helpText,"", "required") }}

                        {% set title %}{% trans "Remove Retweets?" %}{% endset %}
                        {% set helpText %}{% trans "Should retweets be filtered?" %}{% endset %}
                        {{ forms.checkbox("removeRetweets", title, module.GetOption("removeRetweets", 1), helpText) }}

                        {% set title %}{% trans "Remove Mentions?" %}{% endset %}
                        {% set helpText %}{% trans "Should mentions (@someone) be removed from the Tweet Text?" %}{% endset %}
                        {{ forms.checkbox("removeMentions", title, module.GetOption("removeMentions", 0), helpText) }}

                        {% set title %}{% trans "Remove Hashtags?" %}{% endset %}
                        {% set helpText %}{% trans "Should Hashtags (#something) be removed from the Tweet Text?" %}{% endset %}
                        {{ forms.checkbox("removeHashtags", title, module.GetOption("removeHashtags", 0), helpText) }}

                        {% set title %}{% trans "Remove URLs?" %}{% endset %}
                        {% set helpText %}{% trans "Should URLs be removed from the Tweet Text? Most URLs do not compliment digital signage." %}{% endset %}
                        {{ forms.checkbox("removeUrls", title, module.GetOption("removeUrls", 1), helpText) }}
                    </div>

                    <div class="tab-pane" id="appearanceTemplateTab">
                        {% set title %}{% trans "Background Colour" %}{% endset %}
                        {% set helpText %}{% trans "The selected effect works best with a background colour. Optionally add one here." %}{% endset %}
                        {{ forms.input("backgroundColor", title, module.getOption("backgroundColor"), helpText, "background-color-group") }}
                        
                        {% set title %}{% trans "No tweets" %}{% endset %}
                        {% set helpText %}{% trans "A message to display when there are no tweets returned by the search query" %}{% endset %}
                        {{ forms.input("noTweetsMessage", title, module.getOption("noTweetsMessage"), helpText) }}
                        
                        {% set title %}{% trans "Date Format" %}{% endset %}
                        {% set helpText %}{% trans "Enter the date format to apply to all dates returned: d - day in numbers; 01 to 31 / D - day of the week as text; Mon to Sun: m - month in numbers; 01 to 12 /M - month in text; Jan to Dec - year in two digits; 19 / Y - year in four digits; 2019" %}{% endset %}
                        {{ forms.input("dateFormat", title, module.getOption("dateFormat"), helpText) }}
                    </div>

                    <div class="tab-pane" id="colorsTemplateTab">
                        {% set title %}{% trans "Template Colours" %}{% endset %}
                        {% set helpText %}{% trans "Select the template colours you would like to apply." %}{% endset %}
                        {{ forms.dropdown("colorTemplateId", "single", title, module.getOption("colorTemplateId"), module.templatesAvailable(), "id", "value", helpText, "selectPicker selectPickerWithImage template-selector-control", null, null, null, null, null, "image") }}
            
                        {% set title %}{% trans "Override the template?" %}{% endset %}
                        {% set helpText %}{% trans "Tick if you would like to override the template." %}{% endset %}
                        {{ forms.checkbox("overrideColorTemplate", title, module.getOption("overrideColorTemplate"), helpText) }}

                        <div id="templateColors" class="template-override-controls"></div>
                    </div>

                    <div class="tab-pane" id="effectTemplateTab">
                        {% set title %}{% trans "Effect" %}{% endset %}
                        {% set helpText %}{% trans "Please select the effect that will be used to transition between items." %}{% endset %}
                        {% set noneOption %}{% trans "None" %}{% endset %}
                        {% set fade %}{% trans "Fade" %}{% endset %}
                        {% set fadeout %}{% trans "Fade Out" %}{% endset %}
                        {% set scrollHorz %}{% trans "Scroll Horizontal" %}{% endset %}
                        {% set scrollVert %}{% trans "Scroll Vertical" %}{% endset %}
                        {% set flipHorz %}{% trans "Flip Horizontal" %}{% endset %}
                        {% set flipVert %}{% trans "Flip Vertical" %}{% endset %}
                        {% set shuffle %}{% trans "Shuffle" %}{% endset %}
                        {% set tileSlide %}{% trans "Tile Slide" %}{% endset %}
                        {% set tileBlind %}{% trans "Tile Blind" %}{% endset %}
                        {% set options = [
                        { effectid: "noAnim", effect: noneOption },
                        { effectid: "fade", effect: fade },
                        { effectid: "fadeout", effect: fadeout},
                        { effectid: "scrollHorz", effect: scrollHorz},
                        { effectid: "scrollVert", effect: scrollVert},
                        { effectid: "flipHorz", effect: flipHorz},
                        { effectid: "flipVert", effect: flipVert},
                        { effectid: "shuffle", effect: shuffle},
                        { effectid: "tileSlide", effect: tileSlide},
                        { effectid: "tileBlind", effect: tileBlind}
                        ] %}
                        {{ forms.dropdown("effect", "single", title, module.getOption("effect"), options, "effectid", "effect", helpText) }}

                        {% set title %}{% trans "Speed" %}{% endset %}
                        {% set helpText %}{% trans "The transition speed of the selected effect in milliseconds (normal = 1000)." %}{% endset %}
                        {{ forms.number("speed", title, module.getOption("speed"), helpText, "effect-controls") }}
                    </div>

                    <div class="tab-pane" id="cacheTab">
                        {% set title %}{% trans "Update Interval (mins)" %}{% endset %}
                        {% set helpText %}{% trans "Please enter the update interval in minutes. This should be kept as high as possible. For example, if the data will only change once per hour this could be set to 60." %}{% endset %}
                        {{ forms.number("updateInterval", title, module.getOption("updateInterval", 60), helpText, "", "required") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}