{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2017 Spring Signage Ltd
 * (video-form-edit.twig)
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Video" %}
{% endblock %}

{% block formHtml %}
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
            <li><a href="#configurationTab" role="tab" data-toggle="tab"><span>{% trans "Configuration" %}</span></a></li>
        </ul>
        <div class="col-md-12">
            <form id="videoEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}" data-widget-id="{{ module.widget.widgetId }}" data-media-id="{{ module.getMediaId() }}" data-media-editable="{{ currentUser.checkEditable(module.getMedia()) }}" data-valid-extensions="{{ validExtensions }}" data-media-duration="{{ media.duration }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText) }}

                        {% set mediaDuration = media.duration %}
                        {% set durationMessage %}
                            {% trans %}
                                This video will play for {{ mediaDuration }} seconds. Cut the video short by setting a shorter duration below. Wait on the last frame or set to Loop by setting a higher duration below.
                            {% endtrans %}
                        {% endset %}
                        {{ forms.message(durationMessage, "") }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}

                        {% set title %}{% trans "Loop?" %}{% endset %}
                        {% set helpText %}{% trans "Should the video loop if it finishes before the provided duration?" %}{% endset %}
                        {{ forms.checkbox("loop", title, module.getOption("loop", 0), helpText, "loop-fields") }}

                        {% set title %}{% trans "Enable Stats Collection?" %}{% endset %}
                        {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Widget. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}

                        {% set offOption %}{% trans "Off" %}{% endset %}
                        {% set onOption %}{% trans "On" %}{% endset %}
                        {% set inheritOption %}{% trans "Inherit" %}{% endset %}
                        {% set options = [
                            { id: "Off", value: offOption },
                            { id: "On", value: onOption },
                            { id: "Inherit", value: inheritOption }
                        ] %}
                        {{ forms.dropdown("enableStat", "single", title, module.getOption("enableStat", theme.getSetting("WIDGET_STATS_ENABLED_DEFAULT") ), options, "id", "value", helpText) }}
                    </div>

                    <div class="tab-pane" id="configurationTab">
                        {% set title %}{% trans "Scale type" %}{% endset %}
                        {% set helpText %}
                            {% trans "How should this video be scaled?" %}
                            {% trans "Please note that video scaling is only supported by Android and webOS players at the current time." %}
                        {% endset %}
                        {% set aspect %}{% trans "Aspect" %}{% endset %}
                        {% set stretch %}{% trans "Stretch" %}{% endset %}
                        {% set options = [
                        { scaleTypeId: "aspect", scaleType: aspect },
                        { scaleTypeId: "stretch", scaleType: stretch }
                        ] %}
                        {{ forms.dropdown("scaleTypeId", "single", title, module.getOption("scaleType"), options, "scaleTypeId", "scaleType", helpText) }}

                        {% set title %}{% trans "Mute?" %}{% endset %}
                        {% set helpText %}{% trans "Should the video be muted?" %}{% endset %}
                        {{ forms.checkbox("mute", title, module.getOption("mute", 0), helpText, "mute-fields") }}

                        {% set title %}{% trans "Show Full Screen?" %}{% endset %}
                        {% set helpText %}{% trans "Should the video expand over the top of existing content and show in full screen?" %}{% endset %}
                        {{ forms.checkbox("showFullScreen", title, module.getOption("showFullScreen", 0), helpText) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}