{#
/**
 * Copyright (C) 2022 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
<!doctype html>
<html lang="en">
<head>
    <title>Xibo Open Source Digital Signage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=[[ViewPortWidth]]" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Copyright 2006-2022 Xibo Signage Ltd. Part of the Xibo Open Source Digital Signage Solution. Released under the AGPLv3 or later. -->
    <script type="text/javascript" src="[[PlayerBundle]]"></script>
</head>
<!--[if lt IE 7 ]><body class="ie6"><![endif]-->
<!--[if IE 7 ]><body class="ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><body><!--<![endif]-->
{% for item in twig %}
    {{ item|raw }}
{% endfor %}
</body>
<script type="text/javascript">
    window.globalOptions = {
      originalWidth: {{ width }},
      originalHeight: {{ height }},
      duration: {{ duration }},
      cmsDateFormat: '{{ cmsDateFormat }}'
    };
    var widgetData = [];
    {% for item in data %}
    widgetData.push({{ item|json_encode|raw }});
    {% endfor %}
</script>
{% if elementGroups %}
<script type="text/javascript">
    var elements = [];
    {% for item in elements %}
    elements.push({{ item|raw }});
    {% endfor %}
</script>
{% endif %}
{% for id, item in hbs %}
    <script type="text/x-handlebars-template" id="hbs-{{ id }}">{{ item|raw }}</script>
{% endfor %}
</html>