{#
/**
 * Copyright (C) 2021 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
    <div class="widget w-50 mx-auto">
        <div class="widget-title">{% trans "Authorize Request" %}</div>
        <div class="widget-body">
            <h1>{{ authParams.client.getName() }}</h1>
            <h5>{{ "would like access to the following scopes"|trans }}:</h5>

            <ul>
                {% for scope in scopes %}
                <li>
                    {{ scope.description }}
                </li>
                {% endfor %}
            </ul>

            <form method="post" action="{{ url_for("application.authorize") }}">
                <div class="text-right">
                    <input type="hidden" name="{{ csrfKey }}" value="{{ csrfToken }}" />
                    <input type="submit" class="btn btn-danger" value="Deny" name="authorization">
                    <input type="submit" class="btn btn-success" value="Approve" name="authorization">
                </div>
            </form>
        </div>
    </div>
{% endblock %}