<li class="dropdown item">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img class="nav-avatar" src="{{ theme.uri("img/avatar.jpg") }}" />
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">{{ currentUser.userName }}<br/>
            <div id="XiboClock">{{ clock }}</div>
        </li>
        <li class="divider"></li>
        <li><a class="XiboFormButton" href="{{ url_for("user.preferences.form") }}" title="{% trans "Preferences" %}">{% trans "Preferences" %}</a></li>

        {% if currentUser.featureEnabled("user.profile") %}
            <li><a class="XiboFormButton" href="{{ url_for("user.edit.profile.form") }}" title="{% trans "Edit Profile" %}">{% trans "Edit Profile" %}</a></li>
        {% endif %}

        <li><a id="reshowWelcomeMenuItem" href="{{ url_for("welcome.view") }}">{% trans "Reshow welcome" %}</a></li>
        {% if horizontalNav %}
            <li><a class="XiboFormButton" href="{{ url_for("about") }}" title="{% trans "About the CMS" %}">{% trans "About" %}</a></li>
        {% endif %}
        <li><a class="XiboHelpButton" href="{{ helpService.link() }}">{% trans "Help" %}</a></li>
        <li class="divider"></li>
        <li><a title="{% trans "Logout" %}" href="{{ logoutUrl }}">{% trans "Logout" %}</a></li>
    </ul>
</li>