<li class="dropdown nav-item item">
    <a id="navbarNotificationMenuLink" href="#" class="nav-link notification-drawer-icon" data-toggle="dropdown">
        <i class="fa fa-bell"></i> {% if notificationCount > 0 %}<span class="badge red">{{ notificationCount }}</span>{% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right notification-drawer">
        <h6 class="dropdown-header">{% trans "Notifications" %}</h6>
        {% if notifications|length > 0 %}
            <div class="dropdown-divider"></div>
        {% endif %}
        {% for notification in notifications %}
            {% if notification.notificationId %}
                <a class="XiboFormButton notification dropdown-item" href="{{ url_for("notification.show", {id: notification.notificationId}) }}"><span class="{% if notification.read %}notification-unread{% else %}notification-read{% endif %}">{{ notification.subject }} - <span class="notification-date">{{ notification.releaseDt }}</span></span></a>
            {% else %}
                <a href="#" class="notification dropdown-item"><span class="fa fa-exclamation-circle"></span> {{ notification.subject }} - <span class="notification-date">{{ notification.releaseDt }}</span></a>
            {% endif %}
        {% endfor %}

        {% if currentUser.featureEnabled("notification.centre") %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for("notification.view") }}">{% trans "Notification Centre" %}</a>
        {% endif %}
    </div>
</li>