{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for("home") }}">{% trans "Dashboard" %}</a></li>

    {% set countViewable = currentUser.featureEnabledCount(["schedule.view", "daypart.view"]) %}
    {% if countViewable > 0 %}
        {% if countViewable > 1 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Schedule" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}
                {% if currentUser.featureEnabled("schedule.view") %}
                    <li><a href="{{ url_for("schedule.view") }}">{% if countViewable > 1 %}{% trans "Schedule" %}{% else %}{% trans "Schedule" %}{% endif %}</a></li>
                {% endif %}
                {% if currentUser.featureEnabled("daypart.view") %}
                    <li><a href="{{ url_for("daypart.view") }}">{% trans "Dayparting" %}</a></li>
                {% endif %}
        {% if countViewable > 1 %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

    {% set countViewable = currentUser.featureEnabledCount(["campaign.view", "layout.view", "template.view", "resolution.view"]) %}
    {% if countViewable > 0 %}
        {% if countViewable > 1 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Design" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}
            {% if currentUser.featureEnabled("campaign.view") %}
                <li><a href="{{ url_for("campaign.view") }}">{% trans "Campaigns" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("layout.view") %}
                <li><a href="{{ url_for("layout.view") }}">{% trans "Layouts" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("template.view") %}
                <li><a href="{{ url_for("template.view") }}">{% trans "Templates" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("resolution.view") %}
                <li><a href="{{ url_for("resolution.view") }}">{% trans "Resolutions" %}</a></li>
            {% endif %}
        {% if countViewable > 1 %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

    {% set countViewable = currentUser.featureEnabledCount(["library.view", "playlist.view", "dataset.view"]) %}
    {% if countViewable > 0 %}
        {% if countViewable > 1 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Library" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}
            {% if currentUser.featureEnabled("playlist.view") %}
                <li><a href="{{ url_for("playlist.view") }}">{% trans "Playlists" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("library.view") %}
                <li><a href="{{ url_for("library.view") }}">{% trans "Media" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("dataset.view") %}
                <li><a href="{{ url_for("dataset.view") }}">{% trans "DataSets" %}</a></li>
            {% endif %}
        {% if countViewable > 1 %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

    {% set countViewable = currentUser.featureEnabledCount(["displays.view", "displaygroup.view", "displayprofile.view", "playersoftware.view", "command.view"]) %}
    {% if countViewable > 0 %}
        {% if countViewable > 1 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Displays" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}
            {% if currentUser.featureEnabled("displays.view") %}
                <li><a href="{{ url_for("display.view") }}">{% trans "Displays" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("displaygroup.view") %}
                <li><a href="{{ url_for("displaygroup.view") }}">{% trans "Display Groups" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("displayprofile.view") %}
                <li><a href="{{ url_for("displayprofile.view") }}">{% trans "Display Settings" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("playersoftware.view") %}
                <li><a href="{{ url_for("playersoftware.view") }}">{% trans "Player Versions" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("command.view") %}
                <li><a href="{{ url_for("command.view") }}">{% trans "Commands" %}</a></li>
            {% endif %}
        {% if countViewable > 1 %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

    {% if currentUser.featureEnabled("user.view") and (currentUser.isGroupAdmin() or currentUser.isSuperAdmin()) %}
        {% set userMenuViewable = true %}
    {% else %}
        {% set userMenuViewable = false %}
    {% endif %}

    {% set countViewable = currentUser.featureEnabledCount(["usergroup.view", "module.view", "transition.view", "task.view"]) %}
    {% if countViewable > 0 or userMenuViewable %}
        {% if countViewable > 1 or (countViewable == 1 and userMenuViewable) %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Administration" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}
            {% if userMenuViewable %}
                <li><a href="{{ url_for("user.view") }}">{% trans "Users" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("usergroup.view") %}
                <li><a href="{{ url_for("group.view") }}">{% trans "User Groups" %}</a></li>
            {% endif %}

            {% if currentUser.isSuperAdmin() %}
                <li><a href="{{ url_for("admin.view") }}">{% trans "Settings" %}</a></li>
            {% endif %}

            {% if currentUser.isSuperAdmin() %}
                <li><a href="{{ url_for("application.view") }}">{% trans "Applications" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("module.view") %}
                <li><a href="{{ url_for("module.view") }}">{% trans "Modules" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("transition.view") %}
                <li><a href="{{ url_for("transition.view") }}">{% trans "Transitions" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("task.view") %}
                <li><a href="{{ url_for("task.view") }}">{% trans "Tasks" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("tag.view") %}
                <li><a href="{{ url_for("tag.view") }}">{% trans "Tags" %}</a></li>
            {% endif %}
        {% if countViewable > 1 or (countViewable == 1 and userMenuViewable) %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

    {% set countViewable = currentUser.featureEnabledCount(["report.view", "report.scheduling", "report.saving"]) %}
    {% if countViewable > 0 %}
        {% if countViewable > 1 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Reporting" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}

            {% if currentUser.featureEnabled("report.view") %}
                <li><a href="{{ url_for("report.view") }}">{% trans "All Reports" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("report.scheduling") %}
                <li><a href="{{ url_for("reportschedule.view") }}">{% trans "Report Schedules" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("report.saving") %}
                <li><a href="{{ url_for("savedreport.view") }}">{% trans "Saved Reports" %}</a></li>
            {% endif %}

        {% if countViewable > 1 %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

    {% set countViewable = currentUser.featureEnabledCount(["log.view", "sessions.view", "auditlog.view", "fault.view", "help.view"]) %}
    {% if countViewable > 0 %}
        {% if countViewable > 1 %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Advanced" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
        {% endif %}
            {% if currentUser.featureEnabled("log.view") %}
                <li><a href="{{ url_for("log.view") }}">{% trans "Log" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("sessions.view") %}
                <li><a href="{{ url_for("sessions.view") }}">{% trans "Sessions" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("auditlog.view") %}
                <li><a href="{{ url_for("auditlog.view") }}">{% trans "Audit Trail" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("fault.view") %}
                <li><a href="{{ url_for("fault.view") }}">{% trans "Report Fault" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("help.view") %}
                <li><a href="{{ url_for("help.view") }}">{% trans "Help Links" %}</a></li>
            {% endif %}
        {% if countViewable > 1 %}
            </ul>
        </li>
        {% endif %}
    {% endif %}

</ul>