<li class="dropdown nav-item item">
    <a href="#" class="nav-link" data-toggle="dropdown" id="navbarUserMenu">
        <img class="nav-avatar" src="{{ theme.uri("img/avatar.jpg") }}" />
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserMenu">
        <h6 class="dropdown-header">{{ currentUser.userName }}<br/>
            <div id="XiboClock">{{ clock }}</div>
        </h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item XiboFormButton" href="{{ url_for("user.preferences.form") }}" title="{% trans "Preferences" %}">{% trans "Preferences" %}</a>

        {% if currentUser.featureEnabled("user.profile") %}
            <a class="dropdown-item XiboFormButton" href="{{ url_for("user.edit.profile.form") }}" title="{% trans "Edit Profile" %}">{% trans "Edit Profile" %}</a>
        {% endif %}

        <a class="dropdown-item XiboFormButton" href="{{ url_for("user.applications") }}" title="{% trans "View my authenticated applications" %}">{% trans "My Applications" %}</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="reshowWelcomeMenuItem" href="{{ url_for("welcome.view") }}">{% trans "Reshow welcome" %}</a>

        <a class="dropdown-item XiboFormButton" href="{{ url_for("about") }}" title="{% trans "About the CMS" %}">{% trans "About" %}</a>

        {% if not hideLogout %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" title="{% trans "Logout" %}" href="{{ logoutUrl }}">{% trans "Logout" %}</a>
        {% endif %}
    </div>
</li>