{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "base.twig" %}

{% block content %}
    {% set horizontalNav = currentUser.getOptionValue("navigationMenuPosition", theme.getSetting("NAVIGATION_MENU_POSITION", "vertical")) == "horizontal" %}
    {% set hideNavigation = currentUser.getOptionValue("hideNavigation", "0") %}
    <div {% if hideNavigation == "0" and not horizontalNav %}id="page-wrapper"{% endif %} class="active">

        {% if hideNavigation == "0" %}
            {% if horizontalNav %}
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">
                                <img class="xibo-logo" src="{{ theme.uri("img/xibologo.png") }}">
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            {% include "authed-topbar.twig" %}

                            <ul class="nav navbar-nav navbar-right">
                                {% include "authed-theme-topbar.twig" ignore missing %}
                                {% if currentUser.routeViewable("/drawer") %}
                                    {% include "authed-notification-drawer.twig" %}
                                {% endif %}
                                {% include "authed-user-menu.twig" %}
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {% else %}
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    {% include "authed-sidebar.twig" %}
                </div>
            {% endif %}
        {% endif %}

        <div id="content-wrapper">
            <div class="page-content">
                {% if not horizontalNav %}
                <div class="row header">
                    <div class="col-sm-12">
                        <div class="meta pull-left">
                            <div class="page"><img class="xibo-logo" src="{{ theme.uri("img/xibologo.png") }}"></div>
                        </div>
                        <div class="user pull-right">
                            <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% include "authed-user-menu.twig" %}
                        </div>
                        {% if currentUser.routeViewable("/drawer") %}
                        <div class="user pull-right">
                            {% include "authed-notification-drawer.twig" %}
                        </div>
                        {% endif %}
                        {% include "authed-theme-topbar.twig" ignore missing %}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        {% block actionMenu %}{% endblock %}
                        {% block pageContent %}{% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% block pageFooter %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScriptTemplates %}

    <script type="text/javascript">
        {% set userPreferences = currentUser.getUserOptions() %}
        var userPreferences = {{ userPreferences|json_encode|raw }};
        var userPreferencesUrl = "{{ url_for("user.pref") }}";

        // TODO: Change this to a call to all route permissions ( something like currentUser.getRoutePermissions() )
        var userRoutePermissions = {
            tags: "{{ currentUser.routeViewable('/tag') }}"
        };

        // Equals helper for the templates below
        Handlebars.registerHelper('eq', function(v1, v2, opts) {
            if (v1 === v2) {
                return opts.fn(this);
            } else {
                return opts.inverse(this);
            }
        });

        Handlebars.registerHelper('neq', function(v1, v2, opts) {
            if (v1 !== v2) {
                return opts.fn(this);
            } else {
                return opts.inverse(this);
            }
        });
    </script>

    {% verbatim %}
    <script type="text/x-handlebars-template" id="buttons-template">
        <div class="btn-group pull-right">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu">
                {{#each buttons}}
                    {{#if divider}}
                    <li class="divider"></li>
                    {{else}}
                        {{#if external}}
                        <li class="{{ id }}"><a tabindex="-1" target="{{ linkType }}" href="{{ url }}"{{#if title}} title="{{title}}"{{/if}}>{{ text }}</a></li>
                        {{/if}}

                        {{#unless external}}
                            <li {{#each dataAttributes}}
                                data-{{ name }}="{{ value }}"
                                {{/each}}
                                class="{{#if class}}{{ class }}{{else}}XiboFormButton{{/if}} {{ id }}" href="{{ url }}"{{#if title}} title="{{title}}"{{/if}}><a tabindex="-1" href="#">{{ text }}</a>
                            </li>
                        {{/unless}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="multiselect-button-template">
        <div class="btn-group">
            <button class="btn select-all" data-toggle="selectAll">
                {{ selectAll }}
            </button>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-caret-down"></span>
                {{ withSelected }}
            </button>
            <ul class="dropdown-menu">
                {{#each buttons}}
                    <li class="XiboMultiSelectFormButton" data-custom-handler="{{ customHandler }}" data-button-id="{{ id }}" data-grid-id="{{ gridId }}" data-content-type="{{ contentType }}" data-content-id-name="{{ contentIdName }}"><a tabindex="-1" href="#">{{ text }}</a></li>
                {{/each}}
            </ul>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="template-file-upload">
        <form method="post" enctype="multipart/form-data" data-max-file-size="{{ upload.maxSize }}" data-accept-file-types="/(\.|\/){{ upload.validExt }}$/i">
            {{#if playlistId}}
                <input type="hidden" name="playlistId" value="{{ playlistId }}" />
            {{/if}}
            {{#if widgetId}}
                <input type="hidden" name="widgetId" value="{{ widgetId }}" />
            {{/if}}
            {{#if oldMediaId}}
                <input type="hidden" name="oldMediaId" value="{{ oldMediaId }}" />
            {{/if}}
            {{#if displayOrder}}
                <input type="hidden" name="displayOrder" value="{{ displayOrder }}" />
            {{/if}}
            <div class="row fileupload-buttonbar">
                <div class="col-md-7">
                    <div class="well">
                        <p>{{ upload.maxSizeMessage }}</p>
                        {{#if upload.validExtensionsMessage}}
                            <p><strong>{{ upload.validExtensionsMessage }}</strong></p>
                        {{/if}}
                    </div>
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus glyphicon glyphicon-white"></i>
                        <span>{{ trans.addFiles }}</span>
                        {{#if oldMediaId }}
                        <input type="file" name="files[]" id="files">
                        {{else}}
                        <input type="file" name="files[]" id="files" multiple>
                        {{/if}}
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload glyphicon glyphicon-white"></i>
                        <span>{{ trans.startUpload }}</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-white"></i>
                        <span>{{ trans.cancelUpload }}</span>
                    </button>
                    <!-- The loading indicator is shown during file processing -->
                    <span class="fileupload-loading"></span>
                </div>
                <!-- The global progress information -->
                <div class="col-md-4 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                            <div class="sr-only"></div>
                        </div>
                    </div>
                    <!-- The extended global progress information -->
                    <div class="progress-extended">&nbsp;</div>
                    <!-- Processing info container -->
                    <div class="progress-end" style="display:none;">{{ trans.processing }}</div>
                </div>
            </div>
            {{#if oldMediaId}}
            <div class="row">
                <div class="col-md-12">
                    <label for="updateInLayouts">
                        <input type="checkbox" id="updateInLayouts" name="updateInLayouts" {{#if updateInAllChecked}}checked{{/if}}>
                        {{ trans.updateInLayouts.title }}
                    </label>
                    <span class="help-block">{{ trans.updateInLayouts.helpText }}</span>

                    <label for="deleteOldRevisions">
                        <input type="checkbox" id="deleteOldRevisions" name="deleteOldRevisions" {{#if deleteOldRevisionsChecked}}checked{{/if}}>
                        {{ trans.deleteOldRevisions.title }}
                    </label>
                    <span class="help-block">{{ trans.deleteOldRevisions.helpText }}</span>
                </div>
            </div>
            {{/if}}
            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        </form>
    </script>

    <!-- The template for simple upload -->
    <script id="template-upload-simple" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="size">{%=o.formatFileSize(file.size)%}</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                            <div class="sr-only"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload glyphicon glyphicon-white"></i>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-white"></i>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td class="title" title="Name">
                <label class="control-label" title="Optional media name" for="name">Name</label>
                <label for="name[]"><input name="name[]" type="text" id="name" value="" /></label>
                <div><span class="error"></span></div>
            </td>
            <td class="title" title="Tags">
                <label class="control-label" title="A comma separated list of tags to assign to this Media" for="tags">Tags</label>
                <label for="tags[]"><input name="tags[]" type="text" id="tags" value="" /></label>
                <div><span class="error"></span></div>
            </td>
            <td>
                <p class="size">{%=o.formatFileSize(file.size)%}</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                            <div class="sr-only"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload glyphicon glyphicon-white"></i>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle glyphicon glyphicon-white"></i>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
           <td>
                <p class="name" id="{%=file.storedas%}" status="{% if (file.error) { %}error{% } %}">
                    {%=file.name%}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">{%=file.error%}</span></div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
        </tr>
    {% } %}
    </script>

    <script type="text/x-handlebars-template" id="command-input-main-template">
        <input type="checkbox" class="show-command-preview pull-right" id="showCommandPreview{{ unique }}" name="showCommandPreview{{ unique }}" title="{% endverbatim %}{% trans "Show command preview!" %}{% verbatim %}">
        <label for="showCommandPreview{{ unique }}" class="pull-right show-command-preview-label">{% endverbatim %}{% trans "Show command preview!" %}{% verbatim %}</label>

        <select class="command-type form-control form-control-inline">
            {{#each types}}
                <option value="{{ @key }}" {{#eq @key ../type}}selected="selected"{{/eq}}>{{ this }}</option>
            {{/each}}
        </select>
        <div class="command-inputs panel panel-default"></div>

        <pre class="command-preview" data-invalid-message="{% endverbatim %}{% trans 'Invalid command!' %}{% verbatim %}">
            <code>
            <!-- your code here -->
            </code>
        </pre>
    </script>

    <script type="text/x-handlebars-template" id="command-input-freetext-template">
        <input class="free-text form-control form-control-inline" value="{{ initVal }}">
    </script>

    <script type="text/x-handlebars-template" id="command-input-tpv_led-template">
        <select name="tpv_ledCommand{{ unique }}" id="tpv_ledCommand{{ unique }}" class="tpv-led-command form-control form-control-inline" style="width:100%">
            <option value="off" {{#eq value "off"}}selected="selected"{{/eq}}>{% endverbatim %}{% trans "Off" %}{% verbatim %}</option>
            <option value="red" {{#eq value "red"}}selected="selected"{{/eq}}>{% endverbatim %}{% trans "Red" %}{% verbatim %}</option>
            <option value="green" {{#eq value "green"}}selected="selected"{{/eq}}>{% endverbatim %}{% trans "Green" %}{% verbatim %}</option>
            <option value="blue" {{#eq value "blue"}}selected="selected"{{/eq}}>{% endverbatim %}{% trans "Blue" %}{% verbatim %}</option>
            <option value="white" {{#eq value "white"}}selected="selected"{{/eq}}>{% endverbatim %}{% trans "White" %}{% verbatim %}</option>
        </select>
    </script>

    <script type="text/x-handlebars-template" id="command-input-rs232-template">
        <div class="form-group-command form-group-rs232">
            <input class="form-control form-control-inline rs232-text-input rs232-device-name" placeholder="{% endverbatim %}{% trans "Device Name/COM" %}{% verbatim %}" value="{{ value.cs.deviceName }}">
            <input class="form-control form-control-inline rs232-text-input rs232-baud-rate" placeholder="{% endverbatim %}{% trans "Baud Rate" %}{% verbatim %}" value="{{ value.cs.baudRate }}">
            <input class="form-control form-control-inline rs232-text-input rs232-data-bits" placeholder="{% endverbatim %}{% trans "Data Bits" %}{% verbatim %}" value="{{ value.cs.dataBits }}">
        </div>
        <div class="form-group-command form-group-rs232">
            <div class="col-xs-12 col-sm-6">
                <label for="rs232Parity{{ unique }}">{% endverbatim %}{% trans "Parity:" %}{% verbatim %}</label>
                <select name="rs232Parity{{ unique }}" id="rs232Parity{{ unique }}" class="rs232-parity form-control">
                    <option value="None" {{#eq value.cs.parity "None"}}selected="selected"{{/eq}}>None</option>
                    <option value="Odd" {{#eq value.cs.parity "Odd"}}selected="selected"{{/eq}}>Odd</option>
                    <option value="Even" {{#eq value.cs.parity "Even"}}selected="selected"{{/eq}}>Even</option>
                    <option value="Mark" {{#eq value.cs.parity "Mark"}}selected="selected"{{/eq}}>Mark</option>
                    <option value="Space" {{#eq value.cs.parity "Space"}}selected="selected"{{/eq}}>Space</option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-6">
                <label for="rs232StopBits{{ unique }}">{% endverbatim %}{% trans "Stop Bits:" %}{% verbatim %}</label>
                <select name="rs232StopBits{{ unique }}" id="rs232StopBits{{ unique }}" class="rs232-stop-bits form-control">
                    <option value="None" {{#eq value.cs.stopBits "None"}}selected="selected"{{/eq}}>None</option>
                    <option value="One" {{#eq value.cs.stopBits "One"}}selected="selected"{{/eq}}>One</option>
                    <option value="Two" {{#eq value.cs.stopBits "Two"}}selected="selected"{{/eq}}>Two</option>
                    <option value="OnePointFive" {{#eq value.cs.stopBits "OnePointFive"}}selected="selected"{{/eq}}>OnePointFive</option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-6">
                <label for="rs232Handshake{{ unique }}">{% endverbatim %}{% trans "Handshake:" %}{% verbatim %}</label>
                <select name="rs232Handshake{{ unique }}" id="rs232Handshake{{ unique }}" class="rs232-handshake form-control">
                    <option value="None" {{#eq value.cs.handshake "None"}}selected="selected"{{/eq}}>None</option>
                    <option value="XOnXOff" {{#eq value.cs.handshake "XOnXOff"}}selected="selected"{{/eq}}>XOnXOff</option>
                    <option value="RequestToSend" {{#eq value.cs.handshake "RequestToSend"}}selected="selected"{{/eq}}>RequestToSend</option>
                    <option value="RequestToSendXOnXOff" {{#eq value.cs.handshake "RequestToSendXOnXOff"}}selected="selected"{{/eq}}>RequestToSendXOnXOff</option>
                </select>
            </div>
            
            <div class="col-xs-12 col-sm-6">
                <label for="rs232HexSupport{{ unique }}">{% endverbatim %}{% trans "HexSupport:" %}{% verbatim %}</label>
                <select name="rs232HexSupport{{ unique }}" id="rs232HexSupport{{ unique }}" class="rs232-hex-support form-control">
                    <option value="0" {{#eq value.cs.hexSupport "0"}}selected="selected"{{/eq}}>0</option>
                    <option value="1" {{#eq value.cs.hexSupport "1"}}selected="selected"{{/eq}}>1</option>
                    <option value="default 0" {{#eq value.cs.hexSupport "default 0"}}selected="selected"{{/eq}}>default 0</option>
                </select>
            </div>
        </div>
        <div class="form-group-command form-group-rs232 command-group">
            <input class="form-control rs232-command" placeholder="{% endverbatim %}{% trans "Command" %}{% verbatim %}" value="{{ value.command }}">
        </div>
    </script>

    <script type="text/x-handlebars-template" id="command-input-intent-template">
        <div class="form-group-command">
            <label for="intentType{{ unique }}">{% endverbatim %}{% trans "Type:" %}{% verbatim %}</label>
            <select name="intentType{{ unique }}" id="intentType{{ unique }}" class="intent-type form-control form-control-inline">
                <option value="activity" {{#eq value.type "activity"}}selected="selected"{{/eq}}>activity</option>
                <option value="service" {{#eq value.type "service"}}selected="selected"{{/eq}}>service</option>
                <option value="broadcast" {{#eq value.type "broadcast"}}selected="selected"{{/eq}}>broadcast</option>
            </select>
        </div>

        <div class="form-group-command">
            <label for="intentExtraContainer{{ unique }}" class="intent-extra-container-label">{% endverbatim %}{% trans "Extra:" %}{% verbatim %}</label>
            <button class="intent-add-extra btn btn-info btn-sm pull-right" type="button">
                <i class="fa fa-plus"></i>
            </button>

            <div id="intentExtraContainer{{ unique }}" class="intent-extra-container"></div>
        </div>
    </script>

    <script type="text/x-handlebars-template" id="command-input-intent-extra-template">
        <div class="intent-extra-element">
            <input class="form-control form-control-inline extra-name" placeholder="{% endverbatim %}{% trans "Name" %}{% verbatim %}" value="{{ name }}">
            <select class="form-control form-control-inline extra-type">
                <option value="string" {{#eq type "string"}}selected="selected"{{/eq}}>string</option>
                <option value="int" {{#eq type "int"}}selected="selected"{{/eq}}>int</option>
                <option value="bool" {{#eq type "bool"}}selected="selected"{{/eq}}>bool</option>
                <option value="intArray" {{#eq type "intArray"}}selected="selected"{{/eq}}>intArray</option
            </select>
            <input class="form-control form-control-inline extra-value" placeholder="{% endverbatim %}{% trans "Value" %}{% verbatim %}" value="{{ value }}">
            <button type="button" class="btn btn-sm btn-warning pull-right intent-remove-extra"><i class="fa fa-minus fa-plus"></i></button>
        </div>
    </script>
    {% endverbatim %}

    <script type="text/x-handlebars-template" id="layout-background-image-upload-template">
        <form method="post" action="{{ url_for("library.add") }}" enctype="multipart/form-data" data-max-file-size="{{ libraryUpload.maxSize }}" data-accept-file-types="/(\.|\/){{ libraryUpload.validImageExt }}$/i">
            <div class="row">
                <div class="text-center">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus glyphicon glyphicon-white"></i>
                        <span>{% trans "Browse/Add image" %}</span>
                        <input type="file" name="files[]">
                    </span>
                    <span class="btn btn-danger fileinput-close-button">
                        <i class="glyphicon glyphicon-remove glyphicon glyphicon-white"></i>
                    </span>
                </div>

                <div class="upload-table-container">
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                </div>

                <div>
                    <span class="fileupload-loading"></span>
                    <div class="fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                <div class="sr-only"></div>
                            </div>
                        </div>
                        <!-- The extended global progress information -->
                        <div class="progress-extended">&nbsp;</div>
                        <!-- Processing info container -->
                        <div class="progress-end" style="display:none;">{% trans "Processing..." %}</div>
                    </div>
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars-template" id="attachment-upload-template">
        <form method="post" action="{{ url_for("notification.addattachment") }}" enctype="multipart/form-data" data-max-file-size="{{ libraryUpload.maxSize }}" data-accept-file-types="/(\.|\/)jpg|jpeg|png|bmp|gif|zip|pdf$/i">
            <div class="row">
                <div class="text-center">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus glyphicon glyphicon-white"></i>
                        <span>{% trans "Browse/Add attachment" %}</span>
                        <input type="file" name="files[]">
                    </span>
                    <span class="btn btn-danger hidden fileinput-close-button">
                        <i class="glyphicon glyphicon-remove glyphicon glyphicon-white"></i>
                    </span>
                </div>

                <div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                </div>

                <div>
                    <span class="fileupload-loading"></span>
                    <div class="fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                                <div class="sr-only"></div>
                            </div>
                        </div>
                        <!-- The extended global progress information -->
                        <div class="progress-extended">&nbsp;</div>
                        <!-- Processing info container -->
                        <div class="progress-end" style="display:none;">{% trans "Processing..." %}</div>
                    </div>
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars-template" id="multiselect-tag-edit-form-template">
        <form id="multiselectTagEditForm" data-gettag="{{ url_for("tag.getByName") }}">
            <input type="hidden" id="requestURL" name="requestURL" value="{{ url_for('tag.editMultiple', {type: '[type]'}) }}">
            <div class="form-group tags-with-value tags-input-wide row">
                <label class="col-sm-2 control-label" for="tagsToAdd">{% trans "Add new tags" %}</label>
                <div class="col-sm-10">
                    <input class="form-control" name="tagsToAdd" type="email" id="tagsToAdd" data-role="tagsInputForm" data-auto-complete-url="{{ url_for('tag.search') }}" />
                    <span class="help-block">{% trans "A comma separated list of tags to add to the selected elements." %}</span>
                </div>
            </div>

            <p id="loadingValues" style="margin-left: 17%"></p>

            <div class="form-group row">
                <label class="col-sm-2 control-label" for="tagValue" title="" accesskey="">{% trans "Tag value" %}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="tagValue" id="tagValue"></select>
                </div>
            </div>

            <div id="tagValueContainer" style="display: none;">
                <div class="form-group row">
                    <label class="col-sm-2 control-label" for="tagValueInput" accesskey="">{% trans "Tag value" %}</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="tagValueInput" type="text" id="tagValueInput" value="">
                        <span class="help-block">{% trans "Provide an optional Value for this Tag. If no Value is required, this field can be left blank." %}</span>
                    </div>
                </div>
            </div>

            <div id="tagValueRequired" class="alert alert-info hidden">
                <p>{% trans "This tag requires a set value, please select one from the Tag value dropdown or provide Tag value in the dedicated field." %}</p>
            </div>

            <div id="tagsToRemoveContainer" class="form-group tags-with-value tags-input-wide row">
                <label class="col-sm-2 control-label" for="tagsToRemove">{% trans "Remove existing tags" %}</label>
                <div class="col-sm-10">
                    <input class="form-control" name="tagsToRemove" type="email" id="tagsToRemove" data-role="tagsInputForm" data-auto-complete-url="{{ url_for('tag.search') }}" />
                    <span class="help-block">{% trans "Remove tags from the list to remove them from elements that contain them." %}</span>
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars-template" id="display-status-window-template">
        <div style="margin-top:5px; max-height: 400px; overflow-y: auto;">
            {% verbatim %}
            {{#if data}}
            {% endverbatim %}
            {% trans "Player Status Window"%}:
            {% verbatim %}
                {{#eq type "android"}}
                    <div class="well">
                          <span>{{{data}}}</span>
                    </div>
                {{/eq}}
                {{#neq type "android"}}
                    <div class="well">
                        <ul>
                            {{#each data as |value key|}}
                            <li>{{key}}: {{value}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/eq}}
            {{/if}}
            {% endverbatim %}
        </div>
    </script>

{% endblock %}