<!DOCTYPE html>
<html lang="{{ translate.jsShortLocale }}">
    <head>
        <title>{{ theme.getThemeConfig("theme_title") }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="token" content="{{ csrfToken }}"/>
        <meta name="public-path" content="{{ theme.rootUri() }}"/>
        <link rel="shortcut icon" href="{{ theme.uri("img/favicon.ico") }}" />
        <link href="{{ urlFor("library.font.css") }}" rel="stylesheet">
        
        {# Import CSS bundle from dist #}
        <script src="{{ theme.rootUri() }}dist/style.bundle.min.js?{{ version }}"></script>

        {# Import user made CSS from theme #}
        <link href="{{ theme.uri("css/dashboard.css") }}?{{ version }}" rel="stylesheet" media="screen">
        <link href="{{ theme.uri("css/timeline.css") }}?{{ version }}" rel="stylesheet" media="screen">
        <link href="{{ theme.uri("css/xibo.css") }}?{{ version }}" rel="stylesheet" media="screen">
        <link href="{{ theme.uri("css/calendar.css") }}?{{ version }}" rel="stylesheet" media="screen">
        <link href="{{ theme.uri("css/override.css") }}?{{ version }}" rel="stylesheet" media="screen">
        <link href="{{ theme.uri("css/print.css") }}?{{ version }}" rel="stylesheet">
        <link href="{{ urlFor("library.font.css") }}" rel="stylesheet">
        <!-- Copyright 2006-2021 Xibo Signage Ltd. Part of the Xibo Open Source Digital Signage Solution. Released under the AGPLv3 or later. -->
        <!-- Please be sure you read this before removing the Source/About links from your theme: http://bit.ly/agplv3 -->
        {% block headContent %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript">
            var calendar_type = "{{ settings.CALENDAR_TYPE }}";
            var jsLocale = "{{ translate.jsLocale }}";
            var jsShortLocale = "{{ translate.jsShortLocale }}";
        </script>

        {# Import JS bundle from dist #}
        <script src="{{ theme.rootUri() }}dist/vendor.bundle.min.js?{{ version }}"></script>

        {# Import JS system tools #}
        <script src="{{ theme.rootUri() }}dist/systemTools.bundle.min.js?{{ version }}"></script>

        {# jquery-file-upload #}
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/tmpl.min.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-load-image/load-image.all.min.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.iframe-transport.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-process.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-resize.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-validate.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-ui.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-image.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-video.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/jquery-file-upload/js/jquery.fileupload-audio.js?{{ version }}"></script>

        {# Import libraries copied to dist #}
        <script src="{{ theme.rootUri() }}dist/vendor/ckeditor/ckeditor.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/vendor/bootstrap-fix/bootstrap-ckeditor-fix.js?{{ version }}"></script>

        {# Import XIBO js files #}
        <script src="{{ theme.rootUri() }}dist/core/xibo-cms.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/core/xibo-forms.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/core/xibo-preview-timeline.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/core/xibo-calendar.js?{{ version }}"></script>
        <script src="{{ theme.rootUri() }}dist/core/xibo-datasets.js?{{ version }}"></script>


        {# Dates #}
        {% if settings.CALENDAR_TYPE == "Jalali" %}
            <script src="{{ theme.rootUri() }}dist/vendor/bootstrap-datetimepicker/js/jalali-date.js?{{ version }}"></script>
            <script src="{{ theme.rootUri() }}dist/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker-jalali.min.js?{{ version }}"></script>
            <script src="{{ theme.rootUri() }}dist/vendor/calendar/js/calendar-jalali.js?{{ version }}"></script>
            <script type="text/javascript">
                moment.loadPersian();
            </script>
        {% else %}
            <script src="{{ theme.rootUri() }}dist/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?{{ version }}"></script>
            <script src="{{ theme.rootUri() }}dist/vendor/calendar/js/calendar.js?{{ version }}"></script>
        {% endif %}

        {# Handle the inclusion of i18n #}
        {% set calendarTranslation %}dist/vendor/calendar/js/language/{{ translate.jsShortLocale }}.js{% endset %}
        {% if theme.fileExists(calendarTranslation) %}
            <script src="{{ theme.rootUri() }}{{ calendarTranslation }}"></script>
        {% endif %}

        {% set datePickerTranslation %}dist/vendor/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.{{ translate.jsShortLocale }}.js{% endset %}
        {% if theme.fileExists(datePickerTranslation) %}
            <script src="{{ theme.rootUri() }}{{ datePickerTranslation }}"></script>
        {% endif %}

        <script type="text/javascript">

            var translations = {{ translations|raw }};
            // Translations we want always available
            {% autoescape "js" %}
            translations.withselected = "{{ "With Selected"|trans }}";
            translations.selectAll = "{{ "Select All"|trans }}";
            translations.multiselect = "{{ "Multiple Items Selected"|trans }}";
            translations.multiselectNoItemsMessage = "{{ "Sorry, no items have been selected."|trans }}";
            translations.multiselectMessage = "{{ "Caution, you have selected %1 items. Clicking save will run the %2 transaction on all these items."|trans }}";
            translations.validExtensions = "{{ "Valid Extensions"|trans }}";
            translations.save = "{{ "Save"|trans }}";
            translations.cancel = "{{ "Cancel"|trans }}";
            translations.close = "{{ "Close"|trans }}";
            translations.success = "{{ "Success"|trans }}";
            translations.failure = "{{ "Failure"|trans }}";
            translations.enterText = "{{ "Enter text..."|trans }}";
            translations.noDataMessage = "{{ "No Data returned from the source"|trans }}";
            translations.statusPending = "{{ "Status Pending"|trans }}";
            translations.duplicate = "{{ "Duplicate"|trans }}";
            translations.deleteRecurring = "{{ "Delete from Schedule"|trans }}";
            translations.spacesWarning = "{{ "Warning - starts with or ends with a space, or contains double spaces"|trans }}";
            translations.done = "{{ "Done"|trans }}";
            translations.tagInputValueHelpText = "{{ "Provide an optional Value for this Tag. If no Value is required, this field can be left blank"|trans }}";
            translations.tagInputValueRequiredHelpText = "{{ "Please provide the value for this Tag and confirm by pressing enter on your keyboard."|trans }}";
            translations.dayPartExceptionErrorMessage = "{{ "You already set an exception for this day."|trans }}";
            {% endautoescape %}

            var language = "{{ translate.jsLocale }}";
            var timezone = "{{ settings.defaultTimezone }}";
            var dateFormat = "{{ settings.DATE_FORMAT }}";
            var jsDateFormat = "{{ settings.DATE_FORMAT_JS }}";
            var timeFormat = "{{ settings.TIME_FORMAT }}";
            var jsTimeFormat = "{{ settings.TIME_FORMAT_JS }}";
            var systemDateFormat = "{{ settings.systemDateFormat }}";
            var systemTimeFormat = "{{ settings.systemTimeFormat }}";
            var bootstrapDateFormat = "{{ settings.DATE_FORMAT_BOOTSTRAP }}";
            var bootstrapDateFormatDateOnly = "{{ settings.DATE_FORMAT_BOOTSTRAP_DATEONLY }}";
            var calendarType = "{{ settings.CALENDAR_TYPE }}";
            var clockUrl = "{{ urlFor("clock") }}";
            var calendarLanguage = "{{ translate.jsShortLocale }}";
            var pingUrl = "{{ urlFor("ping") }}";

            {% autoescape "js" %}
            var dataTablesLanguage = {
                "decimal":        "",
                "emptyTable":     "{{ "No data available in table"|trans }}",
                "info":           "{{ "Showing _START_ to _END_ of _TOTAL_ entries"|trans }}",
                "infoEmpty":      "{{ "Showing 0 to 0 of 0 entries"|trans }}",
                "infoFiltered":   "{{ "(filtered from _MAX_ total entries)"|trans }}",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "{{ "Show _MENU_ entries"|trans }}",
                "loadingRecords": "{{ "Loading..."|trans }}",
                "processing":     "{{ "Processing..."|trans }}",
                "search":         "{{ "Search:"|trans }}",
                "zeroRecords":    "{{ "No matching records found"|trans }}",
                "paginate": {
                    "first":      "{{ "First"|trans }}",
                    "last":       "{{ "Last"|trans }}",
                    "next":       "{{ "Next"|trans }}",
                    "previous":   "{{ "Previous"|trans }}"
                },
                "aria": {
                    "sortAscending":  "{{ ": activate to sort column ascending"|trans }}",
                    "sortDescending": "{{ ": activate to sort column descending"|trans }}"
                },
                "buttons": {
                    "colvis":  "{{ "Column visibility"|trans }}",
                    "print": "{{ "Print"|trans }}"
                }
            };
            {% endautoescape %}

            moment.locale("{{ translate.jsLocale }}");

            $(function() {
                var csrf_token = $('meta[name="token"]').attr('content');
                $.ajaxSetup({
                    headers: {
                        'X-XSRF-TOKEN': csrf_token
                    }
                });
            });

            toastr.options.positionClass = "toast-bottom-center";

            // CKEditor default config
            var CKEDITOR_DEFAULT_CONFIG = {
                contentsCss: [ CKEDITOR.getUrl('contents.css'), "{{ urlFor("library.font.css") }}" ],
                font_names: '{{ ckeditorConfig }}' + CKEDITOR.config.font_names,
                imageDownloadUrl: "{{ urlFor("library.download") }}?preview=1"
            }

        </script>

        {% block javaScriptTemplates %}{% endblock %}
        {% block javaScript %}{% endblock %}

        {% include "theme-javascript.twig" ignore missing %}

        {% include "user-welcome.twig" %}

    </body>
</html>
