<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ theme.getThemeConfig("theme_title") }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="token" content="{{ csrfToken }}"/>
        <meta name="public-path" content="{{ theme.rootUri() }}"/>
        <link rel="shortcut icon" href="{{ theme.uri("img/favicon.ico") }}" />

        {# Import CSS bundle from dist #}
        <script src="{{ theme.rootUri() }}dist/style.bundle.min.js?v={{ version }}&rev={{revision}}" nonce="{{ cspNonce }}"></script>
        <link href="{{ theme.uri("css/xibo.css") }}?v={{ version }}&rev={{revision}}" rel="stylesheet" media="screen">
        <link href="{{ theme.uri("css/install.css") }}" rel="stylesheet" media="screen">
    </head>

    <body>
        <!-- Copyright 2006-2021 Xibo Signage Ltd. Part of the Xibo Open Source Digital Signage Solution. Released under the AGPLv3 or later. -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    {% set themeName = theme.getThemeConfig("app_name") %}
                    {% set header %}{% trans %}{{ themeName }} Installation{% endtrans %}{% endset %}
                    <a class="navbar-brand" href="#">{{ header }}</a>
                </div>
            </div>
        </div>

        {% block jumboTron %}

        {% endblock %}

        <div class="container main-container">
            {% if session.error %}
                <div class="alert alert-danger">
                    {{ session['error'] }}
                </div>
            {% endif %}

            {% block stepContent %}

            {% endblock %}
        </div>

        <div class="footer">
            <div class="container text-center">
                <img class="logo" src="{{ theme.uri("img/xibologo.png") }}">
            </div>
        </div>

        <script src="{{ theme.rootUri() }}dist/vendor.bundle.min.js?v={{ version }}&rev={{revision}}" nonce="{{ cspNonce }}"></script>
        <script src="{{ theme.rootUri() }}dist/core/install.js?v={{ version }}&rev={{revision}}" nonce="{{ cspNonce }}"></script>
    </body>
</html>