{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Campaign" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, campaignFormSubmit($('#campaignAddForm'))
{% endblock %}

{% block callBack %}campaignAddFormOpen{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="campaignAddForm" class="XiboForm form-horizontal" method="post" action="{{ url_for("campaign.add") }}"
                  data-submit-call-back="campaignAddFormSubmitCallback"
                  data-edit-form-url="{{ url_for("campaign.edit.form", {id: ":id"}) }}"
                  data-gettag="{{ url_for("tag.getByName") }}">
                {% if currentUser.featureEnabled('folder.view') %}
                <div class="form-group row">
                    <label class="col-sm-2 control-label">{% trans "Folder" %}</label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-info" id="select-folder-button" data-toggle="modal" data-target="#folder-tree-form-modal">{% trans "Select Folder" %}</button>
                        <span id="selectedFormFolder"></span>
                    </div>
                </div>
                {{ forms.hidden('folderId') }}
                {% endif %}

                {% if currentUser.featureEnabled('ad.campaign') %}
                {% set title %}{% trans "Type" %}{% endset %}
                {% set helpText %}{% trans "What type of Campaign would you like to create?" %}{% endset %}
                {% set options = [
                    { id: "list", name: "Layout list"|trans },
                    { id: "ad", name: "Ad Campaign"|trans }
                ] %}
                {{ forms.dropdown("type", "single", title, "both", options, "id", "name", helpText) }}
                {% endif %}

                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "The Name for this Campaign" %}{% endset %}
                {{ forms.input("name", title, "", helpText) }}

                {% if currentUser.featureEnabled("tag.tagging") %}
                    {% set title %}{% trans "Tags" %}{% endset %}
                    {% set helpText %}{% trans "Tags for this Campaign - Comma separated string of Tags or Tag|Value format. If you choose a Tag that has associated values, they will be shown for selection below." %}{% endset %}
                    {{ forms.inputWithTags("tags", title, "", helpText, 'tags-with-value') }}

                    <p id="loadingValues" style="margin-left: 17%"></p>

                    {% set title %}{% trans "Tag value" %}{% endset %}
                    {{ forms.dropdown("tagValue", "single", title, "", options, "key", "value") }}

                    <div id="tagValueContainer">
                        {% set title %}{% trans "Tag value" %}{% endset %}
                        {% set helpText %}{% trans "Please provide the value for this Tag and confirm by pressing enter on your keyboard." %}{% endset %}
                        {{ forms.input("tagValueInput", title, "", helpText) }}
                    </div>

                    <div id="tagValueRequired" class="alert alert-info">
                        <p>{% trans "This tag requires a set value, please select one from the Tag value dropdown or provide Tag value in the dedicated field." %}</p>
                    </div>
                {% endif %}

                {% set title %}{% trans "Enable cycle based playback" %}{% endset %}
                {% set helpText %}{% trans "When cycle based playback is enabled only 1 Layout from this Campaign will be played each time it is in a Schedule loop. The same Layout will be shown until the 'Play count' is achieved." %}{% endset %}
                {{ forms.checkbox("cyclePlaybackEnabled", title, 0, helpText, "campaign-type-list", null, false, "input-cycle-playback-enabled") }}

                {% set title %}{% trans "Play count" %}{% endset %}
                {% set helpText %}{% trans "In cycle based playback, how many plays should each Layout have before moving on?" %}{% endset %}
                {{ forms.number("playCount", title, "", helpText, "cycle-based-playback campaign-type-list") }}

                {% set title %}{% trans "List play order" %}{% endset %}
                {% set helpText %}{% trans "When this campaign is scheduled alongside another campaign with the same display order, how should the layouts in both campaigns be ordered?" %}{% endset %}
                {% set options = [
                    { id: "round", name: "Round-robin"|trans },
                    { id: "block", name: "Block"|trans },
                ] %}
                {{ forms.dropdown("listPlayOrder", "single", title, "round", options, "id", "name", helpText, "campaign-type-list no-cycle-based-playback") }}

                {% set title %}{% trans "Target Type" %}{% endset %}
                {% set helpText %}{% trans "How would you like to set the target for this campaign?" %}{% endset %}
                {% set options = [
                    { id: "plays", name: "Plays"|trans },
                    { id: "budget", name: "Budget"|trans },
                    { id: "imp", name: "Impressions"|trans },
                ] %}
                {{ forms.dropdown("targetType", "single", title, "both", options, "id", "name", helpText, "campaign-type-ad") }}

                {% set title %}{% trans "Target" %}{% endset %}
                {% set helpText %}{% trans "What is the target number for this Campaign over its entire playtime" %}{% endset %}
                {{ forms.number("target", title, null, helpText, "campaign-type-ad") }}
            </form>
        </div>
    </div>
{% endblock %}
