{% macro welcomeCard(title, iconName) %}
    <div class="onboarding-card">
        <h3>{{ title |  raw }}</h3>
        <div>
            <img class="onboarding-card-icon" style="height: 27px; width: auto;" src="{{ theme.rootUri() }}theme/default/img/onboarding/{{iconName}}.svg" alt={{iconName}}>
        </div>
    </div>
{% endmacro %}

{% macro serviceCard(title, text, firstLink, secondLink, imageUrl, otherLink="") %}
    <div class="service-card">
        <img class="service-card-image" src="{{ theme.rootUri() }}theme/default/img/onboarding/{{ imageUrl }}.png" alt="{{ imageUrl }}">
        <div class="service-card-text">
            <h3>{{ title }}</h3>
            <p>{{ text | raw }}</p>
            <div class="d-flex align-items-center" style="column-gap: 8px;">
               
                {% if title == "Existing Content" %}
                    <a href="{{firstLink}}" type="button" class="btn-rounded btn-orange" style="font-size: 16px;">Upload Content</a>
                    <a href="{{secondLink}}" type="button" class="btn-rounded btn-outlined" style="font-size: 16px;" target="_blank">Schedule Content</a>    
                    <a href="{{ otherLink }}" class="optional-link" target="_blank">Learn More</a>
                {%else%}
                    <a href="{{firstLink}}" type="button" class="btn-rounded btn-orange" style="font-size: 16px;">Get Started</a>
                    <a href="{{secondLink}}" type="button" class="btn-rounded btn-outlined" style="font-size: 16px;" target="_blank">Learn More</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}



{% macro othersCard(title, text, links, iconName) %}
    <div class="others-card">
        <img class="others-card-icon" style="height: 50px; width: auto;" src="{{ theme.rootUri() }}theme/default/img/onboarding/{{iconName}}.svg" alt="{{ iconName }}">
        <h3>{{title}}</h3>
        <p>{{text}}</p>
        <div class="links-list">
            {{ links | raw }}
        </div>
    </div>
{% endmacro %}



