{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
    {% include "theme-dashboard-message.twig" ignore missing %}
    <div id="dashbuttons">
        {% if currentUser.featureEnabled("schedule.view") %}
            <div class="dashicons">
                <a href="{{ url_for("schedule.view") }}">
                    <img src="{{ theme.uri("img/dashboard/scheduleview.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Schedule" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.featureEnabled("layout.view") %}
            <div class="dashicons">
                <a href="{{ url_for("layout.view") }}">
                    <img src="{{ theme.uri("img/dashboard/presentations.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Layouts" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.featureEnabled("library.view") %}
            <div class="dashicons">
                <a href="{{ url_for("library.view") }}">
                    <img src="{{ theme.uri("img/dashboard/content.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Library" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.featureEnabled("template.view") %}
            <div class="dashicons">
                <a href="{{ url_for("template.view") }}">
                    <img src="{{ theme.uri("img/dashboard/layouts.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Templates" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.featureEnabled("users.view") and (currentUser.isGroupAdmin() or currentUser.isSuperAdmin()) %}
            <div class="dashicons">
                <a href="{{ url_for("user.view") }}">
                    <img src="{{ theme.uri("img/dashboard/users.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Users" %}</span>
                </a>
            </div>
        {% endif %}

        {% if currentUser.isSuperUser() %}
            <div class="dashicons">
                <a href="{{ url_for("admin.view") }}">
                    <img src="{{ theme.uri("img/dashboard/settings.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Settings" %}</span>
                </a>
            </div>
        {% endif %}

        <div class="dashicons">
            <a href="{{ url_for("license.view") }}">
                <img src="{{ theme.uri("img/dashboard/license.png") }}" class="dash_button" />
                <span class="dash_text">{% trans "About" %}</span>
            </a>
        </div>

        {% if currentUser.featureEnabled("troubleshooting.fault") %}
            <div class="dashicons">
                <a href="{{ url_for("fault.view") }}">
                    <img src="{{ theme.uri("img/dashboard/help.png") }}" class="dash_button" />
                    <span class="dash_text">{% trans "Report Fault" %}</span>
                </a>
            </div>
        {% endif %}

    </div>
{% endblock %}