{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set dataSetName = dataSet.dataSet %}
    {% trans %}Copy {{ dataSetName }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#dataSetCopyForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="dataSetCopyForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("dataSet.copy", {"id": dataSet.dataSetId}) }}">
                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "A name for this DataSet" %}{% endset %}
                {% set dataSetName %}{{ dataSet.dataSet }} 2{% endset %}
                {{ forms.input("dataSet", title, dataSetName, helpText, "", "required") }}

                {% set title %}{% trans "Description" %}{% endset %}
                {% set helpText %}{% trans "An optional description" %}{% endset %}
                {{ forms.input("description", title, "", helpText) }}

                {% set title %}{% trans "Code" %}{% endset %}
                {% set helpText %}{% trans "A code which can be used to lookup this DataSet - usually for an API application" %}{% endset %}
                {{ forms.input("code", title, "", helpText) }}

                {% set title %}{% trans "Copy rows?" %}{% endset %}
                {% set helpText %}{% trans "Should we copy all the row data from the original dataSet?" %}{% endset %}
                {{ forms.checkbox("copyRows", title, 0, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}