{#
/**
 * Copyright (C) 2019 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set name = displayGroup.displayGroup %}
    {% trans %}Copy {{ name }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#displayGroupCopyForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="displayGroupCopyForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("displayGroup.copy", {id: displayGroup.displayGroupId}) }}">
                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "The Name for this Display Profile" %}{% endset %}
                {% set name %}{{ displayGroup.displayGroup }} 2{% endset %}
                {{ forms.input("displayGroup", title, name, helpText,"","required") }}

                {% set title %}{% trans "Description" %}{% endset %}
                {% set helpText %}{% trans "The description for this Display Profile" %}{% endset %}
                {% set description %}{{ displayGroup.description }}{% endset %}
                {{ forms.input("description", title, description, helpText) }}

                {% if displayGroup.isDynamic == 0 %}
                    {% set title %}{% trans "Copy Memebers?" %}{% endset %}
                    {% set helpText %}{% trans "Should we copy all members to the new Display Group?" %}{% endset %}
                    {{ forms.checkbox("copyMembers", title, 0, helpText) }}
                {% endif %}

                {% set title %}{% trans "Copy Assignments?" %}{% endset %}
                {% set helpText %}{% trans "Should we copy all file and layout assignments to the new Display Group?" %}{% endset %}
                {{ forms.checkbox("copyAssignments", title, 0, helpText) }}

                {% set title %}{% trans "Copy Tags?" %}{% endset %}
                {% set helpText %}{% trans "Should we copy all tags to the new Display Group?" %}{% endset %}
                {{ forms.checkbox("copyTags", title, 0, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}