{#
/**
 * Copyright (C) 2019 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Profile" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#displayProfileAddForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="displayProfileAddForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("displayProfile.add") }}"
                  data-next-form-url="{{ urlFor("displayProfile.edit.form") }}">
                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "The Name for this Display Profile" %}{% endset %}
                {{ forms.input("name", title, "", helpText,"","required") }}

                {% set title %}{% trans "Display Type" %}{% endset %}
                {% set helpText %}{% trans "What type of display is this profile intended for?" %}{% endset %}
                {% set windows %}{% trans "Windows" %}{% endset %}
                {% set android %}{% trans "Android" %}{% endset %}
                {% set linux %}{% trans "Linux" %}{% endset %}
                {% set sssp %}{% trans "Tizen" %}{% endset %}
                {% set lg %}{% trans "webOS" %}{% endset %}
                {% set options = [
                    { typeid: "android", type: android },
                    { typeid: "linux", type: linux },
                    { typeid: "sssp", type: sssp },
                    { typeid: "lg", type: lg },
                    { typeid: "windows", type: windows }
                ] %}
                {{ forms.dropdown("type", "single", title,"", options, "typeid","type", helpText) }} 

                {% set title %}{% trans "Default Profile?" %}{% endset %}
                {% set helpText %}{% trans "Is this the default profile for all Displays of this type? Only 1 profile can be the default." %}{% endset %}
                {{ forms.checkbox("isDefault", title, isDefault, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}