{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block actionMenu %}
    <ul class="nav nav-pills pull-right">
        <li><a class="XiboFormButton" title="{% trans "Add a new Display Group" %}" href="{{ urlFor("displayGroup.add.form") }}">{% trans "Add Display Group" %}</a></li>
    </ul>
{% endblock %}


{% block pageContent %}
    <div class="widget">
        <div class="widget-title">{% trans "Display Groups" %}</div>
        <div class="widget-body">
            <div class="XiboGrid" id="{{ random() }}">
                <div class="XiboFilter">
                    <div class="FilterDiv" id="Filter">
                        <form class="form-inline">
                            {{ inline.checkbox("XiboFilterPinned", "Keep Open", defaults.filterPinned) }}
                        </form>
                    </div>
                </div>
                <div class="XiboData">
                    <table id="displaygroups" class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Description" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
    <script type="text/javascript">
        var table = $("#displaygroups").DataTable({
            serverSide: true,
            "filter": false,
            searchDelay: 3000,
            "order": [[ 1, "asc"]],
            ajax: {
                "url": "{{ urlFor("displayGroup.search") }}",
                "data": function(d) {
                    $.extend(d, $("#displaygroups").closest(".XiboGrid").find(".FilterDiv form").serializeObject());
                }
            },
            "columns": [
                { "data": "displayGroup" },
                { "data": "description" },
                {
                    "orderable": false,
                    "data": dataTableButtonsColumn
                }
            ]
        });

        table.on('draw', dataTableDraw);
        table.on('processing.dt', dataTableProcessing);

        // Callback for the media form
        function mediaFormCallBack() {
            var mediaTable = $("#mediaAssignments").DataTable({
                serverSide: true,
                searchDelay: 3000,
                "order": [[ 0, "asc"]],
                "filter": false,
                ajax: {
                    "url": "{{ urlFor("library.search") }}",
                    "data": function(d) {
                        $.extend(d, $("#mediaAssignments").closest(".XiboGrid").find(".FilterDiv form").serializeObject());
                    }
                },
                "columns": [
                    { "data": "name" },
                    { "data": "mediaType" },
                    {
                        "sortable": false,
                        "data": function(data, type, row, meta) {
                            if (type != "display")
                                return "";

                            // Create a click-able span
                            return "<a href=\"#\" class=\"assignItem\"><span class=\"glyphicon glyphicon-plus-sign\"></a>";
                        }
                    }
                ]
            });

            mediaTable.on('draw', function (e, settings) {
                dataTableDraw(e, settings);

                // Clicky on the +spans
                $(".assignItem", "#mediaAssignments").click(function() {
                    // Get the row that this is in.
                    var data = mediaTable.row($(this).closest("tr")).data();

                    // Construct a new list item for the lower list and append it.
                    var newItem = $("<li/>", {
                        "text": data.name,
                        "data-media-id": data.mediaId,
                        "class": "li-sortable",
                        "dblclick": function(){
                            $(this).remove();
                        }
                    });

                    newItem.appendTo("#FileAssociationsSortable");

                    // Add a span to that new item
                    $("<span/>", {
                        "class": "glyphicon glyphicon-minus-sign",
                        click: function(){
                            $(this).parent().remove();
                        }
                    }).appendTo(newItem);
                });
            });
            mediaTable.on('processing.dt', dataTableProcessing);

            // Make our little list sortable
            $("#FileAssociationsSortable").sortable();

            // Bind to the filter
            $("#mediaAssignments").closest(".XiboGrid").find(".FilterDiv input, .FilterDiv select").change(function() {
                mediaTable.ajax.reload();
            });
        }

        function mediaAssignSubmit() {
            // Collect our media
            var media = [];
            $("#FileAssociationsSortable > li").each(function() {
                media.push($(this).data().mediaId);
            });

            assignMediaToCampaign($("#FileAssociationsAssign").data().url, media);
        }

        var assignMediaToCampaign = function(url, media) {
            toastr.info("Assign Media", media);

            $.ajax({
                type: "post",
                url: url,
                cache: false,
                dataType: "json",
                data: {mediaIds: media},
                success: XiboSubmitResponse
            });
        };
    </script>
{% endblock %}