{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}
{% extends "authed.twig" %}

{% block pageContent %}


    <div class="widget">
        <div class="widget-title">{% trans "Report Fault" %}</div>
        <div class="widget-body">
            <div class="row">
                <div class="board">
                    <div class="board-inner">
                        <ul class="nav nav-tabs" id="fault">
                            <div class="liner"></div>
                            <li class="active">
                                <a href="#home" data-toggle="tab">
                                    <span class="round-tabs one"> <i class="glyphicon glyphicon-home"></i> </span> </a>
                            </li>
                            <li class="">
                                <a href="#checklist" data-toggle="tab">
                                    <span class="round-tabs two"> <i class="fa fa-check-square-o" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#turnons" data-toggle="tab">
                                    <span class="round-tabs three"> <i class="fa fa-bug" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#replicate" data-toggle="tab">
                                    <span class="round-tabs four"> <i class="fa fa-clone" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#collect" data-toggle="tab">
                                    <span class="round-tabs five"> <i class="fa fa-floppy-o" aria-hidden="true"></i> </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#turnoff" data-toggle="tab">
                                    <span class="round-tabs six">  <span><i class="fa fa-bug"></i><i class="fa fa-ban fa-stack-2x"></i></span> </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#ask" data-toggle="tab">
                                    <span class="round-tabs seven"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <h3 class="head text-center">Report an application fault<span style="color:#f48260;"></span>
                            </h3>
                            {% if environmentFault %}
                                <p class="alert alert-danger narrow text-center">{% trans "There is a critical error that you should resolve first. Click start to check the list" %}</p>
                            {% elseif environmentWarning %}
                                <p class="alert alert-warning narrow text-center">{% trans "There is a warning listed below that you should resolve first." %}</p>
                            {% endif %}

                            <p class="narrow text-center">{% trans "Before reporting a fault it would be appreciated if you follow the below steps." %}</p>

                            <form class="form-horizontal text-center" id="home_form" name="home_form" role="form">
                                <fieldset>
                                    <button type="submit" href="#checklist" name="home_form" class="btn-submit btn btn-success">
                                        Start <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>

                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="checklist">
                            <p>{% trans "Check that the Environment passes all the CMS Environment checks." %}</p>

                            <table id="sessions" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">{% trans "Item" %}</th>
                                    <th class="text-center">{% trans "Status" %}</th>
                                    <th>{% trans "Advice" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for check in environmentCheck %}
                                    <tr>
                                        <td>{{ check.item }}</td>
                                        <td class="text-center">
                                            {% if check.status == 0 %}
                                                <i class="fa fa-times fa-2x text-warning"></i>
                                            {% elseif check.status == 1 %}
                                                <i class="fa fa-check fa-2x text-success"></i>
                                            {% else %}
                                                <i class="fa fa-exclamation fa-2x text-warning"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ check.advice }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                            <form class="form-horizontal text-center" id="checklist_form" name="checklist_form" role="form">
                                <fieldset>
                                    <button type="submit" href="#home" name="home_form" class="btn-submit btn btn-info">
                                        <i class="fa fa-chevron-circle-left" aria-hidden="true"> Previous </i></button>
                                    <button type="submit" href="#turnons" name="checklist_form" class="btn-submit btn btn-primary">
                                        Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </fieldset>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="turnons">

                            <p class="narrow text-center">{% trans "Turn ON full auditing and debugging." %}</p>
                            <form id="1" class="XiboAutoForm text-center " action="{{ urlFor("fault.debug.on") }}" method="put" onsubmit="return checkFormOn(this);">
                                <input class="btn btn-success" type="submit" name="onDeb" value="{% trans " Turn ON Debugging" %}"></input>
                            </form>
                            <br/>
                            <form class="form-horizontal text-center" id="turnons_form" name="turnons_form" role="form">
                                <fieldset>
                                    <button type="submit" href="#checklist" name="turnons_form" class="btn-submit btn btn-info">
                                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous
                                    </button>
                                    <button type="submit" href="#replicate" name="turnons_form" class="btn-submit btn btn-primary">
                                        Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </fieldset>
                            </form>

                        </div>


                        <div class="tab-pane fade text-center" id="replicate">
                            <p class="narrow text-center">{% trans "Recreate the Problem in a new window." %}</p>
                            <div class="text-center center-block">
                                <button type="button" class="btn btn-success" data-toggle="popover" data-placement="bottom" data-content="{% trans "In this stage, we are going to log and record all of the actions to detect the problem.
                                         Don't worry, we won't capture screenshots or videos, just some internal logging. You may attach screenshots from the issue and add it to the zip file" %}">
                                    What's going on now? <i class="fa fa-question-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                            <br/>
                            <form class="form-horizontal text-center" id="replicate_form" name="replicate_form" role="form">
                                <fieldset>
                                    <button type="submit" href="#turnons" name="replicate_form" class="btn-submit btn btn btn-info">
                                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous
                                    </button>
                                    <button type="submit" href="#collect" name="replicate_form" class="btn-submit btn btn-primary">
                                        Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </fieldset>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="collect">
                            <p class="narrow text-center">
                                {% trans "Automatically collect and export relevant information into a text file." %}
                                {% trans "Please save this file to your PC." %}
                            </p>
                            <p class="narrow text-center">
                                {% trans "What items would you like to save?" %}
                            </p>
                            <div class="col-md-6 col-md-offset-3 ">
                                <div class="funkyradio">
                                    <div class="funkyradio-primary">
                                        <input type="checkbox" name="checkbox" id="checkbox1" checked/>
                                        <label for="checkbox1">CSV log file</label>
                                    </div>
                                    <div class="funkyradio-primary">
                                        <input type="checkbox" name="checkbox" id="checkbox2" checked/>
                                        <label for="checkbox2">An environment check file</label>
                                    </div>
                                    <div class="funkyradio-primary">
                                        <input type="checkbox" name="checkbox" id="checkbox3" checked/>
                                        <label for="checkbox3">Settings</label>
                                    </div>
                                    <div class="funkyradio-primary">
                                        <input type="checkbox" name="checkbox" id="checkbox4" checked/>
                                        <label for="checkbox4">Display List</label>
                                    </div>
                                    <div class="funkyradio-primary">
                                        <input type="checkbox" name="checkbox" id="checkbox5" checked/>
                                        <label for="checkbox5">Display Settings Profile (included with each
                                            display)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <a id="dldata" class="btn btn-success text-center" type="submit" href="{{ urlFor("fault.collect") }}" onclick="clickAndDisable(this);">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans "Collect and Save Data" %}
                                </a> <br/><br/>
                                <form class="form-horizontal text-center" id="collect_form" name="collect_form" role="form">
                                    <button type="submit" href="#replicate" name="collect_form" class="btn-submit btn btn-info">
                                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous
                                    </button>
                                    <button type="submit" href="#turnoff" name="collect_form" class="btn-submit btn btn-primary">
                                        Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>


                        </div>

                        <div class="tab-pane fade text-center" id="turnoff">
                            <p class="narrow">{% trans "Turn full auditing and debugging OFF." %}</p>

                            <form id="2" class="XiboAutoForm text-center " action="{{ urlFor("fault.debug.off") }}" method="put" onsubmit="return checkFormOff(this);">
                                <input class="btn btn-danger" type="submit" name="offDeb" value="{% trans " Turn OFF Debugging" %}"></input>
                            </form>


                            <!-- <form id="2" class="XiboAutoForm" action="{{ urlFor("fault.debug.off") }}" method="put" onsubmit="return checkForm(this);">
                                <input class="btn btn-danger" type="submit" name="offDeb" value="{% trans " Turn OFF Debugging" %}"></input>
                            </form>--><br/>
                            <form class="form-horizontal text-center" id="turnoff_form" name="turnoff_form" role="form">
                                <fieldset>
                                    <button type="submit" href="#collect" name="turnoff_form" class="btn-submit btn btn-info">
                                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous
                                    </button>
                                    <button type="submit" href="#ask" name="turnoff_form" class="btn-submit btn btn-primary">
                                        Next <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </fieldset>
                            </form>
                        </div>


                        <div class="tab-pane fade" id="ask">
                            <div class="text-center"><i class="img-intro icon-checkmark-circle"></i></div>
                            <h3 class="head text-center">
                                {% trans "That's it!" %}
                            </h3>
                            <p class="narrow text-center">
                                {% trans "Click on the below link to open the bug report page for this release." %}
                                {% trans "Describe the problem and upload the file you obtained earlier." %}
                            </p>
                            <form class="text-center">
                                <fieldset>
                                    <a class="btn btn-success" href="https://community.xibo.org.uk/c/support" target="_blank">
                                        <i class="fa fa-question" aria-hidden="true"></i> {% trans "Ask a question" %}
                                    </a>
                                    <button type="submit" href="#home" name="turnoff_form" class="btn-submit btn btn-info">
                                        <i class="fa fa-home" aria-hidden="true"></i> Start all over
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block javaScript %}
    <script type="text/javascript">
        // Fault Page List switcher
        $(function () {
            $('a[title]').tooltip();
            $('.btn-submit').on('click', function (e) {
                var formname = $(this).attr('name');
                var tabname = $(this).attr('href');
                if ($('#' + formname)[0].checkValidity()) { /* Only works in Firefox/Chrome need polyfill for IE9, Safari. */
                    e.preventDefault();
                    $('ul.nav li a[href="' + tabname + '"]').parent().removeClass('disabled');
                    $('ul.nav li a[href="' + tabname + '"]').trigger('click');
                }
            });
            $('ul.nav li').on('click', function (e) {
                if ($(this).hasClass('disabled')) {
                    e.preventDefault();
                    return false;
                }
            });
        });

    </script>


    <script type="text/javascript">

        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        function checkFormOn(form) {
            form.onDeb.disabled = true;
            form.onDeb.value = "Debugging mode ON";
            return true;
        }

        function checkFormOff(form) {
            form.offDeb.disabled = true;
            form.offDeb.value = "Debugging mode Off";
            return true;
        }

        $("#dldata").click(function (event) {
            if ($(this).hasClass("disabled")) {
                event.preventDefault();
            }
            $(this).addClass("disabled btn-info");
            $("#dldata").text('Downloading file');

        });
    </script>



    <!-- <script type="text/javascript">
         // Fault Page List switcher
         $(document).ready(function () {

             $(".XiboFaultNext").on("submit", function (e) {
                 e.preventDefault();

                 var tabname = "replicate";
                 var form = $(this);

                 $.ajax({
                     type: form.attr("method"),
                     url: form.attr("action"),
                     cache: false,
                     dataType: "json",
                     data: form.serialize(),
                     success: function (xhr, textStatus, error) {

                         XiboSubmitResponse(xhr, form);

                         if (xhr.success) {

                             $('ul.nav li a[href="' + tabname + '"]')
                                     .parent()
                                     .removeClass('disabled')
                                     .trigger('click');
                         }
                     },
                     error: function (xhr, textStatus, errorThrown) {
                         SystemMessage(xhr.responseText, false);
                     }
                 });


                 return false;
             });


         });
     </script>-->




{% endblock %}