{#
/*
 * Xibo - Digital Signage - http://www.xibo.org.uk
 * Copyright (C) 2015-2018 Spring Signage Ltd
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
#}
{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Layout" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#layoutEditForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#description" role="tab" data-toggle="tab"><span>{% trans "Description" %}</span></a></li>
            </ul>
            <form id="layoutEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("layout.edit", {id: layout.layoutId}) }}" data-gettag="{{ urlFor("tag.getByName") }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "The Name of the Layout - (1 - 50 characters)" %}{% endset %}
                        {{ forms.input("name", title, layout.layout, helpText) }}

                        {% set title %}{% trans "Tags" %}{% endset %}
                        {% set helpText %}{% trans "Tags for this Layout - Comma separated string of Tags or Tag|Value format. If you choose a Tag that has associated values, they will be shown for selection below." %}{% endset %}
                        {{ forms.inputWithTags("tags", title, tags, helpText, 'tags-with-value') }}

                        <p id="loadingValues" style="margin-left: 17%"></p>

                        {% set title %}{% trans "Tag value" %}{% endset %}
                        {{ forms.dropdown("tagValue", "single", title, "", options, "key", "value") }}

                        <div id="tagValueContainer">
                            {% set title %}{% trans "Tag value" %}{% endset %}
                            {% set helpText %}{% trans "Please provide the value for this Tag and confirm by pressing enter on your keyboard." %}{% endset %}
                            {{ forms.input("tagValueInput", title, "", helpText) }}
                        </div>

                        <div id="tagValueRequired" class="alert alert-info">
                            <p>{% trans "This tag requires a set value, please select one from the Tag value dropdown or provide Tag value in the dedicated field." %}</p>
                        </div>

                        {% set title %}{% trans "Retired" %}{% endset %}
                        {% set helpText %}{% trans "Retire this layout or not? It will no longer be visible in lists" %}{% endset %}
                        {{ forms.checkbox("retired", title, layout.retired, helpText) }}

                        {% set title %}{% trans "Enable Stats Collection?" %}{% endset %}
                        {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Layout. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}
                        {{ forms.checkbox("enableStat", title, layout.enableStat, helpText) }}
                    </div>
                    <div class="tab-pane" id="description">
                        {% set title %}{% trans "Description" %}{% endset %}
                        {% set helpText %}{% trans "An optional description of the Layout. (1 - 250 characters)" %}{% endset %}
                        {{ forms.textarea("description", title, layout.description, helpText) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}