{#
/**
 * Copyright (C) 2021 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Layout" %}
{% endblock %}

{% block callBack %}layoutAddFormOpen{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <div class="stepwizard" data-active="layout-create-step-1">
                <div class="stepwizard-row stepper-nav">
                    <div class="stepwizard-step col-xs-3">
                        <a href="#layout-create-step-1" type="button" class="btn btn-success btn-circle">1</a>
                        <p><small>{{ "Template"|trans }}</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#layout-create-step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p><small>{{ "Organise"|trans }}</small></p>
                    </div>
                </div>
            </div>
            <form id="layoutAddForm" class="stepwizard-form form-horizontal" method="post"
                  action="{{ url_for("layout.add") }}"
                  data-redirect="{{ url_for("layout.designer", {id: ':id'}) }}"
                  data-gettag="{{ url_for("tag.getByName") }}"
                  data-help-url="{{ help }}"
                >
                {{ forms.hidden("layoutId", "0|blank") }}
                {{ forms.hidden("source") }}

                <div class="panel panel-default stepper-panel" id="layout-create-step-1" data-next="layout-create-step-2">
                    <div class="panel-heading">
                        <p>{{ "Please select one of the options below."|trans }}</p>
                    </div>
                    <div class="panel-body" style="overflow-y: scroll; height: 65vh;">
                        <div id="layout-add-templates" class="row"></div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-outline-primary float-right mt-2" disabled id="layout-add-templates-more">{{ "More"|trans }}</button>
                        <div class="spinner-grow d-none float-right mt-2 mr-2" role="status"><span class="sr-only">{{ "Loading..."|trans }}</span></div>
                    </div>
                </div>
                <div class="panel panel-default stepper-panel" style="display:none;" id="layout-create-step-2" data-next="finished">
                    <div class="panel-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#generalTab" role="tab" data-toggle="tab"><span>{% trans "Organise" %}</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#settingsTab" role="tab" data-toggle="tab"><span>{% trans "Settings" %}</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="generalTab">

                                {% set title %}{% trans "Name" %}{% endset %}
                                {% set helpText %}{% trans "The Name of the Layout - (1 - 50 characters)" %}{% endset %}
                                {{ forms.input("name", title, "", helpText) }}

                                {% if currentUser.featureEnabled('folder.view') %}
                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">{% trans "Folder" %}</label>
                                        <div class="col-sm-10">
                                            <button type="button" class="btn btn-info" id="select-folder-button" data-toggle="modal" data-target="#folder-tree-form-modal">{% trans "Select Folder" %}</button>
                                            <span id="selectedFormFolder"></span>
                                        </div>
                                    </div>
                                    {{ forms.hidden('folderId') }}
                                {% endif %}

                                {% set title %}{% trans "Resolution" %}{% endset %}
                                {% set helpText %}{% trans "Choose the resolution this Layout should be designed for." %}{% endset %}
                                {% set attributes = [
                                    { name: "data-allow-clear", value: "true" },
                                    { name: "data-search-url", value: url_for("resolution.search") },
                                    { name: "data-search-term", value: "resolution" },
                                    { name: "data-id-property", value: "resolutionId" },
                                    { name: "data-text-property", value: "resolution" }
                                ] %}
                                {{ forms.dropdown("resolutionId", "single", title, "", resolutions, "resolutionId", "resolution", helpText, "pagedSelect resolution-group", "", "", "", attributes) }}

                                {% set title %}{% trans "Description" %}{% endset %}
                                {% set helpText %}{% trans "An optional description of the Layout. (1 - 250 characters)" %}{% endset %}
                                {{ forms.textarea("description", title, "", helpText, null, null, 5, true) }}

                                {% if currentUser.featureEnabled("tag.tagging") %}
                                    {% set title %}{% trans "Tags" %}{% endset %}
                                    {% set helpText %}{% trans "Tags for this Layout - Comma separated string of Tags or Tag|Value format. If you choose a Tag that has associated values, they will be shown for selection below." %}{% endset %}
                                    {{ forms.inputWithTags("tags", title, "", helpText, 'tags-with-value') }}

                                    <p id="loadingValues" style="margin-left: 17%"></p>

                                    {% set title %}{% trans "Tag value" %}{% endset %}
                                    {{ forms.dropdown("tagValue", "single", title, "", options, "key", "value") }}

                                    <div id="tagValueContainer">
                                        {% set title %}{% trans "Tag value" %}{% endset %}
                                        {% set helpText %}{% trans "Please provide the value for this Tag and confirm by pressing enter on your keyboard." %}{% endset %}
                                        {{ forms.input("tagValueInput", title, "", helpText) }}
                                    </div>

                                    <div id="tagValueRequired" class="alert alert-info">
                                        <p>{% trans "This tag requires a set value, please select one from the Tag value dropdown or provide Tag value in the dedicated field." %}</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="settingsTab">
                                {% set title %}{% trans "Code Identifier" %}{% endset %}
                                {% set helpText %}{% trans "Enter a string to be used as the Code to identify this Layout when used with Interactive Actions." %}{% endset %}
                                {{ forms.input("code", title, "", helpText) }}

                                {% set title %}{% trans "Enable Stats Collection?" %}{% endset %}
                                {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Layout. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}
                                {{ forms.checkbox("enableStat", title, theme.getSetting("LAYOUT_STATS_ENABLED_DEFAULT"), helpText) }}

                                {% set title %}{% trans "Automatically apply Transitions?" %}{% endset %}
                                {% set helpText %}{% trans "When enabled, the default Transition type and duration will be applied to all widgets on this Layout." %}{% endset %}
                                {{ forms.checkbox("autoApplyTransitions", title, theme.getSetting("DEFAULT_TRANSITION_AUTO_APPLY"), helpText) }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}