{#
/**
* Copyright (C) 2019 Xibo Signage Ltd
*
* Xibo - Digital Signage - http://www.xibo.org.uk
*
* This file is part of Xibo.
*
* Xibo is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* any later version.
*
* Xibo is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
*/
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Add Media via URL" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#libraryUploadFromUrlForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="libraryUploadFromUrlForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("library.uploadFromUrl") }}">
                <div class="well">
                    {{ uploadSizeMessage }}
                </div>

                {% set title %}{% trans "URL" %}{% endset %}
                {% set helpText %}{% trans "Please provide the remote URL to the file" %}{% endset %}
                {{ forms.input("url", title, "", helpText) }}

                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "Optional Media name, if left empty it will default to the file name" %}{% endset %}
                {{ forms.input("optionalName", title, "", helpText) }}

                {% set title %}{% trans "Enable Media Stats Collection?" %}{% endset %}
                {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Media Item. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}

                {% set offOption %}{% trans "Off" %}{% endset %}
                {% set onOption %}{% trans "On" %}{% endset %}
                {% set inheritOption %}{% trans "Inherit" %}{% endset %}
                {% set options = [
                    { id: "Off", value: offOption },
                    { id: "On", value: onOption },
                    { id: "Inherit", value: inheritOption }
                ] %}
                {{ forms.dropdown("enableStat", "single", title, theme.getSetting("MEDIA_STATS_ENABLED_DEFAULT"), options, "id", "value", helpText) }}
            </form>
        </div>
    </div>
{% endblock %}