{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2017 Spring Signage Ltd
 * (library-usage-form.twig)
 */
#}

{% set randomId = random() %}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}
{% import "inline.twig" as inline %}

{% block formTitle %}
    {% set mediaName = media.name %}
    {% trans %}Usage Report for {{ mediaName }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Close" %}, XiboDialogClose()
{% endblock %}

{% block callBack %}usageFormOpen{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <p class="alert alert-info">
                {% trans %}This media is used on {{ countDisplays }} displays, the ones you have permission to see are shown below.{% endtrans %}
                {% trans %}Use the date filter to determine the point in time used to make the assessment, or leave empty to consider all scheduled events.{% endtrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="XiboGrid" id="{{ random() }}" data-grid-name="usageReport">
                <div class="row">
                    <div class="col-md-12">
                        <div class="XiboFilter">
                            <div class="FilterDiv" id="Filter">
                                <form class="form-inline" id="usageReportForm">
                                    {% set title %}{% trans "Date" %}{% endset %}
                                    <input type="hidden" name="mediaEventDate" id="mediaEventDate" />
                                    <div class="input-group">
                                        <span class="input-group-addon">{{ title }}</span>
                                        <input class="form-control" name="mediaEventDateLink" type="text" id="mediaEventDateLink" data-link-field="mediaEventDate" data-link-format="yyyy-mm-dd hh:ii:ss" readonly/>
                                        <span id="dateClearButton" class="input-group-addon" role="button">X</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="usageReportTable" class="table table-bordered membersTable" data-media-id="{{ media.mediaId }}">
                            <thead>
                                <tr>
                                    <th>{% trans "ID" %}</th>
                                    <th>{% trans "Display" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th>{% trans "Status" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}