{#
/**
 * Copyright (C) 2021 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}
{% import "inline.twig" as inline %}

{% block formTitle %}
    {% trans "Edit Menu Board" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#menuBoardEditForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="menuBoardEditForm" class="XiboForm form-horizontal" method="put" action="{{ url_for("menuBoard.edit", {id: menuBoard.menuId}) }}">
                {% if currentUser.featureEnabled('folder.view') %}
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">{% trans "Current Folder" %}</label>
                        <div class="col-sm-10" style="padding-top: 7px">
                            <span id="originalFormFolder"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">{% trans "Move to Selected Folder:" %}</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-info" id="select-folder-button" data-toggle="modal" data-target="#folder-tree-form-modal">{% trans "Select Folder" %}</button>
                            <span id="selectedFormFolder"></span>
                        </div>
                    </div>
                    {{ forms.hidden('folderId', menuBoard.folderId) }}
                {% endif %}

                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "The Name for this Menu Board" %}{% endset %}
                {{ forms.input("name", title, menuBoard.name, helpText) }}

                {% set title %}{% trans "Code" %}{% endset %}
                {% set helpText %}{% trans "The Code identifier for this Menu Board" %}{% endset %}
                {{ forms.input("code", title, menuBoard.code, helpText) }}

                {% set title %}{% trans "Description" %}{% endset %}
                {% set helpText %}{% trans "An optional description of the Menu Board. (1 - 250 characters)" %}{% endset %}
                {{ forms.textarea("description", title, menuBoard.description, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}