{#
/**
 * Copyright (C) 2022 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Module" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#moduleEditForm").submit()
{% endblock %}

{% block extra %}{{ module|json_encode|raw }}{% endblock %}

{% block callBack %}moduleEditFormOpen{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="moduleEditForm" class="XiboForm form-horizontal" method="put" action="{{ url_for("module.settings", {id: moduleId}) }}">

                {% set title %}{% trans "Preview Enabled?" %}{% endset %}
                {% set helpText %}{% trans "When Preview is Enabled users will be able to see a preview in the layout editor." %}{% endset %}
                {{ forms.checkbox("previewEnabled", title, module.previewEnabled, helpText, "", "", module.allowPreview == 0) }}

                {% set title %}{% trans "Enabled?" %}{% endset %}
                {% set helpText %}{% trans "When Enabled users will be able to add media using this module." %}{% endset %}
                {{ forms.checkbox("enabled", title, module.enabled, helpText) }}

                {% set title %}{% trans "Default Duration" %}{% endset %}
                {% set helpText %}{% trans "The default duration for Widgets of this Module when the user has elected to not set a specific duration." %}{% endset %}
                {{ forms.input("defaultDuration", title, module.defaultDuration, helpText) }}

                <div class="form-module-configure-fields"></div>
            </form>
        </div>
    </div>
{% endblock %}