{#
 * Copyright (C) 2019 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set name = module.getName() %}
    {% trans %}Expiry for {{ name }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#widgetExpiryForm").submit()
{% endblock %}

{% block formHtml %}

    <div class="row">
        <div class="col-md-12">
            <form id="widgetExpiryForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("module.widget.expiry", {id: module.widget.widgetId}) }}">
                {% set title %}{% trans "Start Time" %}{% endset %}
                {% set helpText %}{% trans "Select the start time for this widget" %}{% endset %}
                {{ forms.dateTime("fromDt", title, fromDt, helpText, "starttime-control") }}

                {% set title %}{% trans "End Time" %}{% endset %}
                {% set helpText %}{% trans "Select the end time for this widget" %}{% endset %}
                {{ forms.dateTime("toDt", title, toDt, helpText, "endtime-control") }}

                {% set title %}{% trans "Delete on Expiry?" %}{% endset %}
                {% set helpText %}{% trans "When the End Time for this Widget passes should the Widget be removed from the Playlist?" %}{% endset %}
                {{ forms.checkbox("deleteOnExpiry", title, deleteOnExpiry, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}