{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block pageContent %}
    <div class="widget">
        <div class="widget-title">{{ notification.subject }}</div>
        <div class="widget-body">
            <div class="row">
                <div class="col-md-12">
                    {% set readDt %}<span class="notification-date">{{ notification.readDt }}</span>{% endset %}
                    <p>{% trans "Published" %} <span class="notification-date">{{ notification.releaseDt }}</span>, {% trans %}you read this {{ readDt }}.{% endtrans %}</p>
                    {{ notification.body|raw }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for interruptedUrl in flash('interruptedUrl') %}
                        <p><a href="{{ interruptedUrl }}">{% trans "Continue..." %}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}