{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "inline.twig" as inline %}

{% block formTitle %}
    {% trans "Assign an item from the Library" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, LibraryAssignSubmit({{ playlist.playlistId }})
{% endblock %}

{% block callBack %}mediaFormCallBack{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-9">
            <div id="libraryAssignFilterOptions">
                <form onsubmit="false">
                    {{ inline.hidden("retired", 0) }}
                    {{ inline.hidden("assignable", 1) }}
                    <div class="XiboFilter well">
                        <div class="FilterDiv" id="Filter">
                            <form class="form-inline">
                                {% set title %}{% trans "Name" %}{% endset %}
                                {{ inline.input("media", title) }}

                                {% set title %}{% trans "Type" %}{% endset %}
                                {{ inline.dropdown("type", "single", title, "", [{"type": none, "name": ""}]|merge(modules), "type", "name") }}

                                {% set title %}{% trans "Tags" %}{% endset %}
                                {% set helpText %}{% trans "A comma separated list of tags to filter by. Enter --no-tag to see items without tags." %}{% endset %}
                                {{ inline.inputWithTags("tags", title, null, helpText) }}
                            </form>
                        </div>
                    </div>
                </form>
            </div>
            <div class="XiboGrid" id="{{ random() }}">
                <div class="XiboData">
                    <table id="mediaAssignments" class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans "ID" %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Tags" %}</th>
                            <th>{% trans "Thumbnail" %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="LibraryAssign" class="well" data-url="{{ url_for("playlist.library.assign", {id: playlist.playlistId}) }}">
                <h4>{% trans "Assignments" %}</h4>
                <div>
                    <ul id="LibraryAssignSortable">
                        {% for item in media %}
                            <li id="MediaID_{{ item.mediaId }}" class="li-sortable">{{ item.name }}<span class="glyphicon glyphicon-minus-sign"></span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% set title %}{% trans "Use library duration?" %}{% endset %}
            {% set helpText %}{% trans "Check this option to use the duration from the Library for this assignment" %}{% endset %}
            <label for="useDuration">
                <input type="checkbox" name="useDuration" id="useDuration">{{ title }}
            </label>
            <span class="help-block">{{ helpText }}</span>
        </div>
    </div>
{% endblock %}