{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015-2018 Spring Signage Ltd
 * (playlist-form-delete.twig)
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set playlistName = playlist.name %}
    {% trans %}Delete {{ playlistName }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help.delete }}")
    {% trans "No" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#playlistDeleteForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="playlistDeleteForm" class="XiboForm form-horizontal" method="delete" action="{{ urlFor("playlist.delete", {id: playlist.playlistId}) }}">
                {% set message %}{% trans "Are you sure you want to delete this Playlist?" %}{% endset %}
                {{ forms.message(message) }}
                
                {% set message %}{% trans "All media will be unassigned and any playlist specific media such as text/rss will be lost. The playlist will be removed from all Layouts." %}{% endset %}
                {{ forms.message(message) }}
            </form>
        </div>
    </div>
{% endblock %}