{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015-2018 Spring Signage Ltd
 * (playlist-form-copy)
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set name = playlist.playlist %}
    {% trans %}Copy {{ name }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Copy" %}, $("#playlistCopyForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="playlistCopyForm" class="XiboForm form-horizontal" method="post" action="{{ urlFor("playlist.copy", {id: playlist.playlistId}) }}")>
                {% set title %}{% trans "Name" %}{% endset %}
                {% set helpText %}{% trans "The Name of the Playlist - (1 - 50 characters)" %}{% endset %}
                {% set playlistName %}{{ playlist.name }} 2{% endset %}
                {{ forms.input("name", title, playlistName, helpText) }}

                {% set title %}{% trans "Make new copies of all media on this playlist?" %}{% endset %}
                {% set helpText %}{% trans "This will duplicate all media that is currently assigned to the Playlist being copied." %}{% endset %}
                {% if config.LAYOUT_COPY_MEDIA_CHECKB == 1 %}
                    {% set checked = 1 %}
                {% else %}
                    {% set checked = 0 %}
                {% endif %}
                {{ forms.checkbox("copyMediaFiles", title, checked, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}