{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015-2018 Spring Signage Ltd
 * (playlist-form-edit.twig)
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Playlist" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#playlistEditForm").submit()
{% endblock %}

{% block callBack %}playlistFormOpen{% endblock %}

{% block formFieldActions %}
    [{
    "field": "isDynamic",
    "trigger": "init",
    "value": false,
    "operation": "is:checked",
    "actions": {
    ".dynamic-message": { "display": "none" },
    ".static-message": { "display": "block" }
    }
    },{
    "field": "isDynamic",
    "trigger": "change",
    "value": false,
    "operation": "is:checked",
    "actions": {
    ".dynamic-message": { "display": "none" },
    ".static-message": { "display": "block" }
    }
    },{
    "field": "isDynamic",
    "trigger": "init",
    "value": true,
    "operation": "is:checked",
    "actions": {
    ".dynamic-message": { "display": "block" },
    ".static-message": { "display": "none" }
    }
    },{
    "field": "isDynamic",
    "trigger": "change",
    "value": true,
    "operation": "is:checked",
    "actions": {
    ".dynamic-message": { "display": "block" },
    ".static-message": { "display": "none" }
    }
    }]
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#populate" role="tab" data-toggle="tab"><span>{% trans "Filter" %}</span></a></li>
            </ul>
            <form id="playlistEditForm" class="XiboForm form-horizontal playlistForm" method="put" action="{{ urlFor("playlist.edit", {id: playlist.playlistId}) }}" data-gettag="{{ urlFor("tag.getByName") }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "The Name of the Playlist - (1 - 50 characters)" %}{% endset %}
                        {{ forms.input("name", title, playlist.name, helpText) }}

                        {% set title %}{% trans "Tags" %}{% endset %}
                        {% set helpText %}{% trans "Tags for this Playlist - Comma separated string of Tags or Tag|Value format. If you choose a Tag that has associated values, they will be shown for selection below." %}{% endset %}
                        {{ forms.inputWithTags("tags", title, tags, helpText, 'tags-with-value') }}

                        <p id="loadingValues" style="margin-left: 17%"></p>

                        {% set title %}{% trans "Tag value" %}{% endset %}
                        {{ forms.dropdown("tagValue", "single", title, "", options, "key", "value") }}

                        <div id="tagValueRequired" class="alert alert-info">
                            <p>{% trans "This tag requires a set value, please select one from the Tag value dropdown." %}</p>
                        </div>

                        {% set title %}{% trans "Dynamic?" %}{% endset %}
                        {% set helpText %}{% trans "Is the Playlist to have Library media assignments managed automatically by the CMS based on filter criteria? Set a filter on the next tab." %}{% endset %}
                        {{ forms.checkbox("isDynamic", title, playlist.isDynamic, helpText) }}

                        {% set title %}{% trans "Enable Playlist Stats Collection?" %}{% endset %}
                        {% set helpText %}{% trans "Enable the collection of Proof of Play statistics for this Playlist. Ensure that ‘Enable Stats Collection’ is set to ‘On’ in the Display Settings." %}{% endset %}

                        {% set offOption %}{% trans "Off" %}{% endset %}
                        {% set onOption %}{% trans "On" %}{% endset %}
                        {% set inheritOption %}{% trans "Inherit" %}{% endset %}
                        {% set options = [
                            { id: "Off", value: offOption },
                            { id: "On", value: onOption },
                            { id: "Inherit", value: inheritOption }
                        ] %}
                        {{ forms.dropdown("enableStat", "single", title, playlist.enableStat, options, "id", "value", helpText) }}
                    </div>
                    <div class="tab-pane" id="populate">
                        <div class="dynamic-message">
                            <div class="widget">
                                <div class="widget-title">{% trans "Library Media" %}</div>
                                <div class="widget-body">
                                    {% set message = "Populate with Library Media matching the criteria below and automatically maintain the Playlist."|trans %}
                                    {{ forms.message(message) }}

                                    {% set title %}{% trans "Name filter" %}{% endset %}
                                    {{ forms.input("filterMediaName", title, playlist.filterMediaName) }}

                                    {% set title %}{% trans "Tag filter" %}{% endset %}
                                    {{ forms.inputWithTags("filterMediaTag", title, playlist.filterMediaTags) }}

                                    <div class="XiboData">
                                        <table id="playlistLibraryMedia" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>{% trans "ID" %}</th>
                                                <th>{% trans "Name" %}</th>
                                                <th>{% trans "Type" %}</th>
                                                <th>{% trans "Tags" %}</th>
                                                <th>{% trans "Duration" %}</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="static-message">
                            {% set message = "Filter options are not available on a Playlist which isn't dynamic."|trans %}
                            {{ forms.message(message) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}