{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Title" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#resolutionEditForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="resolutionEditForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("resolution.edit", {"id": resolution.resolutionId}) }}">
                        {% set title %}{% trans "Resolution" %}{% endset %}
                        {% set helpText %}{% trans "A name for this Resolution" %}{% endset %}
                        {{ forms.input("resolution", title, resolution.resolution, helpText) }}
                        
                        {% set title %}{% trans "Width" %}{% endset %}
                        {% set helpText %}{% trans "The Width for this Resolution" %}{% endset %}
                        {{ forms.input("width", title, resolution.width, helpText) }}
                       
                        {% set title %}{% trans "Height" %}{% endset %}
                        {% set helpText %}{% trans "The Height for this Resolution" %}{% endset %}
                        {{ forms.input("height", title, resolution.height, helpText) }}

                        {% set title %}{% trans "Enable?" %}{% endset %}
                        {% set helpText %}{% trans "Is the Resolution enabled for use?" %}{% endset %}
                        {{ forms.checkbox("enabled", title, resolution.enabled, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}