{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Schedule Event" %}
{% endblock %}

{% block callBack %}setupScheduleForm{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Next" %}, XiboDialogApply("#scheduleAddForm")
    {% trans "Save" %}, $("#scheduleAddForm").submit()
{% endblock %}

{% block formFieldActions %}
    [{
    "field": "recurrenceType",
    "trigger": "init",
    "value": "",
    "operation": "equals",
    "actions": {
    ".repeat-control-group": { "display": "none" }
    }
    },{
    "field": "recurrenceType",
    "trigger": "change",
    "value": "",
    "operation": "equals",
    "actions": {
    ".repeat-control-group": { "display": "none" }
    }
    },{
    "field": "recurrenceType",
    "trigger": "init",
    "value": "",
    "operation": "not",
    "actions": {
    ".repeat-control-group": { "display": "block" }
    }
    },{
    "field": "recurrenceType",
    "trigger": "change",
    "value": "",
    "operation": "not",
    "actions": {
    ".repeat-control-group": { "display": "block" }
    }
    }]
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#general" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a></li>
                <li><a href="#repeats" role="tab" data-toggle="tab"><span>{% trans "Repeats" %}</span></a></li>
            </ul>
            <form id="scheduleAddForm" class="form-horizontal" method="post" action="{{ urlFor("schedule.add") }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        {% set title %}{% trans "Display" %}{% endset %}
                        {% set helpText %}{% trans "Please select one or more displays / groups for this event to be shown on." %}{% endset %}
                        {% set attributes = [
                            { name: "data-live-search", value: "true" },
                            { name: "data-selected-text-format", value: "count > 4" }
                        ] %}
                        {% set transGroups %}{% trans "Groups" %}{% endset %}
                        {% set transDisplays %}{% trans "Display" %}{% endset %}
                        {% set optionGroups = [
                            {id: "group", label: transGroups},
                            {id: "display", label: transDisplays}
                        ] %}
                        {{ forms.dropdown("displayGroupIds[]", "dropdownmulti", title, displayGroupIds, {group: displayGroups, display: displays}, "displayGroupId", "displayGroup", helpText, "", "", "", "", attributes, optionGroups) }}

                        {% set title %}{% trans "Start Time" %}{% endset %}
                        {% set helpText %}{% trans "Select the start time for this event" %}{% endset %}
                        {{ forms.dateTime("fromDt", title, "", helpText, "", "required", "") }}

                        {% set title %}{% trans "End Time" %}{% endset %}
                        {% set helpText %}{% trans "Select the end time for this event" %}{% endset %}
                        {{ forms.dateTime("toDt", title, "", helpText, "", "required", "") }}

                        {# Campaign / Layout list. We want to build two arrays for us to use. #}
                        {% set layoutOptions = [] %}
                        {% set campaignOptions = [] %}

                        {% for item in campaigns %}
                            {% if item.isLayoutSpecific == 1 %}
                                {% set layoutOptions = [{id: item.campaignId, value: item.campaign}]|merge(layoutOptions) %}
                            {% else %}
                                {% set campaignOptions = [{id: item.campaignId, value: item.campaign}]|merge(campaignOptions) %}
                            {% endif %}
                        {% endfor %}

                        {% set campaigns %}{% trans "Campaigns" %}{% endset %}
                        {% set layouts %}{% trans "Layouts" %}{% endset %}
                        {% set optionGroups = [
                        {id: "campaign", label: campaigns},
                        {id: "layout", label: layouts}
                        ] %}
                        {% set title %}{% trans "Layout / Campaign" %}{% endset %}
                        {% set helpText %}{% trans "Please select a Layout or Campaign for this Event to show" %}{% endset %}
                        {{ forms.dropdown("campaignId", "single", title, "", {campaign: campaignOptions, layout: layoutOptions}, "id", "value", helpText, "", "", "", "", "", optionGroups) }}

                        {% set title %}{% trans "Display Order" %}{% endset %}
                        {% set helpText %}{% trans "Please select the order this event should appear in relation to others when there is more than one event scheduled" %}{% endset %}
                        {{ forms.number("displayOrder", title, "", helpText) }}

                        {% set title %}{% trans "Priority" %}{% endset %}
                        {% set helpText %}{% trans "Sets whether or not this event has priority. If set the event will be show in preference to other events." %}{% endset %}
                        {{ forms.checkbox("isPriority", title, "", helpText) }}

                    </div>
                    
                    <div class="tab-pane" id="repeats">
                        {% set title %}{% trans "Repeats" %}{% endset %}
                        {% set helpText %}{% trans "What type of repeat is required?" %}{% endset %}
                        {% set noneOption %}{% trans "None" %}{% endset %}
                        {% set minute %}{% trans "Per Minute" %}{% endset %}
                        {% set hourly %}{% trans "Hourly" %}{% endset %}
                        {% set daily %}{% trans "Daily" %}{% endset %}
                        {% set weekly %}{% trans "Weekly" %}{% endset %}
                        {% set monthly %}{% trans "Monthly" %}{% endset %}
                        {% set yearly %}{% trans "Yearly" %}{% endset %}
                        {% set options = [
                        { id: "", name: noneOption },
                        { id: "Minute", name: minute },
                        { id: "Hour", name: hourly},
                        { id: "Day", name: daily},
                        { id: "Week", name: weekly},
                        { id: "Month", name: monthly},
                        { id: "Year", name: yearly}
                        ] %}
                        {{ forms.dropdown("recurrenceType", "single", title, "", options, "id", "name", helpText) }}
                    
                        {% set title %}{% trans "Repeat every" %}{% endset %}
                        {% set helpText %}{% trans "How often does this event repeat?" %}{% endset %}
                        {{ forms.number("recurrenceDetail", title, recurrenceDetail, helpText, "repeat-control-group") }}

                        {% set title %}{% trans "Until" %}{% endset %}
                        {% set helpText %}{% trans "When should this event stop repeating?" %}{% endset %}
                        {{ forms.dateTime("recurrenceRange", title, "", helpText, "repeat-control-group", "", "") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}