{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Schedule Now" %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, beforeSubmitScheduleForm($("#scheduleNowForm"))
{% endblock %}

{% block callBack %}setupScheduleNowForm{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="scheduleNowForm" class="XiboForm form-horizontal" method="post" action="{{ url_for("schedule.add") }}" data-full-screen-url="{{ url_for('layout.add.full.screen.schedule') }}">
                {{ forms.hidden("eventTypeId", eventTypeId) }}
                {{ forms.hidden("dayPartId", customDayPart.dayPartId) }}
                {{ forms.hidden("alwaysDayPartId", alwaysDayPart.dayPartId) }}
                {{ forms.hidden("customDayPartId", customDayPart.dayPartId) }}
                {{ forms.hidden("fromDt", "") }}
                {{ forms.hidden("toDt", "") }}
                {{ forms.hidden("syncTimezone", "1") }}

                {# Campaign / Layout list. We want to build two arrays for us to use. #}
                {% set attributes = [
                    { name: "data-search-url", value:  url_for("campaign.search") ~ "?type=list" },
                    { name: "data-search-is-layout-specific", value: -1 },
                    { name: "data-trans-layout", value: "Layout"|trans },
                    { name: "data-trans-layout-help-text", value: "Please select a Layout for this Event to show"|trans },
                    { name: "data-trans-campaign", value: "Campaign"|trans },
                    { name: "data-trans-campaign-help-text", value: "Please select a Campaign for this Event to show"|trans },
                ] %}

                {% set title %}{% trans "Layout" %}{% endset %}
                {% set helpText %}{% trans "Please select a Layout for this Event to show" %}{% endset %}
                {{ forms.dropdown("campaignId", "single", title, campaign.campaignId, [campaign], "campaignId", "campaign", helpText, "layout-control", "", "", "", attributes) }}

                {% set title %}{% trans "Media" %}{% endset %}
                {% set helpText %}{% trans "Choose a media item on the library you want shown full screen" %}{% endset %}
                {% set attributes = [
                    { name: "data-width", value: "100%" },
                    { name: "data-search-url", value: url_for("library.search") ~ "?fullScreenScheduleCheck=true&types[]=image&types[]=video" },
                    { name: "data-search-term", value: "media" },
                    { name: "data-id-property", value: "mediaId" },
                    { name: "data-text-property", value: "name" },
                    { name: "data-additional-property", value: "hasFullScreenLayout" },
                    { name: "data-initial-key", value: "mediaId"},
                    { name: "data-initial-value", value: media.mediaId}
                ] %}
                {{ forms.dropdown("mediaId", "single", title, media.mediaId, [media], "mediaId", "name", helpText, "pagedSelect media-control", "", "", "", attributes) }}

                {% set title %}{% trans "Playlist" %}{% endset %}
                {% set helpText %}{% trans "Choose a Playlist you want shown full screen" %}{% endset %}
                {% set attributes = [
                    { name: "data-width", value: "100%" },
                    { name: "data-search-url", value: url_for("playlist.search") ~ "?fullScreenScheduleCheck=true" },
                    { name: "data-search-term", value: "name" },
                    { name: "data-id-property", value: "playlistId" },
                    { name: "data-text-property", value: "name" },
                    { name: "data-additional-property", value: "hasFullScreenLayout" },
                    { name: "data-initial-key", value: "playlistId"},
                    { name: "data-initial-value", value: playlist.playlistId}
                ] %}
                {{ forms.dropdown("playlistId", "single", title, playlist.playlistId, [playlist], "playlistId", "name", helpText, "pagedSelect playlist-control", "", "", "", attributes) }}

                {{ forms.hidden('fullScreenCampaignId') }}

                {% set title %}{% trans "Duration in loop" %}{% endset %}
                {% set helpText %}{% trans "Set how long this item should be shown each time it appears in the schedule. Leave blank to use the Media Duration set in the Library" %}{% endset %}
                {{ forms.number('layoutDuration', title, "", helpText, 'media-control no-full-screen-layout') }}

                {% set title %}{% trans "Resolution" %}{% endset %}
                {% set helpText %}{% trans "Optionally select a Resolution to use for the selected Media. Leave blank to match with an existing Resolution closest in size to the selected media." %}{% endset %}
                {% set attributes = [
                    { name: "data-search-url", value: url_for("resolution.search") },
                    { name: "data-search-term", value: "resolution" },
                    { name: "data-id-property", value: "resolutionId" },
                    { name: "data-text-property", value: "resolution" },
                    { name: "data-trans-media-help-text", value: "Optionally select a Resolution to use for the selected Media. Leave blank to match with an existing Resolution closest in size to the selected media."|trans },
                    { name: "data-trans-playlist-help-text", value: "Optionally select a Resolution to use for the selected Playlist. Leave blank to default to a 1080p Resolution."|trans },
                ] %}
                {{ forms.dropdown("resolutionId", "single", title, "", null, "resolutionId", "resolution", helpText, "pagedSelect media-playlist-control resolution-control no-full-screen-layout", "", "", "", attributes) }}

                {% set title %}{% trans "Background Colour" %}{% endset %}
                {% set helpText %}{% trans "Optionally set a colour to use as a background for if the item selected does not fill the entire screen" %}{% endset %}
                {{ forms.colorPicker("backgroundColor", title, '#000', helpText, 'media-playlist-control no-full-screen-layout') }}

                {% set title %}{% trans "Always?" %}{% endset %}
                {% set helpText %}{% trans "Run this event from now and dont stop." %}{% endset %}
                {{ forms.checkbox("always", title, "", helpText) }}

                {% set title %}{% trans "Hours" %}{% endset %}
                {% set helpText %}{% trans "Hours this event should be scheduled for" %}{% endset %}
                {{ forms.number("hours", title, "", helpText, "duration-part") }}
                
                {% set title %}{% trans "Minutes" %}{% endset %}
                {% set helpText %}{% trans "Minutes this event should be scheduled for" %}{% endset %}
                {{ forms.number("minutes", title, "", helpText, "duration-part") }}
                
                {% set title %}{% trans "Seconds" %}{% endset %}
                {% set helpText %}{% trans "Seconds this event should be scheduled for" %}{% endset %}
                {{ forms.number("seconds", title, "", helpText, "schedule-now-seconds-field duration-part") }}

                {% set title %}{% trans %}Your event will be scheduled from [fromDt] to [toDt] in the CMS timezone, please check this covers each of your Displays in their respective timezones.{% endtrans %}{% endset %}
                <div class="alert alert-info scheduleNowMessage d-none" data-template="{{ title }}"></div>

                {% set title %}{% trans "Display" %}{% endset %}
                {% set helpText %}{% trans "Please select one or more displays / groups for this event to be shown on." %}{% endset %}
                {% set attributes = [
                    { name: "data-search-url", value:  url_for("displayGroup.search") },
                    { name: "data-trans-groups", value:  "Groups"|trans },
                    { name: "data-trans-display", value:  "Display"|trans }
                ] %}
                {{ forms.dropdown("displayGroupIds[]", "dropdownmulti", title, [displayGroupId], displayGroup, "displayGroupId", "displayGroup", helpText, "", "", "", "", attributes) }}

                {% set title %}{% trans "Display Order" %}{% endset %}
                {% set helpText %}{% trans "Should this event have an order?" %}{% endset %}
                {{ forms.number("displayOrder", title, displayOrder, helpText) }}
                
                {% set title %}{% trans "Priority" %}{% endset %}
                {% set helpText %}{% trans "Sets the event priority - events with the highest priority play in preference to lower priority events." %}{% endset %}
                {{ forms.number("isPriority", title, isPriority, helpText) }}
            </form>
        </div>
    </div>
{% endblock %}