{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}
{% extends "authed.twig" %}
{% import "inline.twig" as inline %}

{% block actionMenu %}
    <ul class="nav nav-pills pull-right">
        <li><a title="{% trans "Open the Filter Form" %}" href="#" onclick="ToggleFilterView('Filter')">{% trans "Filter" %}</a></li>
    </ul>
{% endblock %}


{% block pageContent %}
    <div class="widget">
        <div class="widget-title">{% trans "Sessions" %}</div>
        <div class="widget-body">
            <div class="XiboGrid" id="{{ random() }}">
                <div class="XiboFilter">
                    <div class="FilterDiv" id="Filter">
                        <form class="form-inline">
                            {{ inline.date("filter_fromdt", "From Date", defaults.fromDate) }}
                            {{ inline.dropdown("filter_type", "single", "Type", defaults.type, values, "id", "value") }}
                            {{ inline.checkbox("XiboFilterPinned", "Keep Open", defaults.filterPinned) }}
                        </form>
                    </div>
                </div>
                <div class="XiboData">
                    <table id="sessions" class="table table-striped">
                        <thead>
                            <tr>
                                <th>{% trans "Last Accessed" %}</th>
                                <th>{% trans "Active" %}</th>
                                <th>{% trans "User Name" %}</th>
                                <th>{% trans "Last Page" %}</th>
                                <th>{% trans "IP Address" %}</th>
                                <th>{% trans "Browser" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javaScript %}
    <script type="text/javascript">
        var table = $("#sessions").DataTable({
            serverSide: true,
            filter: false,
            searchDelay: 3000,
            "order": [[ 1, "asc"]],
            ajax: {
                "url": "{{ urlFor("sessions.search") }}",
                "data": function(d) {
                    $.extend(d, $("#sessions").closest(".XiboGrid").find(".FilterDiv form").serializeObject());
                }
            },
            "columns": [
                { "data": "lastAccessed", "render": dataTableDateFromIso },
                { "data": "isExpired", "render": dataTableTickCrossInverseColumn },
                { "data": "userName" },
                { "data": "lastPage" },
                { "data": "remoteAddress" },
                { "data": "userAgent" },
                {
                    "orderable": false,
                    "data": dataTableButtonsColumn
                }
            ]
        });

        table.on('draw', dataTableDraw);
        table.on('processing.dt', dataTableProcessing);
    </script>
{% endblock %}