{#
/**
 * Copyright (C) 2022 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "connector-form-edit.twig" %}
{% import "forms.twig" as forms %}

{% block connectorFormFields %}
    <h3>Twitter</h3>
    <p>Recent changes to Twitter mean that this API will only work for users with existing API keys and will
    cease to function completely in an unspecified time.</p>
    <p>We <strong>do not</strong> recommend this connector.</p>

    {% if interface.isProviderSetting("apiKey") %}
        <p>{{ "Your platform provider has configured this connector for you."|trans }}</p>
    {% else %}
        {% set title %}{% trans "API Key" %}{% endset %}
        {% set helpText %}{% trans "Enter your API Key from Twitter." %}{% endset %}
        {{ forms.input("apiKey", title, interface.getSetting("apiKey"), helpText) }}

        {% set title %}{% trans "API Secret" %}{% endset %}
        {% set helpText %}{% trans "Enter your API Secret from Twitter." %}{% endset %}
        {{ forms.input("apiSecret", title, interface.getSetting("apiSecret"), helpText) }}

        {% set title %}{% trans "Needs user authorisation?" %}{% endset %}
        {% set helpText %}{% trans "Should these API keys be used to obtain user authorisation? If unchecked the key owners account will be used." %}{% endset %}
        {{ forms.checkbox("delegated", title, interface.getSetting("delegated"), helpText) }}

        {{ forms.message("If you change the user authentication option please save and reopen this to complete authorisation."|trans) }}

        {% set title %}{% trans "Cache Period" %}{% endset %}
        {% set helpText %}{% trans "Enter the number of seconds you would like to cache twitter search results." %}{% endset %}
        {{ forms.input("cachePeriod", title, interface.getSetting("cachePeriod", 3600), helpText) }}

        {% set title %}{% trans "Cache Period for Images" %}{% endset %}
        {% set helpText %}{% trans "Enter the number of hours you would like to cache twitter images." %}{% endset %}
        {{ forms.input("cachePeriodImages", title, interface.getSetting("cachePeriodImages", 24), helpText) }}
    {% endif %}
{% endblock %}