{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}
{% import _self as flow %}

{% block formTitle %}
    {% trans %}Turn Features on/off for {{ group }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#AclForm").submit()
{% endblock %}

{% block callBack %}featureAclFormOpen{% endblock %}

{% macro hasFeature(features, feature) %}
    {% if feature in features %}
        checked
    {% endif %}
{% endmacro %}

{% macro featureTitleRow(title, description) %}
    <tr class="feature-group-row">
        <td class="feature-group-header-cell closed">
            <strong>{{ title }}</strong> <i class="fa fa-arrow-circle-down"></i>
            <p class="feature-group-description">
                {{ description }}
            </p>
        </td>
        <td><input class="feature-select-all" type="checkbox" /></td>
        <td></td>
    </tr>
{% endmacro %}

{% macro featureRow(feature, title, features, inheritedFeatures, isUserSpecific) %}
    <tr class="feature-row">
        <td width="70%">{{ title }}</td>
        <td width="15%">
            <input type="checkbox" name="features[]" value="{{ feature }}" {{ flow.hasFeature(features, feature) }}>
        </td>
        {% if isUserSpecific == 1 %}
            <td width="15%">
                <input type="checkbox" disabled {{ flow.hasFeature(inheritedFeatures, feature) }}>
            </td>
        {% endif %}
    </tr>
{% endmacro %}

{% block formHtml %}

    <div class="row">
        <div class="col-md-12">
            <form id="AclForm" class="XiboForm form-horizontal" method="post" action="{{ url_for("group.acl", {id: groupId}) }}">
                {% set helpText %}{% trans %}Check or un-check the options against each item to control whether access to a Feature is allowed or not.{% endtrans %}{% endset %}
                {{ forms.message(helpText) }}
                <table class="table table-bordered">
                    <tr>
                        <th>{{ "Feature"|trans }}</th>
                        <th>
                            {% trans "Enabled?" %}
                            <i class="fa fa-info-circle" title="{{ "Check this box to give this User access to this Feature." }}"></i>
                        </th>
                        {% if isUserSpecific == 1 %}
                            <th>
                                {% trans "Inherited?" %}
                                <i class="fa fa-info-circle" title="{{ "If checked this User already has access to this Feature due to the User Groups they belong to." }}"></i>
                            </th>
                        {% endif %}
                    </tr>

                    <tbody class="feature-group">
                        {{ flow.featureTitleRow("Scheduling"|trans, "Create and manage events on Displays and Display Groups."|trans) }}
                        {% for customFeature in userGroupFactory.getFeaturesByGroup("scheduling") %}
                            {{ flow.featureRow(customFeature.feature, customFeature.title, features, inheritedFeatures, isUserSpecific) }}
                        {% endfor %}
                    </tbody>

                    <tbody class="feature-group">
                        {{ flow.featureTitleRow("Layout Design"|trans, "Design Layouts"|trans) }}
                        {% for customFeature in userGroupFactory.getFeaturesByGroup("layout-design") %}
                            {{ flow.featureRow(customFeature.feature, customFeature.title, features, inheritedFeatures, isUserSpecific) }}
                        {% endfor %}
                    </tbody>

                    <tbody class="feature-group">
                        {{ flow.featureTitleRow("User functions"|trans, "Profile, preferences and notifications for the logged in user."|trans) }}
                        {% for customFeature in userGroupFactory.getFeaturesByGroup("users") %}
                            {{ flow.featureRow(customFeature.feature, customFeature.title, features, inheritedFeatures, isUserSpecific) }}
                        {% endfor %}
                    </tbody>

                    <tbody class="feature-group">
                        {{ flow.featureTitleRow("Dashboards"|trans, "Bring together key features onto a user's dashboard."|trans) }}
                        {% for customFeature in userGroupFactory.getFeaturesByGroup("dashboards") %}
                            {{ flow.featureRow(customFeature.feature, customFeature.title, features, inheritedFeatures, isUserSpecific) }}
                        {% endfor %}
                    </tbody>

                    <tbody class="feature-group">
                        {{ flow.featureTitleRow("Custom"|trans, "Third party extensions to the platform."|trans) }}
                        {% for customFeature in userGroupFactory.getFeaturesByGroup("custom") %}
                            {{ flow.featureRow(customFeature.feature, customFeature.title, features, inheritedFeatures, isUserSpecific) }}
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}