{#
/*
 * Spring Signage Ltd - http://www.springsignage.com
 * Copyright (C) 2015 Spring Signage Ltd
 * (${FILE_NAME})
 */

#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Change Password" %}
{% endblock %}

{% block formButtons %}
    {% trans "Save" %}, $("#userChangePasswordForm").submit()
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Help" %}, XiboHelpRender("{{ help.changePassword }}")
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="userChangePasswordForm" class="XiboForm form-horizontal" method="put" action="{{ urlFor("user.change.password", {id: user.userId}) }}">
                {{ forms.disabled("userName", "User Name", currentUser.userName) }}
                {{ forms.password("password", "Password", "", "Please enter your current password", "", "required") }}
                {{ forms.password("newPassword", "New Password", "", "Please enter your new password", "", "required") }}
                {{ forms.password("retypeNewPassword", "Retype New Password", "", "Please repeat the new Password.", "", "required") }}
            </form>
        </div>
    </div>
{% endblock %}