{% extends "authed.twig" %}

{% block pageContent %}
    <div class="jumbotron">
        <div class="container">
            {% set appName = theme.getThemeConfig("app_name") %}
            <h1>{% trans %}Welcome to the {{ appName }} CMS!{% endtrans %}</h1>
            <p>{% trans "Digital Signage for Everyone" %}</p>
            <p>{% trans %}We hope you like {{ appName }} and have given you some suggestions below to get you started.{% endtrans %}</p>
            <a class="btn btn-primary btn-lg" role="button" href="{{ help.dashboard }}" target="_blank">{% trans "Getting Started Guide" %}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div id="new-user-welcome-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#new-user-welcome-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#new-user-welcome-carousel" data-slide-to="1"></li>
                    <li data-target="#new-user-welcome-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ theme.uri('img/screenshots/display_add_screenshot.png') }}" alt="Slide 1">
                        <div class="carousel-caption">
                            <h3>{% trans "Display" %}</h3>
                            <p>{% trans "Displays are your physical hardware players connected to your TV/Projector. Connect your first display to get started." %}</p>
                            <div class="btn-group">
                                <a class="btn btn-primary btn-lg" role="button" href="{{ help.display }}">{% trans "Manage Displays" %}</a>
                                <a class="btn btn-default btn-lg" role="button" href="{{ help.windows }}" target="_blank">{% trans "Windows" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ theme.uri('img/screenshots/layout_design_screenshot.png') }}" alt="Slide 2">
                        <div class="carousel-caption">
                            <h3>{% trans "Layout" %}</h3>
                            <p>{% trans "Screen design and presentation is managed on a Layout. You can have as many layouts as you want and design them in the CMS." %}</p>
                            <div class="btn-group">
                                <a class="btn btn-primary btn-lg" role="button" href="{{ urlFor("layout.view") }}">{% trans "Design a Layout" %}</a>
                                <a class="btn btn-default btn-lg" role="button" href="{{ help.layout }}" target="_blank">{% trans "Read more" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ theme.uri('img/screenshots/calendar_screenshot.png') }}" alt="Slide 3">
                        <div class="carousel-caption">
                            <h3>{% trans "Schedule" %}</h3>
                            <p>{% trans "Send something down to your display and watch it come alive! Create events on Displays / Groups for Layouts / Campaigns, create repeat events and much more." %}</p>
                            <div class="btn-group">
                                <a class="btn btn-primary btn-lg" role="button" href="{{ urlFor("schedule.view") }}">{% trans "Schedule Event" %}</a>
                                <a class="btn btn-default btn-lg" role="button" href="{{ help.schedule }}" target="_blank">{% trans "Read more" %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#new-user-welcome-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#new-user-welcome-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}