{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}
{% import "inline.twig" as inline %}

{% set randomId = random() %}

{% block formTitle %}
    {% if object.isLayoutSpecific == 1 %}
        {% set objectName = "Layout"|trans %}
    {% elseif object.isDisplaySpecific == 1 %}
        {% set objectName = "Display"|trans %}
    {% else %}
        {% set objectName = entity|trans %}
    {% endif %}

    {% trans %}Permissions for {{ objectName }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "Help" %}, XiboHelpRender("{{ help.permissions }}")
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, permissionsMultiFormSubmit("{{ randomId }}")
{% endblock %}

{% block callBack %}permissionsMultiFormOpen{% endblock %}

{% block formHtml %}
    <div class="multiple-permissions-form">
        <div class="row">
            <div class="col-md-12">
                <div class="XiboGrid permissionsGrid" id="{{ randomId }}"
                     data-url="{{ url_for("user.permissions.multi", {entity: entity}) }}"
                     data-target-ids="{{ objectIds }}">
                    <div class="permissionsMultiTableFilter">
                        <div class="XiboFilter well">
                            <div class="FilterDiv" id="Filter">
                                <form class="form-inline">
                                    {% set title %}{% trans "Name" %}{% endset %}
                                    {{ inline.input("name", title) }}
                                </form>
                            </div>
                        </div>
                    </div>

                    {% set multiplePermissionsMessage %}
                        {% trans "Edit multiple permissions at the same time. The elements with indeterminate state result from different permissions for the selected elements. All new changes are aplied to all the elements." %}<br>
                    {% endset %}
                    {{ forms.message(multiplePermissionsMessage) }}
                    
                    <div class="XiboData">
                        <table id="permissionsMultiTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "View" %}</th>
                                <th>{% trans "Edit" %}</th>
                                <th>{% trans "Delete" %}</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}