{#
/**
 * Copyright (C) 2020 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
<div class="col-12 welcome-title">{% trans "If you have yet to choose a Player application, take a look at the Player options available!" %}</div>
<div class="welcome-players-section text-center row">
    <div class="col-4 col-md-2 offset-md-1">
        <a href="https://xibo.org.uk/xibo-for-windows"><img src="{{ theme.uri("img/tours/icon_windows.svg") }}" class="player-icon tour-link"/></a>
        <div class="player-title">{% trans "Xibo for Windows" %}</div>
    </div>
    <div class="col-4 col-md-2">
        <a href="https://xibo.org.uk/xibo-for-linux"><img src="{{ theme.uri("img/tours/icon_ubuntu.svg") }}" class="player-icon tour-link"/></a>
        <div class="player-title">{% trans "Xibo for Linux" %}</div>
    </div>
    <div class="col-4 col-md-2">
        <a href="https://xibo.org.uk/xibo-for-android"><img src="{{ theme.uri("img/tours/icon_android.svg") }}" class="player-icon tour-link"/></a>
        <div class="player-title">{% trans "Xibo for Android" %}</div>
    </div>
    <div class="col-6 col-md-2">
        <a href="https://xibo.org.uk/xibo-for-webos"><img src="{{ theme.uri("img/tours/icon_lg.svg") }}" class="player-icon tour-link"/></a>
        <div class="player-title">{% trans "Xibo for webOS" %}</div>
    </div>
    <div class="col-6 col-md-2">
        <a href="https://xibo.org.uk/xibo-for-tizen"><img src="{{ theme.uri("img/tours/icon_tizen.svg") }}" class="player-icon tour-link"/></a>
        <div class="player-title">{% trans "Xibo for Tizen" %}</div>
    </div>
</div>