{#
/**
 * Copyright (C) 2022 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}

{% extends "connector-form-edit.twig" %}
{% import "forms.twig" as forms %}
{% import "inline.twig" as inline %}

{% block connectorFormFields %}
    {% set partners = interface.getAvailablePartners() %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#tab-general" role="tab" data-toggle="tab">
                <span>{% trans "General" %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-ssp-config" role="tab" data-toggle="tab">
                <span>{% trans "SSP Config" %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab-activity-log" role="tab" data-toggle="tab">
                <span>{% trans "Activity Log" %}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-general">
            <h3>Xibo SSP Connector<small> - work with world leading supply side platforms</small></h3>
            <p>
                Onboard with one of the below SSP's, enter your API key and configure which displays you want to activate. <br>
                In most cases you will need to list your displays with the SSP and copy your SSP ID into the CMS.
            </p>
            <p>
                Please note that your players will require HTTP access to <code>https://exchange.xibo-adspace.com</code>
                to receive ads from any SSP.
            </p>

            {% if partners is not iterable %}
                <p class="alert alert-danger">{{ interface.getFormError() }}</p>
            {% endif %}

            {% if not interface.isProviderSetting("apiKey") %}
                <h4>API Key</h4>
                <p>Your API key allows for secure communication between the CMS and the Xibo SSP connector service. It is used
                    to orchestrate the delivery of ads to your players.</p>

                {% set title %}{% trans "API Key" %}{% endset %}
                {% set helpText %}{% trans "Enter your API Key from Xibo." %}{% endset %}
                {{ forms.input("apiKey", title, interface.getSetting("apiKey"), helpText) }}
            {% endif %}
        </div>
        <div class="tab-pane" id="tab-ssp-config">
            <h4>SSP configuration</h4>
            <div class="row">
                {% if partners is iterable and partners|length > 0 %}
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            {% for partnerKey, available in partners %}
                                <button class="nav-link{% if loop.first %} active{% endif %}"
                                        id="v-pills-{{ partnerKey }}-tab"
                                        data-toggle="pill"
                                        data-target="#v-pills-{{ partnerKey }}"
                                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                    {{ available.name }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content">
                            {% for partnerKey, available in partners %}
                                <div class="tab-pane fade show{% if loop.first %} active{% endif %}"
                                     id="v-pills-{{ partnerKey }}" role="tabpanel" aria-labelledby="v-pills-{{ partnerKey }}-tab">
                                    <h4>{{ available.name }}</h4>

                                    {% set title %}{% trans "Enabled?" %}{% endset %}
                                    {% set helpText %}{% trans "Connect to this partner" %}{% endset %}
                                    {{ forms.checkbox(partnerKey ~ "_enabled", title, interface.getPartnerSetting(partnerKey, "enabled"), helpText) }}

                                    {% set title %}{% trans "API Key" %}{% endset %}
                                    {% set helpText %}{% trans "Enter your API Key from this SSP." %}{% endset %}
                                    {{ forms.input(partnerKey ~ "_key", title, interface.getPartnerSetting(partnerKey, "key"), helpText) }}

                                    {% set title %}{% trans "Share of voice" %}{% endset %}
                                    {% set helpText %}{% trans "How many seconds per hour would you like to dedicate to this SSP?" %}{% endset %}
                                    {{ forms.number(partnerKey ~ "_sov", title, interface.getPartnerSetting(partnerKey, "sov"), helpText) }}

                                    {% set title %}{% trans "Duration (s)" %}{% endset %}
                                    {% set helpText %}{% trans "The expected duration of each ad served by the SSP." %}{% endset %}
                                    {{ forms.number(partnerKey ~ "_duration", title, interface.getPartnerSetting(partnerKey, "duration"), helpText) }}

                                    {% set title %}{% trans "Min Duration (s)" %}{% endset %}
                                    {% set helpText %}{% trans "The minimum duration of an ad served by the SSP." %}{% endset %}
                                    {{ forms.number(partnerKey ~ "_minDuration", title, interface.getPartnerSetting(partnerKey, "minDuration"), helpText) }}

                                    {% set title %}{% trans "Max Duration (s)" %}{% endset %}
                                    {% set helpText %}{% trans "The maximum duration of an ad served by the SSP." %}{% endset %}
                                    {{ forms.number(partnerKey ~ "_maxDuration", title, interface.getPartnerSetting(partnerKey, "maxDuration"), helpText) }}

                                    {% set all %}{% trans "Images and Video" %}{% endset %}
                                    {% set image %}{% trans "Images only" %}{% endset %}
                                    {% set video %}{% trans "Videos only" %}{% endset %}
                                    {% set options = [
                                        { id: "imagesAndVideo", value: all },
                                        { id: "imageOnly", value: image },
                                        { id: "videoOnly", value: video }
                                    ] %}
                                    {{ forms.dropdown(partnerKey ~ "_mediaTypesAllowed", "single", title, interface.getPartnerSetting(partnerKey, "mediaTypesAllowed"), options, "id", "value", helpText) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p>To see a list of available partners please enter your API key, save this form and then come back here.</p>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane" id="tab-activity-log">
            <div class="XiboGrid" id="{{ random() }}" data-grid-name="connector-ssp-activity-log">
                <div class="XiboFilterCustom card bg-light mb-3">
                    <div class="FilterDiv card-body" id="connector-ssp-activity-log">
                        <form class="form-inline">
                            <div class="w-100">
                                <a id="applyBtn" class="btn btn-success">
                                    <span>{% trans "Apply" %}</span>
                                </a>
                                <span id="applyWarning" class="text-warning" style="display:none; padding-left: 10px">
                                    {% trans "Warning: This may return a lot of data and may take several minutes to process." %}
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="XiboData card pt-3">
                    <table id="stats" class="table table-striped" data-state-preference-name="connector-ssp-activity-log">
                        <thead>
                        <tr>
                            <th>{% trans "Scheduled At" %}</th>
                            <th>{% trans "Campaign" %}</th>
                            <th>{% trans "Display ID" %}</th>
                            <th>{% trans "Played?" %}</th>
                            <th>{% trans "Errored?" %}</th>
                            <th>{% trans "Impressions" %}</th>
                            <th>{% trans "Impression Date" %}</th>
                            <th>{% trans "Impression Actual" %}</th>
                            <th>{% trans "Errors" %}</th>
                            <th>{% trans "Error Date" %}</th>
                            <th>{% trans "Error Code" %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h4>Enable/Disable</h4>
    <p>Disabling this connector will stop all displays from making ad requests.</p>

{% endblock %}
