{#
/**
 * Copyright (C) 2025 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - http://www.xibo.org.uk
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% import "inline.twig" as inline %}
{% set gridId = random() %}

<script type="text/javascript" nonce="{{ cspNonce }}">

  // Buttons for Configure and Link Displays
  $(function() {
    $('#connectors').on('connectors.loaded', function() {
      var $rdmConnector = $('#connectors').find('div[data-connector-class-name-last="XiboRdmConnector"]');
      var $button = $('<button class="btn btn-info" role="button">{% trans "Link Displays" %}</button>');

      $button.on('click', function() {
        rdmDisplayDialogOpen($rdmConnector);
      });

      $rdmConnector.find('.card-footer').append($button);
    });
  });

  // RDM Connector Window
  window.rdmDisplayDialogOpen = function($rdmConnector) {
    bootbox.hideAll();
    // Put the template into a modal.
    var template = Handlebars.compile($('#connector-rdm-display').html());
    var dialog = bootbox.dialog({
      message: template({}),
      title: '{{ "RDM Connector"|trans }}',
      animate: false,
      size: 'xl'
    });

    XiboInitialise('#{{ gridId }}');

    dialog.closest('.modal').addClass('rdm-modal');

    // Make the CMS Display Datatable
    let displayTable;
    let cmsDisplayTable = $('#unlinked-cms-display');
    let selectedDisplay = {
      id: '',
      name: ''
    };

    displayTable = cmsDisplayTable.DataTable({
      language: dataTablesLanguage,
      dom: dataTablesTemplate,
      serverSide: false,
      stateSave: false,
      responsive: true,
      filter: false,
      searchDelay: 3000,
      order: [[ 0, 'asc']],
      ajax: {
        url: '{{ url_for("display.search") }}',
        data: function (d) {
          $.extend(d, $('#connector-display-filter').serializeObject(), {'rdmDeviceId': 0});
        }
      },
      columns: [
        { data: 'display', responsivePriority: 1 },
        { data: 'displayId', responsivePriority: 1 },
        { data: 'manufacturer', responsivePriority: 1 },
        {
          responsivePriority: 1,
          render: function(data, type, row) {
            return '<p id="cms_' + row.displayId + '" class="text-primary text-center mr-3 cms-link" ' +
              'data-id="' + row.displayId + '" data-name="' + row.display + '" style="cursor: pointer;">'
              + '<i class="fa fa-link mr-1" aria-hidden="true"></i> Link</p>';
          }
        },
      ],
    });

    displayTable.on('draw', dataTableDraw);
    displayTable.on('processing.dt', dataTableProcessing);

    // Make the Account Device Datatable
    let deviceTable;
    let rdmDeviceTable = $('#unlinked-rdm-devices');
    let selectedDevice = {
      id: '',
      name: ''
    };

    deviceTable = rdmDeviceTable.DataTable({
      language: dataTablesLanguage,
      dom: dataTablesTemplate,
      serverSide: false,
      stateSave: false,
      responsive: true,
      filter: false,
      searchDelay: 3000,
      order: [[ 0, 'asc']],
      ajax: {
        url: $rdmConnector.data('proxyUrl').replace(':method', 'getRdmDevices'),
        data: function(d) {
          $.extend(d, $('#connector-device-filter').serializeObject(), {'cmsConnected': 0});
        },
      },
      columns: [
        {
          responsivePriority: 1,
          render: function(data, type, row) {
            return '<p id="rdm_' + row.id + '" class="text-primary text-center rdm-link" ' +
              'data-id="' + row.id + '" data-name="' + row.device + '" style="cursor: pointer;">' +
              '<i class="fa fa-link" aria-hidden="true"></i> Link</p>';
          }
        },
        { data: 'device', responsivePriority: 1 },
        { data: 'id', responsivePriority: 1 },
        { data: 'type', responsivePriority: 1 },
      ],
    });

    deviceTable.on('draw', dataTableDraw);
    deviceTable.on('processing.dt', dataTableProcessing);

    // Make the Linked Device Datatable
    let linkedDeviceTable;

    linkedDeviceTable = $('#linked-cms-display').DataTable({
      language: dataTablesLanguage,
      dom: dataTablesTemplate,
      serverSide: false,
      stateSave: false,
      responsive: true,
      filter: false,
      searchDelay: 3000,
      order: [[ 0, 'asc']],
      ajax: {
        url: $rdmConnector.data('proxyUrl').replace(':method', 'getDisplaysAndDevices'),
        data: function (d) {
          $.extend(d, $('#cms-display-filter').serializeObject());
        }
      },
      columns: [
        { data: 'display', responsivePriority: 1 },
        { data: 'cmsDisplayId', responsivePriority: 1 },
        { data: 'manufacturer', responsivePriority: 1 },
        {
          responsivePriority: 1,
          render: function(data, type, row) {
            return '<i class="fa text-primary fa-link " aria-hidden="true"></i>';
          }
        },
        { data: 'device', responsivePriority: 1 },
        { data: 'id', responsivePriority: 1 },
        { data: 'type', responsivePriority: 1 },
      ],
    });

    linkedDeviceTable.on('draw', dataTableDraw);
    linkedDeviceTable.on('processing.dt', dataTableProcessing);

    // Hide filters
    let deviceNameFilters = $('.linkedDeviceName, .linkedDeviceId');
    let displayNameFilters = $('.linkedDisplayName, .linkedDisplayId');
    deviceNameFilters.hide();

    function triggerFilter(selectedValue) {
      if (selectedValue === 'cmsDisplay') {
        displayNameFilters.show();
        deviceNameFilters.hide();
      } else {
        deviceNameFilters.show();
        displayNameFilters.hide();
      }
    }

    // Watch for filter input changes in CMS Display table
    $('#connector-display-filter select, #connector-display-filter input').on('change', function(e) {
      displayTable.ajax.reload();
    });

    // Watch for filter input changes in RDM Device table
    $('#connector-device-filter select, #connector-device-filter input').on('change', function(e) {
      deviceTable.ajax.reload();
    });

    // Watch for filter input changes in linked table
    $('#cms-display-filter select#sourceFilter').on('change', function(e) {
      triggerFilter($(this).val());
      linkedDeviceTable.ajax.reload();
    });

    $('#cms-display-filter input, #cms-display-filter select#type').on('change', function(e) {
      linkedDeviceTable.ajax.reload();
    });

    // Manual linking
    cmsDisplayTable.on('click', '.cms-link', function () {
      selectedDisplay = {
        id: $(this).data('id'),
        name: $(this).data('name')
      };

      // Validate selection
      if (selectedDevice.id !== '') {
        linkRdmDevice(selectedDisplay, selectedDevice)
      }
    });

    rdmDeviceTable.on('click', '.rdm-link', function () {
      selectedDevice = {
        id: $(this).data('id'),
        name: $(this).data('name')
      };

      // Validate selection
      if (selectedDisplay.id !== '') {
        linkRdmDevice(selectedDisplay, selectedDevice)
      }
    });

    function linkRdmDevice(display, device) {
      // Adjust confirmation dialog modal z-index
      adjustModalZIndex(1040);

      const dialog = bootbox.dialog({
        message: `<div class="text-center">Do you want to link<br>
                    <span style="display: inline-block; margin-top: 10px;"><strong>${display.name}</strong></span><br>
                    <span style="display: block; margin: 10px 0;">to</span><strong>${device.name}</strong>?</div>`,
        closeButton: false,
        centerVertical: true,
        size: 'small',
        buttons: {
          cancel: {
            label: translations.cancel,
            className: 'btn-white btn-bb-cancel',
            callback: function(res) {
              // Revert modal z-index changes
              adjustModalZIndex(1050)
            }
          },
          link: {
            label: translations.link,
            className: 'btn-primary test btn-bb-link',
            callback: function(res) {
              $.ajax({
                url: $rdmConnector.data('proxyUrl').replace(':method', 'setRdmDevice'),
                type: 'POST',
                data: JSON.stringify({
                  displayId: display.id,
                  rdmDeviceId: device.id,
                }),
                contentType: 'application/json',
                success: function(response) {
                  toastr.info('Link Successful!');
                  displayTable.ajax.reload();
                  deviceTable.ajax.reload();
                },
                error: function(error) {
                  toastr.error('Failed to link device. Please try again.');
                }
              });

              resetSelection();

              // Revert modal z-index changes
              adjustModalZIndex(1050)
            }
          }
        }
      }).attr('id', Date.now());
    }

    function resetSelection() {
      selectedDisplay.id = '';
      selectedDisplay.name = '';
      selectedDevice.id = '';
      selectedDevice.name = '';
    }

    // Adjust z-index for stacked modals
    function adjustModalZIndex(zIndex) {
      $('.rdm-modal').css('z-index', zIndex);
    }
  };

</script>
<script type="text/x-handlebars-template" id="connector-rdm-display">
  <div class="XiboGrid" id="{{ gridId }}" data-grid-name="connector-rdm-display">
      <!-- Card Header -->
      <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="unlinked-tab" data-toggle="tab" href="#unlinkedTab" role="tab"
                     aria-controls="unlinkedTab" aria-selected="true">Unlinked</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="linked-tab" data-toggle="tab" href="#linkedTab" role="tab"
                     aria-controls="linkedTab" aria-selected="false">Linked</a>
              </li>
          </ul>
      </div>

      <!-- Card Body -->
      <div class="card-body">
          <div class="tab-content">

              <!-- UNLINKED TAB-->
              <div class="tab-pane active" id="unlinkedTab" role="tabpanel" aria-labelledby="unlinked-tab">
                  <div class="row">
                      <div class="XiboFilterCustom pb-0 mb-0 col-md-6 pr-lg-4">
                          <div class="FilterDiv" id="connector-display-unlinked-table">
                              <h5 class="m-3">{% trans "CMS Displays" %}</h5>
                              <form id="connector-display-filter" class="form-inline m-3">
                                  {% set title %}{% trans "Display Name" %}{% endset %}
                                  {{ inline.input("display", title) }}
                                  {% set title %}{% trans "Type" %}{% endset %}
                                  {% set title %}{% trans "Type" %}{% endset %}
                                  {% set options = [
                                      { optionid: "", option: "All" },
                                      { optionid: "Sony Bravia", option: "Sony Bravia" },
                                      { optionid: "DSDevices", option: "DSDevices" },
                                      { optionid: "Windows", option: "Windows" },
                                      { optionid: "ChromeOS", option: "ChromeOS" },
                                  ] %}
                                  {{ inline.dropdown("displayType", "single", title, "", options, "optionid", "option", helpText) }}
                                  {% set title %}{% trans "ID" %}{% endset %}
                                  {{ inline.input("displayId", title) }}
                              </form>

                              <!-- CMS DISPLAYS DATATABLE -->
                              <div class="XiboData">
                                  <table id="unlinked-cms-display"
                                         class="table table-striped table-full-width"
                                         style="width: 100%"
                                         data-state-preference-name="unlinked-cms-list-display" >
                                      <thead>
                                      <tr>
                                          <th>{% trans "Display" %}</th>
                                          <th>{% trans "ID" %}</th>
                                          <th>{% trans "Type" %}</th>
                                          <th></th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      </tbody>
                                      <tfoot>
                                          <tr>
                                              <th></th>
                                              <th></th>
                                              <th></th>
                                              <th></th>
                                          </tr>
                                      </tfoot>
                                  </table>
                              </div>
                          </div>
                      </div>

                      <div class="XiboFilterCustom pb-0 mb-0 col-md-6 pl-lg-4">
                          <div class="FilterDiv" id="connector-device-unlinked-table">
                              <h5 class="m-3">{% trans "My Account Devices" %}</h5>
                              <form id="connector-device-filter" class="form-inline m-3">
                                  {% set title %}{% trans "Device Name" %}{% endset %}
                                  {{ inline.input("deviceName", title) }}
                                  {% set title %}{% trans "Type" %}{% endset %}
                                  {% set options = [
                                    { optionid: "", option: "All" },
                                    { optionid: "Sony Bravia", option: "Sony Bravia" },
                                    { optionid: "DSDevices", option: "DSDevices" },
                                    { optionid: "Windows", option: "Windows" },
                                    { optionid: "ChromeOS", option: "ChromeOS" },
                                  ] %}
                                  {{ inline.dropdown("type", "single", title, "", options, "optionid", "option", helpText) }}
                                  {% set title %}{% trans "ID" %}{% endset %}
                                  {{ inline.input("id", title) }}
                              </form>

                              <!-- MY ACCOUNT DEVICES DATATABLE -->
                              <div class="XiboData">
                                  <table id="unlinked-rdm-devices"
                                         class="table table-striped table-full-width"
                                         style="width: 100%"
                                         data-state-preference-name="unlinked-rdm-devices" >
                                      <thead>
                                      <tr>
                                          <th></th>
                                          <th>{% trans "Display" %}</th>
                                          <th>{% trans "ID" %}</th>
                                          <th>{% trans "Type" %}</th>
                                      </tr>
                                      </thead>
                                      <tbody></tbody>
                                      <tfoot>
                                          <tr>
                                              <th></th>
                                              <th></th>
                                              <th></th>
                                              <th></th>
                                          </tr>
                                      </tfoot>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- LINKED TAB-->
              <div class="tab-pane show" id="linkedTab" role="tabpanel" aria-labelledby="linked-tab">
                  <div class="XiboFilterCustom pb-0 mb-0">
                      <div class="FilterDiv" id="connector-rdm-linked-table">
                          <form id="cms-display-filter" class="form-inline mx-3">
                              {% set title %}{% trans "Source" %}{% endset %}
                              {% set options = [
                                { optionid: "cmsDisplay", option: "CMS Displays" },
                                { optionid: "myAccountDevices", option: "My Account Devices" },
                              ] %}
                              {{ inline.dropdown("sourceFilter", "single", title, "", options, "optionid", "option", helpText) }}
                              {% set title %}{% trans "Display Name" %}{% endset %}
                              {{ inline.input("display", title, '', '', 'linkedDisplayName') }}
                              {% set title %}{% trans "Device Name" %}{% endset %}
                              {{ inline.input("deviceName", title, '', '', 'linkedDeviceName') }}
                              {% set title %}{% trans "Type" %}{% endset %}
                              {% set options = [
                                { optionid: "", option: "All" },
                                { optionid: "Sony Bravia", option: "Sony Bravia" },
                                { optionid: "DSDevices", option: "DSDevices" },
                                { optionid: "Windows", option: "Windows" },
                                { optionid: "ChromeOS", option: "ChromeOS" },
                              ] %}
                              {{ inline.dropdown("type", "single", title, "", options, "optionid", "option", helpText) }}
                              {% set title %}{% trans "ID" %}{% endset %}
                              {{ inline.input("displayId", title, '', '', 'linkedDisplayId') }}
                              {% set title %}{% trans "ID" %}{% endset %}
                              {{ inline.input("id", title, '', '', 'linkedDeviceId') }}

                              {{ inline.hidden("cmsConnected", 1) }}
                          </form>

                          <!-- CMS DISPLAYS RDM DEVICES DATATABLE -->
                          <div class="XiboData">
                              <div class="row p-3">
                                  <div class="col-md-6 p-0">
                                      <h5>{% trans "CMS Displays" %}</h5>
                                  </div>
                                  <div class="col-md-6 p-0">
                                      <h5>{% trans "My Account Devices" %}</h5>
                                  </div>
                              </div>
                              <table id="linked-cms-display"
                                     class="table table-striped table-full-width"
                                     style="width: 100%"
                                     data-state-preference-name="connector-rdm-linked-display" >
                                  <thead>
                                  <tr>
                                      <th>{% trans "Display" %}</th>
                                      <th>{% trans "ID" %}</th>
                                      <th>{% trans "Type" %}</th>
                                      <th>{% trans "Link" %}</th>
                                      <th>{% trans "Display" %}</th>
                                      <th>{% trans "ID" %}</th>
                                      <th>{% trans "Type" %}</th>
                                  </tr>
                                  </thead>
                                  <tbody></tbody>
                                  <tfoot>
                                      <tr>
                                          <th></th>
                                          <th></th>
                                          <th></th>
                                          <th></th>
                                          <th></th>
                                          <th></th>
                                          <th></th>
                                      </tr>
                                  </tfoot>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</script>