<div class="tab-pane" id="actionTab">
    <div class="col-md-10" style="width: 100%">
        <div class="XiboGrid" id="actions-container">
            <div class="XiboData">
                <table id="actions" class="table table-striped" >
                    <thead>
                    <tr>
                        <th>{{trans.tableHeaders.id}}</th>
                        <th>{{trans.tableHeaders.ownerId}}</th>
                        <th>{{trans.tableHeaders.triggerType}}</th>
                        <th>{{trans.tableHeaders.triggerCode}}</th>
                        <th>{{trans.tableHeaders.actionType}}</th>
                        <th>{{trans.tableHeaders.target}}</th>
                        <th>{{trans.tableHeaders.targetId}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <ul class="nav nav-pills pull-left" style="margin-left: 5px;">
            <li class="btn btn-success btn-xs"><a class="XiboFormButton btns" style="padding: 7px 7px; background-color:#5cb85c;" title="{{trans.button.description}}" href="{{addUrl}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>{{trans.button.name}}</a></li>
        </ul>

    </div>
</div>