<div class="tab-pane" id="actionTab">
    <div class="XiboGrid" id="actions-container">
        <div class="XiboData pt-3">
            <table id="actions" class="table table-striped table-condensed w-100">
                <thead>
                <tr>
                    <th>{{trans.tableHeaders.id}}</th>
                    <th>{{trans.tableHeaders.ownerId}}</th>
                    <th>{{trans.tableHeaders.triggerType}}</th>
                    <th>{{trans.tableHeaders.triggerCode}}</th>
                    <th>{{trans.tableHeaders.actionType}}</th>
                    <th>{{trans.tableHeaders.target}}</th>
                    <th>{{trans.tableHeaders.targetId}}</th>
                    <th>{{trans.tableHeaders.widgetId}}</th>
                    <th>{{trans.tableHeaders.layoutCode}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>