<div class="action-element" data-action-id="{{actionId}}">
    <div class="action-element-trigger {{#if isTrigger}}highlight{{/if}}">
        <div class="element-header">
            {{trans.trigger}}
        </div>

        {{#if triggerType}}
            <div class="trigger-type type">
                {{lookup trans triggerType}}
            </div>
        {{else}}
            <div class="not-defined text-muted">{{trans.notDefined}}</div>
        {{/if}}

        {{#neq triggerType 'webhook'}}
            {{#if source}}
                <div class="trigger-target target">
                    <span class="label">{{lookup trans.targetsAndSources source}}:</span>{{#if sourceName}}"{{sourceName}}"{{/if}}
                </div>
            {{else}}
                <div class="not-defined text-muted">{{trans.notDefined}}</div>
            {{/if}}
        {{else}}
            <div class="trigger-code code">
                <span class="label">{{trans.triggerCode}}:</span>{{triggerCode}}
            </div>
        {{/neq}}
    </div>
    <div class="action-element-target {{#if isTarget}}highlight{{/if}}">
        <div class="element-header">
            {{trans.target}}
        </div>

        <div class="action-type type">
            <p class="mb-0">{{lookup trans actionTitle}}</p>
        </div>
        
        <div class="action-target target">
            {{#eq actionType "navWidget"}}
                <p class="mb-0"><span class="label">{{trans.target}}:</span>{{lookup trans.targetsAndSources target}} {{#if targetName}}"{{targetName}}"{{/if}}</p>
                <p class="mb-0">
                    <span class="label">{{trans.targetsAndSources.widget}}:</span>
                    {{#if widgetId}}
                        "{{widgetName}}" ({{widgetId}})
                    {{else}}
                        <span class="text-muted">{{trans.notDefined}}</span>
                    {{/if}}
                </p>
            {{else}}
                {{#eq actionType "navLayout"}}
                    <span class="label">{{trans.layoutCode}}:</span>
                    {{#if layoutCode}}
                        "{{layoutCode}}"
                    {{else}}
                        <span class="text-muted">{{trans.notDefined}}</span>
                    {{/if}}
                {{else}}
                    <p class="mb-0"><span class="label">{{trans.target}}:</span>
                        {{#if targetType}}
                            {{lookup trans.targetsAndSources targetType}}
                        {{else}}
                            {{lookup trans.targetsAndSources target}} 
                        {{/if}} {{#if targetName}}"{{targetName}}"{{/if}}
                    </p>
                {{/eq}}
            {{/eq}}
        </div>
    </div>
    {{#if editMode}}
        <div class="edit-hover-menu">
            <button class="btn btn-default action-btn" type="button" title="{{trans.editAction}}" data-action="edit">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-default action-btn" type="button" title="{{trans.deleteAction}}" data-action="delete">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    {{/if}}
</div>