<form class="action-element-form">
    <div class="form-group">
        {{> forms/inputs/header title=(lookup trans actionTitle) customClass="action-form-input" }}

        {{!-- Hidden/Fixed fields --}}
        {{> forms/inputs/hidden value=actionType id="actionType" customClass="action-form-input" }}

        {{> forms/inputs/dropdown id="triggerType" value=triggerType title=trans.triggerType customClass="action-element-form-trigger action-form-input" options=(arr (obj name="touch" title=trans.touch) (obj name="webhook" title=trans.webhook)) optionsTitle="title" optionsValue="name" helpText=trans.triggerTypeHelpText }}
        {{> forms/inputs/text id="triggerCode" value=triggerCode title=trans.triggerCode customClass="action-form-input" helpText=trans.triggerCodeHelpText visibility='{ "field": "triggerType", "type": "eq", "value": "webhook" }' }}

        {{> forms/inputs/hidden id="source" value=source }}
        {{> forms/inputs/dropdown id="sourceId" value=sourceId title=trans.triggerTarget customClass='action-element-form-trigger action-form-input' options=(arr (obj name="" title="")) optionsTitle="title" optionsValue="name" helpText=trans.triggerTargetHelpText visibility='{ "field": "triggerType", "type": "neq", "value": "webhook" }' }}

        {{!-- Set layout name as screen --}}
        {{#eq target "layout"}}
            {{set "targetValue" "screen"}}
        {{else}}
            {{set "targetValue" target}}
        {{/eq}}

        {{> forms/inputs/hidden id="target" value=targetValue customClass="action-form-input" }}
        {{> forms/inputs/dropdown id="targetId" value=targetId title=trans.target customClass="action-element-form-target action-form-input" options=(arr (obj name="" title="")) optionsTitle="title" optionsValue="name" helpText=trans.targetHelpText }}

        {{!-- For nav widget only --}}
        {{#eq actionType "navWidget"}}
            {{> forms/inputs/dropdown id="widgetId" value=widgetId title=trans.widgetToLoad customClass="action-element-form-target action-form-input" options=(arr (obj name="" title="") (obj name="create" title=trans.createNewDrawerWidget)) optionsTitle="title" optionsValue="name" helpText=trans.widgetToLoadHelpText visibility='{ "field": "targetId", "type": "neq", "value": "" }' }}
        {{/eq}}

        {{!-- For nav layout only --}}
        {{#eq actionType "navLayout"}}
            {{> forms/inputs/dropdown id="layoutCode" value=layoutCode title=trans.layoutCode customClass="action-form-input" selectType="pagedSelect"
                options=(arr (obj name="" title="")) optionsTitle="title" optionsValue="name"
                customData=(arr 
                    (obj name="width" value="100%")
                    (obj name="search-url" value=layoutCodeSearchURL)
                    (obj name="search-term" value="code")
                    (obj name="id-property" value="code")
                    (obj name="text-property" value="code")
                    (obj name='initial-value' value=layoutCode)
                    (obj name='initial-key' value="code")
                )
                helpText=trans.layoutCodeHelpText
            }}
        {{/eq}}
    </div>

    <div class="alert alert-danger error-message w-100"></div>
    <div>
        <button class="btn btn-primary w-100" type="button" data-action="save">{{trans.save}}</button>
        <button class="btn btn-outline-primary w-100 mt-2" type="button" data-action="cancel">{{trans.cancel}}</button>
    </div>
</form>