<button type="button" class="bc-toggle btn btn-sm btn-light" data-toggle="tooltip" data-title="{{trans.toggle}}">
    <i class="fa fa-map"></i>
</button>

<div class="bc-content" style="display: none;">
    <div data-id="{{layout.id}}" class="bc-layout bc-element bc-link" data-toggle="tooltip" data-title="{{trans.layout}}">
        {{layout.name}}
    </div>

    {{#if region}}
        <i class="fa fa-arrow-right bc-arrow"></i>
        <div data-id="{{region.id}}" class="bc-region bc-element" data-toggle="tooltip" data-title="{{trans.region}}">
            {{region.name}}
        </div>
    {{/if}}

    {{#if widget}}
        <i class="fa fa-arrow-right bc-arrow"></i>
        <div data-id="{{widget.id}}" class="bc-widget bc-element" data-toggle="tooltip" data-title="{{trans.widget}}">
            {{widget.name}}
        </div>
    {{/if}}
</div>