<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        {{#if buttons.cancel}}
            <button type="button" class="close" data-dismiss="modal" aria-label="{{buttons.cancel.label}}">
                <span aria-hidden="true">&times;</span>
            </button>
        {{/if}}
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        {{#each buttons}}
            <button type="button" class="btn extra {{class}}">{{label}}</button>
        {{/each}}
      </div>
    </div>
  </div>
</div>