<div class="context-menu-overlay" oncontextmenu="return false">
    <div class="context-menu context-menu-{{type}}">
        {{#if isSortable}}
            <div class="sort-controls-container">
                <div class="context-menu-btn" data-title="{{trans.moveTopLeft}}" data-action="Move" data-action-type="topLeft" data-toggle="tooltip" data-container=".context-menu">
                    <i class="fa fa-fast-backward"></i>
                </div>
                <div class="context-menu-btn" data-title="{{trans.moveLeft}}" data-action="Move" data-action-type="oneLeft" data-toggle="tooltip" data-container=".context-menu">
                    <i class="fa fa-backward"></i>
                </div>
                <div class="context-menu-btn" data-title="{{trans.moveRight}}" data-action="Move" data-action-type="oneRight" data-toggle="tooltip" data-container=".context-menu">
                    <i class="fa fa-forward"></i>
                </div>
                <div class="context-menu-btn" data-title="{{trans.moveTopRight}}" data-action="Move" data-action-type="topRight" data-toggle="tooltip" data-container=".context-menu">
                    <i class="fa fa-fast-forward"></i>
                </div>
            </div>
        {{/if}}

        <div class="main-button-container">
            {{#eq type "widget"}}
                {{#if isEditable}}
                    {{#if canAttachAudio}}
                        <div class="context-menu-btn" data-title="{{trans.editAudio}}" data-property="Audio" data-toggle="tooltip" data-container=".context-menu" data-placement="bottom">
                            <i class="fa tool-icon-audio"></i>
                        </div>
                    {{/if}}

                    <div class="context-menu-btn" data-title="{{trans.editExpiry}}" data-property="Expiry" data-toggle="tooltip" data-container=".context-menu" data-placement="bottom">
                        <i class="fa tool-icon-expiry"></i>
                    </div>
                
                    <div class="context-menu-btn" data-title="{{trans.editTransIn}}" data-property="Transition" data-property-type="in" data-toggle="tooltip" data-container=".context-menu" data-placement="bottom">
                        <i class="fa tool-icon-transitionIn"></i>
                    </div>
                    
                    <div class="context-menu-btn" data-title="{{trans.editTransOut}}" data-property="Transition" data-property-type="out" data-toggle="tooltip" data-container=".context-menu" data-placement="bottom">
                        <i class="fa tool-icon-transitionOut"></i>
                    </div>
                {{/if}}
            {{/eq}}

            {{#if isPermissionsModifiable}}
                <div class="context-menu-btn permissionsBtn" data-title="{{trans.editPermissions}}" data-property="Permissions" data-toggle="tooltip" data-container=".context-menu" data-placement="bottom">
                    <i class="fa tool-icon-permissions"></i>
                </div>
            {{/if}}

            {{#if isDeletable}}
                <div class="context-menu-btn deleteBtn" data-title="{{trans.delete}}" data-action="Delete" data-toggle="tooltip" data-container=".context-menu" data-placement="bottom">
                    <i class="fa fa-trash"></i>
                </div>
            {{/if}}
        </div>
    </div>
</div>