<div class="multi-delete-modal container-fluid">
    <div class="col-sm-12 ">
        <p>{{ mainMessage }}</p>
    </div>
        
    {{#each objectArray}}
        <div class="multi-delete-element row" data-id="{{objectId}}" data-type="{{objectType}}">
            {{#if hasMedia}}
                <div class="col-sm-3">
                    [{{objectId}}] {{objectName}}:
                </div>

                {{#unless dataUsed}}
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="deleteMedia{{objectId}}" class="deleteMedia" name="deleteMedia{{objectId}}">
                            <label class="form-check-label" for="deleteMedia{{objectId}}" title="{{ ../trans.deleteMediaFromLibraryTitle }}" accesskey="">
                                {{ ../trans.deleteMediaFromLibraryTitle }}
                            </label>
                        </div>
                        <small class="form-text text-muted">{{ ../trans.deleteMediaFromLibraryMessage }}</small>
                    </div>
                {{else}}
                    <div class="col-sm-9">
                        {{ ../trans.infoDeleteMessage }}
                    </div>
                {{/unless}}
            {{else}}

            {{/if}}
        </div>
    {{/each}}
</div>