<div class="elementDeleteModal container-fluid">
    <div class="col-sm-12 ">
        <p>{{ mainMessage }}</p>
    </div>

    {{#if hasMedia}}
        {{#if showDeleteFromLibrary}}
            <div class="offset-sm-1 col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="deleteMedia" name="deleteMedia">
                    <label class="form-check-label" for="deleteMedia" title="{{ trans.deleteMediaFromLibraryTitle }}" accesskey="">
                        {{ trans.deleteMediaFromLibraryTitle }}
                    </label>
                </div>
                <small class="form-text text-muted">{{ trans.deleteMediaFromLibraryMessage }}</small>
            </div>
        {{else}}
            <div class="col-sm-12 ">
                <p>{{ trans.infoDeleteMessage }}</p>
            </div>
        {{/if}}
    {{/if}}
</div>