<div id="actions-drawer-content" data-type="region" class="editable">
    {{#if drawer.isEmpty}}
        <div id="actions-drawer-empty-message">
            {{#if readOnlyModeOn}}
                <span>{{ trans.notInitEmptyDrawer }}</span>
            {{else}}
                <span>{{ trans.emptyDrawer }}</span>
            {{/if}}
        </div>
    {{else}}
        <div class="text-left" id="actions-drawer-search-bar">
            <i class="fa fa-search"></i>
            <input id="inputSearch" name="inputSearch" value="{{ searchQuery }}" type="text" autoComplete="off" placeholder="{{ trans.search }}">
        </div>

        {{!-- Draw widgets --}}
        <div id="actions-drawer-widgets">
            {{#each widgets}}
                {{> drawer-widget}}
            {{/each}}
        </div>
    {{/if}}
</div>

<div id="actions-drawer-toggle" class="btn btn-toggle"
    data-toggle="tooltip" data-title="{{ trans.toggleDrawer }}">
    <i class="fa fa-inbox"></i>
</div>