<div id="{{ id }}" data-type="widget" data-widget-id="{{ widgetId }}" data-widget-type="{{ subType }}" data-parent-type="drawer" data-widget-region="{{ regionId }}" class="designer-widget drawer-widget {{#unless isDrawerValid }}invalid-widget{{/unless}} selectable {{selectedFlag}} {{#if isEditable}}editable{{/if}} {{#if isPermissionsModifiable}}permissionsModifiable{{/if}} {{#if isDeletable}}deletable{{/if}}">
    <div class="widgetLabel timelineMediaItemColouringDefault timelineMediaItemColouring_{{ subType }} {{ widgetColouring }}">
        <div class="widgetSubType">
            <i class="fa module-icon-{{subType}}" data-toggle="tooltip" data-placement="left" data-container="#actions-drawer" data-title="{{moduleName}}"></i>
        </div>
        <div class="widgetDuration">
            {{ duration }}
        </div>
    </div>

    <div class="widgetName">
        <span class="tooltip-always-on" data-toggle="tooltip" data-placement="left" data-container="#actions-drawer" data-title="{{widgetName}}">{{widgetName}}</span>
    </div>

    <div class="widgetProperties">
        {{#if audio}}
            <i class="fa fa-volume-up editProperty" data-property="Audio"></i>
        {{/if}}

        {{#if actions }}
            <i class="fa fa-paper-plane editProperty tooltip-always-on" data-property="Action" data-content="tooltip" data-toggle="tooltip" data-placement="left" data-container="#actions-drawer" data-title="{{trans.widgetActions}} {{ actions.length}}" ></i>
        {{/if}}

        {{#gt expireStatus 0}}
            <i class="fa {{expireStatusIcon}} editProperty" 
            data-toggle="tooltip" 
            data-placement="right" 
            data-container="#actions-drawer" 
            data-html="true" 
            data-title="{{expireStatusTitle}}"
            data-property="Expiry"></i>
        {{/gt}}

        {{#each transitions}}
            <i class="fa fa-sign-{{@key}} editProperty" data-property="Transition" data-property-type="{{@key}}"></i>
        {{/each}}
    </div>

    <div class="targetInfo {{#unless targetRegionId}}no-target{{/unless}}">
        <i class="fa fa-bullseye float-right"></i>
        {{#if targetRegionId}}
            <span class="info-text float-right mr-2">{{ targetRegionName }}</span>
        {{else}}
            <span class="info-text float-right mr-2" title="{{ trans.noTargetRegionHelp }}">{{ trans.noTargetRegion }}</span>
        {{/if}}
    </div>
</div>
