
<div id="actions-drawer-content" data-type="region" class="editable">
    {{#if drawer.isEmpty}}
        <div id="actions-drawer-empty-message">
            {{#if readOnlyModeOn}}
                <span>{{ trans.notInitEmptyDrawer }}</span>
            {{else}}
                <span>{{ trans.emptyDrawer }}</span>
            {{/if}}
        </div>
    {{else}}
        <div class="actions-drawer-controls row">
            <div class="col-5 mr-auto text-left" id="actions-drawer-search-bar">
                <i class="fa fa-search"></i>
                <input class="w-75" id="inputSearch" name="inputSearch" value="{{ searchQuery }}" type="text" autoComplete="off" placeholder="{{ trans.search }}">
            </div>

            <div class="col-auto ml-auto form-inline" id="drawer-custom-dimensions">
                <div class="dimensions-label">{{ trans.dimensionsLabel }}</div>
                <div class="form-group">
                    <input type="number" class="form-control text_editor_width" id="drawerRegionWidth" value="{{ drawer.dimensions.width }}" placeholder="{{ trans.width }}" title="{{ trans.width }}">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control text_editor_height" id="drawerRegionHeight" value="{{ drawer.dimensions.height }}" placeholder="{{ trans.height }}" title="{{ trans.height }}">
                </div>
            </div>
        </div>

        {{!-- Draw widgets --}}
        <div id="actions-drawer-widgets">
            {{#each widgets}}
                {{> drawer-widget trans=../trans}}
            {{/each}}
        </div>
    {{/if}}
</div>

<div id="actions-drawer-toggle" class="btn btn-toggle"
    data-toggle="tooltip" data-container="#actions-drawer" data-title="{{ trans.toggleDrawer }}">
    <i class="fa fa-inbox"></i>
</div>