<div class="row-special d-inline-flex flex-nowrap p-1 subplaylist-item-row-header">
    <div class="subplaylist-id-container subplaylist-id-container-header">
        {{ trans.playlists }}
    </div>
    <div class="subplaylist-spots-container" title="{{ trans.spotsHelp }}" data-toggle="tooltip" data-placement="top">
        {{ trans.spots }}
    </div>
    <div class="subplaylist-spots-length-container" title="{{ trans.spotsLengthHelp }}" data-toggle="tooltip" data-placement="top">
        {{ trans.spotsLength }}
    </div>
    <div class="subplaylist-spots-fill-container" title="{{ trans.spotsFillHelp }}" data-toggle="tooltip" data-placement="top">
        {{ trans.spotsFill }}
    </div>
</div>