<div class="row row-special">
    <label class="col-sm-1 control-label" for="subPlaylistId[]">{{ title }}</label>
    <div class="col-sm-3">

        {{#if playlists}}
            {{#if isPlaylistEditable}}
                <select class="form-control subPlaylistSelect" name="subPlaylistId[]">
                    <option value=""></option>
                    {{#each playlists}}
                        <option value="{{ playlistId }}" data-tags="{{tags}}" {{#eq playlistId ../subPlaylistId}}selected{{/eq}}>{{ name }}</option>
                    {{/each}}
                </select>
            {{else}}
                <input type="hidden" value="{{ subPlaylistId }}" name="subPlaylistId[]">
                <span title="{{noPlaylistsAccessHelpMessage}}"><i class="fa fa-lock"></i>&nbsp;{{playlistIdMessage}}{{subPlaylistId}}</span>
            {{/if}}
        {{else}}
            <input type="hidden" value="{{ subPlaylistId }}" name="subPlaylistId[]">

            {{#if subPlaylistId}}
                <span title="{{noPlaylistsAccessHelpMessage}}"><i class="fa fa-lock"></i>&nbsp;{{playlistIdMessage}}{{subPlaylistId}}</span>
            {{else}}
                <span title="{{noPlaylistsHelpMessage}}"><i class="fa fa-close"></i>&nbsp;{{noPlaylistsMessage}}</span>
            {{/if}}
        {{/if}}
    </div>
    <div class="col-sm-2">
        <label for="subPlaylistIdSpots[]">
            <input class="form-control" name="subPlaylistIdSpots[]" type="number" value="{{ subPlaylistIdSpots }}" />
        </label>
    </div>
    <div class="col-sm-2">
        <label for="subPlaylistIdSpotLength[]">
            <input class="form-control" name="subPlaylistIdSpotLength[]" type="number" value="{{ subPlaylistIdSpotLength }}" />
        </label>
    </div>
    <div class="col-sm-3">
        <select class="form-control" name="subPlaylistIdSpotFill[]">
            <option value="repeat" {{#eq "repeat" subPlaylistIdSpotFill}}selected{{/eq}} data-template-result="{{ repeatHelpText }}">{{ repeatTitle }}</option>
            <option value="fill" {{#eq "fill" subPlaylistIdSpotFill}}selected{{/eq}} data-template-result="{{ fillHelpText }}">{{ fillTitle }}</option>
            <option value="pad" {{#eq "pad" subPlaylistIdSpotFill}}selected{{/eq}} data-template-result="{{ padHelpText }}">{{ padTitle }}</option>
        </select>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-white btn-sm"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>
</div>