<div class="row-special d-inline-flex flex-nowrap p-1 subplaylist-items-header">
    <div class="subplaylist-id-container subplaylist-id-container-header">
        {{ trans.playlists }}
    </div>
    <div class="subplaylist-spots-container" title="{{ trans.spotsHelp }}" data-toggle="tooltip" data-placement="top">
        {{ trans.spots }}
    </div>
    <div class="subplaylist-spots-length-container" title="{{ trans.spotsLengthHelp }}" data-toggle="tooltip" data-placement="top">
        {{ trans.spotsLength }}
    </div>
    <div class="subplaylist-spots-fill-container" title="{{ trans.spotsFillHelp }}" data-toggle="tooltip" data-placement="top">
        {{ trans.spotsFill }}
    </div>
</div>
<div class="subplaylist-items-content">
    <!-- Subplaylist items will be added here -->
</div>
<div class="subplaylist-items-footer">
    <button class="btn btn-success w-75 subplaylist-item-btn"><i class="fa fa-plus"></i></button>
</div>