<div class="form-group row form-colors">
    <label class="col-sm-2 control-label" for="{{ colorId }}" accesskey="">{{ title }}</label>
    <div class="col-sm-9">
        <input class="form-control" name="color[]" id="{{ colorId }}" type="text" value="{{ value }}">
    </div>
    <div class="col-sm-1">
        <button class="btn btn-white btn-sm"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>
</div>