<div class="form-inline text-center">
    <label class="form-group">{{ title }}</label>
    <div class="form-group" {{#eq title "1"}}class="hidden"{{/eq}}>
        <select class="form-control" name="filterClauseOperator[]">
            {{#each filterOperatorOptions}}
                <option value="{{ id }}" {{#eq id ../filterClauseOperator}}selected{{/eq}}>{{ value }}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" name="filterClause[]">
            <option value=""></option>
            {{#each columns}}
                <option value="{{ heading }}" {{#eq heading ../filterClause}}selected{{/eq}}>{{ heading }}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" name="filterClauseCriteria[]">
            {{#each filterOptions}}
            <option value="{{ id }}" {{#eq id ../filterClauseCriteria}}selected{{/eq}}>{{ value }}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" name="filterClauseValue[]" type="text" value="{{ filterClauseValue }}" />
    </div>
    <button class="btn btn-default btn-sm"><i class="fa {{ buttonGlyph }}"></i></button>
</div>