<div class="form-group">
    <label class="col-sm-1 control-label" for="subPlaylistId[]">{{ title }}</label>
    <div class="col-sm-3">
        <select class="form-control subPlaylistSelect" name="subPlaylistId[]">
            <option value=""></option>
            {{#each playlists}}
                <option value="{{ playlistId }}" {{#eq playlistId ../subPlaylistId}}selected{{/eq}}>{{ name }}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-sm-2">
        <label for="subPlaylistIdSpots[]">
            <input class="form-control" name="subPlaylistIdSpots[]" type="number" value="{{ subPlaylistIdSpots }}" />
        </label>
    </div>
    <div class="col-sm-2">
        <label for="subPlaylistIdSpotLength[]">
            <input class="form-control" name="subPlaylistIdSpotLength[]" type="number" value="{{ subPlaylistIdSpotLength }}" />
        </label>
    </div>
    <div class="col-sm-2">
        <select class="form-control" name="subPlaylistIdSpotFill[]">
            <option value="repeat" {{#eq "repeat" subPlaylistIdSpotFill}}selected{{/eq}}>{{ repeatTitle }}</option>
            <option value="fill" {{#eq "fill" subPlaylistIdSpotFill}}selected{{/eq}}>{{ fillTitle }}</option>
            <option value="pad" {{#eq "pad" subPlaylistIdSpotFill}}selected{{/eq}}>{{ padTitle }}</option>
        </select>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-default btn-sm"><i class="fa {{ buttonGlyph }}"></i></button>
    </div>
</div>