<div class="order-clause-row flex-nowrap form-inline justify-content-between p-1">
    <button type="button" class="btn btn-white"><i class="fa {{ buttonGlyph }}"></i></button>
    <div class="form-group">
        <select class="form-control order-clause" name="orderClause[]">
            <option value=""></option>
            {{#each columns}}
                <option value="{{ heading }}" {{#eq heading ../orderClause}} selected{{/eq}}>{{ heading }}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <select class="form-control order-clause-direction" name="orderClauseDirection[]">
            <option value="ASC" {{#if orderClauseAsc}}selected{{/if}}>{{ ascTitle }}</option>
            <option value="DESC" {{#if orderClauseDesc}}selected{{/if}}>{{ descTitle }}</option>
        </select>
    </div>
</div>