<div class="layer-manager-header">
    <div class="title">
        {{trans.title}}
    </div>
    <i class="fa fa-close close-layer-manager"></i>
</div>

<div class="layer-manager-body">
    {{#each layerStructure as |layer layerIdx|}}
        <div class="layer-manager-layer">
            {{#each this}}
                {{#eq type 'canvas'}}
                    <div class="layer-manager-canvas-layers">

                        <div class="layer-manager-layer-canvas" title="{{../trans.layer}}">
                            <div class="layer">{{layerIdx}}</div>
                            <span class="name" title="{{../../trans.canvas}}">{{../../trans.canvas}}</span>
                            {{#if duration}}
                                <span class="duration" title="{{../../trans.duration}}">{{duration}}</span>
                            {{/if}}
                        </div>
                        {{#each layers as |canvasLayer canvasLayerIdx|}}
                            {{#each this}}
                                {{#eq type 'elementGroup'}}
                                     <div class="layer-manager-layer-item selectable element-group {{#if selected}}selected{{/if}} {{#if expanded}}expanded{{/if}}" data-item-id="{{id}}" data-widget-id="{{widgetId}}">
                                        <div class="layer">{{canvasLayerIdx}}</div>
                                        {{#if moduleIcon}}
                                            <i class="module-icon {{#if moduleIcon}}{{moduleIcon}}{{else}}fas fa-object-group{{/if}}"></i>
                                        {{/if}}
                                        <span class="label">{{../../../../trans.group}}</span><span class="name" title="{{../../../../trans.id}}">({{id}})</span>
                                        <button class="btn btn-sm expand-group-button">
                                            <i class="fa fa-chevron-down hide-expanded" title="{{../../../../trans.expand}}"></i>
                                            <i class="fa fa-chevron-up show-expanded" title="{{../../../../trans.shrink}}"></i>
                                        </button>
                                    </div>
                                    {{#each layers as |groupLayer groupLayerIdx|}}
                                        {{#each this}}
                                            <div class="layer-manager-layer-item selectable has-group {{#if selected}}selected{{/if}} {{#unless ../../expanded}}hidden{{/unless}}" data-group-id="{{../../id}}" data-item-id="{{id}}">
                                                <div class="layer-item-in-group">
                                                    <div class="layer-item-in-group-helper"></div>
                                                </div>
                                                <div class="layer">{{groupLayerIdx}}</div>
                                                {{#eq type 'element'}}
                                                    <i class="element-icon {{#if icon}}{{icon}}{{else}}fas fa-atom{{/if}}"></i>
                                                {{/eq}}
                                                <span class="name" title="{{../../../../../../trans.name}}">{{name}}</span>
                                                {{#if duration}}
                                                    <span class="duration" title="{{../../../../../../trans.duration}}">{{duration}}</span>
                                                {{/if}}
                                            </div>
                                        {{/each}}
                                    {{/each}}
                                {{else}}
                                    <div class="layer-manager-layer-item selectable  {{#if selected}}selected{{/if}}" data-item-id="{{id}}">
                                        <div class="layer">{{canvasLayerIdx}}</div>
                                        {{#eq type 'element'}}
                                            {{#if moduleIcon}}
                                                <i class="module-icon {{#if moduleIcon}}{{moduleIcon}}{{else}}fas fa-object-group{{/if}}" {{#if hasGroup}}title="{{groupId}}"{{/if}}></i>
                                            {{/if}}
                                            <i class="element-icon {{#if icon}}{{icon}}{{else}}fas fa-atom{{/if}}"></i>
                                        {{/eq}}
                                        <span class="name" title="{{../../../../trans.name}}">{{name}}</span>
                                        {{#if duration}}
                                            <span class="duration" title="{{../../../../trans.duration}}">{{duration}}</span>
                                        {{/if}}
                                    </div>
                                {{/eq}}
                            {{/each}}
                        {{/each}}
                    </div>
                {{else}}
                    <div class="layer-manager-layer-item {{#if selected}}selected{{/if}} selectable" data-item-id="{{id}}">
                        <div class="layer">{{layerIdx}}</div>

                        {{#eq type 'playlist'}}
                            <i class="fa fa-list-ol"></i>
                        {{/eq}}
                        {{#eq type 'staticWidget'}}
                            <i class="{{icon}}"></i>
                        {{/eq}}

                        <span class="name" title="{{../../trans.name}}">{{name}}</span>
                        {{#if duration}}
                            <span class="duration" title="{{../../trans.duration}}">{{duration}}</span>
                        {{/if}}
                    </div>
                {{/eq}}
            {{/each}}
        </div>
    {{else}}
        <div class="empty-layout-message">
            {{trans.emptyLayout}}
        </div>
    {{/each}}
</div>