<div id="{{id}}" data-type="region" class="designer-region selectable tooltip-always-on {{selectedFlag}} {{#if isEditable}}editable{{/if}} {{#if isPermissionsModifiable}}permissionsModifiable{{/if}} {{#if isDeletable}}deletable{{/if}}" data-region-id="{{id}}" data-toggle="tooltip" data-container="#layout-navigator-content" data-title="{{name}}" style="position:absolute; 
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px;
        z-index: {{ zIndex }};
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;
        background: {{ backgroundColor }};">
</div>