<div id="{{ id }}" data-type="layout" class="layout selectable editable"  style="position:relative; 
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px; 
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;
        background: {{ calculatedBackground }};">
    <div id="regions">
        {{#each regions}}
            {{> navigator-region}}
        {{/each}}
    </div>
</div>