<div id="{{id}}" data-type="region" class="designer-region selectable {{selectedFlag}} {{#if isEditable}}editable{{/if}} {{#if isPermissionsModifiable}}permissionsModifiable{{/if}} {{#if isDeletable}}deletable{{/if}}" data-region-id="{{id}}" title="{{name}}" style="position:absolute; 
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px; 
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;
        background: {{ backgroundColor }};">
</div>