
<nav class="navbar">
    <div class="pull-left">
        <button type="button" id="add-btn" class="btn btn-secondary">
            <i class="fa fa-plus"></i>&nbsp;{{trans.addRegion}}
        </button>
        <button type="button" id="delete-btn" {{selected}} class="btn btn-danger" data-toggle="tooltip" data-placement="top" {{#if undo}}title="{{trans.trashBinActiveTitle}}"{{/if}}>
            <i class="fa fa-trash"></i>&nbsp;{{trans.deleteRegion}}
        </button>
    </div>
    <div class="pull-right">
        <button type="button" id="undo-btn" {{undo}} class="btn btn-warning" data-toggle="tooltip" data-placement="top" {{#if undo}}title="{{trans.undoActiveTitle}}"{{/if}}>
            <i class="fa fa-undo"></i>&nbsp;{{trans.undo}}
        </button>
        {{#if regionSelected}}
            <button type="button" id="save-btn" class="btn btn-success">
                <i class="fa fa-check-square-o"></i>&nbsp;{{trans.save}}
            </button>
        {{else}}
            <button type="button" id="close-btn" class="btn btn-secondary">
                <i class="fa fa-close"></i>&nbsp;{{trans.close}}
            </button>
        {{/if}}
    </div>
</nav>