<div id="{{ id }}" data-type="region" class="designer-region selectable {{selectedFlag}}" data-region-id="{{ id }}" style="position:absolute; 
        width: {{ containerProperties.width }}px; 
        height: {{ containerProperties.height }}px; 
        top: {{ containerProperties.top }}px;
        left: {{ containerProperties.left }}px;
        background: {{ backgroundColor }};">
</div>