<div id="{{ id }}" data-type="region" class="designer-region selectable {{selectedFlag}}" data-region-id="{{ id }}" style="position:absolute; 
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px; 
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;
        background: {{ backgroundColor }};">
</div>