<div id="{{ id }}" data-type="layout" class="layout selectable"  style="position:relative; 
        width: {{ containerProperties.width }}px; 
        height: {{ containerProperties.height }}px; 
        top: {{ containerProperties.top }}px;
        left: {{ containerProperties.left }}px;
        background: {{ backgroundCss }};">
    <div id="regions">
        {{#each regions}}
            {{> navigator-region}}
        {{/each}}
    </div>
</div>