<h4 class="modal-title editor-modal-title">
    {{ trans.editPlaylistTitle }}
</h4>

<span class="playlist-info-widgets">
    <i class="fas fa-th-large playlist-info-icon" title="{{ trans.widgetsCount }}"></i>
    {{ widgetsCount }}
</span>

<span class="playlist-info-duration">
    <i class="fa fa-clock-o playlist-info-icon" title="{{ trans.duration }}"></i>
    <span class="playlist-info-duration-value">{{ playlist.duration }}</span>
</span>