<div id="{{ id }}" data-type="widget" data-widget-id="{{ id }}" data-widget-type="{{ subType }}" data-widget-region="{{ regionId }}"
    class="playlist-widget text-right selectable {{#if selected}}selected{{/if}}">
    <span>{{id}} : {{ subType }} [ {{ duration }}s ]</span>
    <span class="float-right">
        <i class="fa fa-arrows"></i>
    </span>
</div>


