<div class="playlist-info-block d-flex">
    <i class="fa fa-tag " title="{{trans.name}}"></i>
    <span class="label-name align-middle d-inline-block">
        "{{playlist.name}}"
    </span>
</div>

<div class="playlist-info-block d-flex">
    <i class="fa fa-clock-o" title="{{trans.duration}}"></i>
    <span class="label-name align-middle d-inline-block">
        {{playlist.durationFormatted}}
    </span>
</div>

{{#ifCond widget.widgetName '||' widget.moduleName}}
    <i class="fas fa-arrow-right align-middle"></i>
    <span class="label-name align-middle d-inline-block">
        "{{widget.widgetName}}" ({{widget.moduleName}})
    </span>
{{/ifCond}}