<div id="{{ id }}" 
    data-type="widget" 
    data-widget-id="{{ widgetId }}" 
    data-widget-type="{{ subType }}" 
    {{#if previewTemplate}}
        data-toggle="tooltip" 
        data-template='{{ previewTemplate }}'
        data-placement="right"
        data-container="body"
        title="{{widgetName}}"
    {{/if}}
    class="playlist-widget tooltip-always-on selectable {{#eq isValid 0}}invalid-widget{{/eq}} {{#if selected}}selected{{/if}} {{#if isEditable}}editable{{/if}} {{#if isPermissionsModifiable}}permissionsModifiable{{/if}} {{#if isDeletable}}deletable{{/if}}">
    
    <div class="widgetLabel timelineMediaItemColouringDefault timelineMediaItemColouring_{{ subType }} {{ widgetColouring }}">
        <div class="widgetSubType">
            <i class="fa module-icon-{{subType}} tooltip-always-on" data-toggle="tooltip" title="{{moduleName}}"></i>
        </div>
        <div class="widgetDuration">
            {{ duration }}
        </div>
    </div>

    <div class="widgetName tooltip-always-on" data-toggle="tooltip" title="{{widgetName}}">
        {{widgetName}}
    </div>

    <div class="widgetProperties">
        {{#if audio}}
            <i class="fa fa-volume-up editProperty" data-property="Audio"></i>
        {{/if}}

        {{#each transitions}}
            <i class="fa fa-sign-{{@key}} editProperty" data-property="Transition" data-property-type="{{@key}}"></i>
        {{/each}}

        {{#gt expireStatus 0}}
            <i class="fa {{expireStatusIcon}} editProperty" data-toggle="tooltip" data-container="body"
                title="{{expireStatusTitle}}" data-property="Expiry"></i>
        {{/gt}}
    </div>
</div>


