<div id="properties-panel-container" class="properties-{{style}}">

    <div class="form-title form-title-{{style}}">
        {{header}}
    </div>

    {{>properties-panel-editor-controls}}

    <div class="form-container">
        {{{form}}}
    </div>

    <div class="row button-container text-right">
        <div class="col-sm-12">
            {{#each buttons}}
                <button type="button" id="{{@key}}" data-action="{{action}}" data-sub-action="{{subAction}}" onclick="{{click}}" class="properties-panel-btn btn {{type}}">{{name}}</button>
            {{/each}}
        </div>
    </div>
</div>