<div id="{{ id }}" data-type="widget" data-widget-id="{{ widgetId }}" data-widget-type="{{ subType }}" data-widget-region="{{ regionId }}" class="designer-widget {{#eq isValid 0}}invalid-widget{{/eq}} selectable {{selectedFlag}} {{#if isEditable}}editable{{/if}} {{#if isPermissionsModifiable}}permissionsModifiable{{/if}} {{#if isDeletable}}deletable{{/if}}" style="
width: {{ durationPercentage }}%;">
    
    {{#each transitions}}
        <div class="widget-transition-container transition-{{@key}}" style="
            width: {{percDuration}}%;">
            <div class="widget-transition transition-{{@key}} editProperty text-center" data-property="Transition"
                data-property-type="{{@key}}">
                <i class="fa fa-sign-{{@key}}"></i>
            </div>
        </div>
    {{/each}}
    
    <div class="widgetLabel timelineMediaItemColouringDefault timelineMediaItemColouring_{{ subType }} {{ widgetColouring }}">
        <div class="widgetSubType">
            <i class="fa module-icon-{{subType}} tooltip-always-on" data-toggle="tooltip" data-container="body" title="{{moduleName}}"></i>
        </div>
        <div class="widgetDuration">
            {{ duration }}
        </div>
    </div>

    <div class="widgetName">
        <span class="tooltip-always-on" data-toggle="tooltip" data-container="body" title="{{widgetName}}">{{widgetName}}</span>
    </div>

    <div class="widgetProperties">
        {{#if audio}}
            <i class="fa fa-volume-up editProperty" data-property="Audio"></i>
        {{/if}}
    
        {{#gt fromDt DATE_MIN}}
            <i class="fa fa fa-clock-o editProperty" data-property="Expiry"></i>
        {{else}}
            {{#gt DATE_MAX toDt}}
                <i class="fa fa fa-clock-o editProperty" data-property="Expiry"></i>
            {{/gt}}
        {{/gt}}
    </div>
</div>

{{#if extend}}
    <div class="widgetExtension" style="
    width: {{extendSize}}%;">
        <span class="widgetSubType">
            [{{ subType }}]
        </span>
        
        <span class="widgetName">
            {{widgetName}}
        </span>
    </div>
{{/if}}
