<div id="timeline-container">
    <div id="controls-container" class="text-center">
        <span class="layout-info left">
            <span class="layout-info-name hidden-xs hidden-sm hidden-md">"{{layout.name}}"</span>
            <span class="hidden-lg"><i class="fa fa-clock-o"></i>&nbsp;{{layout.duration}}s</span>
        </span>

        <span class="layout-info right">
            <span class="hidden-xs hidden-sm hidden-md"><i class="fa fa-clock-o"></i>&nbsp;{{layout.duration}}s</span>&nbsp;
            <span><i class="fa fa-arrows"></i>&nbsp;{{layout.width}}x{{layout.height}}</span>
        </span>

        <div id="minTime" class="label label-info label-time pull-left">
            {{properties.minTime}}s
        </div>
        <button id="zoomOut"  {{properties.zoomOutDisable}} class="btn label label-warning label-control">
            <i class="fa fa-search-minus"></i>
        </button>
        <button id="zoom" class="btn label label-primary label-control">
            {{properties.deltaTime}}s
        </button>
        <button id="zoomIn" {{properties.zoomInDisable}} class="btn label label-success label-control">
            <i class="fa fa-search-plus"></i>
        </button>
        <div id="maxTime" class="label label-info label-time pull-right">
            {{properties.maxTime}}s
        </div>
    </div>

    <div id="regions-container">
        <div id="regions" style="width:{{properties.zoom}}%;">
            {{#each layout.regions}}
                {{> timeline-region}}
            {{/each}}
        </div>
    </div>
</div>
    


