<div id="{{ id }}" data-type="widget" class="designer-widget designer-widget-ghost {{#if hideDetails}}lightMode{{/if}}" style="
width: {{ durationPercentage }}%;">
    <span class="widgetSubType tooltip-always-on" data-toggle="tooltip" data-container="body" title="{{moduleName}}">
        <i class="fa module-icon-{{subType}}"></i>
    </span>
    
    <span class="widgetName tooltip-always-on" data-toggle="tooltip" data-container="body" title="{{widgetName}}">
        {{widgetName}}
    </span>
</div>

