<div id="{{ id }}" data-type="widget" data-widget-id="{{ id }}" data-widget-type="{{ data.type }}" data-widget-region="{{ regionId }}" class="widget widget-ghost" style="
width: {{ durationPercentage }}%;">
    {{ data.type }}
</div>

