<div id="{{ id }}" data-type="region" class="designer-region selectable {{selectedFlag}} {{#if isEditable}}editable{{/if}} {{#if isPermissionsModifiable}}permissionsModifiable{{/if}}">
    {{#if hideDetails}}{{!-- Show message to zoom in --}}
        <div class="message">
            <i class="fa fa-search-plus"></i>
            <span>Zoom in to see/edit region</span>
        </div>
    {{else if isEmpty}}
        <div class="message">
            <span>{{trans.emptyRegion }}</span>
        </div>
    {{else}}
        {{!-- Draw widgets --}}
        {{#each widgets}}
            {{> timeline-widget}}
        {{/each}}
        
        {{#if loop}}
        
            {{!-- Ghost widget padding --}}
            {{#if ghostWidgetsHavePadding}}
                <div class="ghost-padding" style="
                            width: {{ ghostWidgetsPadding }}%;">
                </div>
            {{/if}}
        
            {{!-- Ghost widget objects --}}
            {{#each ghostWidgetsObject}}
                {{> timeline-ghost-widget}}
            {{/each}}
        {{/if}}
    {{/if}}

    <div class="designer-region-overlay">
        {{#each widgets}}
            <div class="designer-region-overlay-step"
                data-position="{{@index}}"
                data-toggle="tooltip" data-container="body"
                data-title="{{../trans.addToThisPosition}}"></div>
            <div class="designer-region-overlay-dummy"
                style="width: calc({{ durationPercentage }}% - 14px);">
            </div>
        {{/each}}
    </div>
</div>