<div id="timeline-container">
    <div id="controls-container" class="text-center">
        <span class="layout-info left">
            <span id="layout-info-status" class="label label-default" data-status-code="" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" >
                <i class="fa fa-spinner fa-spin"></i>
            </span>
            <span class="layout-info-name hidden-xs hidden-sm hidden-md">"{{layout.name}}"</span>
            <span class="hidden-lg"><i class="fa fa-clock-o"></i>&nbsp;{{layout.duration}}s</span>
        </span>

        <span class="layout-info right">
            <span class="hidden-xs hidden-sm hidden-md"><i class="fa fa-clock-o"></i>&nbsp;{{layout.duration}}s</span>&nbsp;
            <span><i class="fa fa-arrows"></i>&nbsp;{{layout.width}}x{{layout.height}}</span>
        </span>

        <div id="minTime" class="label label-custom label-time pull-left">
            {{properties.minTime}}s
        </div>
        <button id="zoomOut"  {{properties.zoomOutDisable}} class="btn label label-custom label-control">
            <i class="fa fa-search-minus"></i>
        </button>
        <button id="zoom" class="btn label label-custom label-control">
            {{properties.deltaTime}}s
        </button>
        <button id="zoomIn" {{properties.zoomInDisable}} class="btn label label-custom label-control">
            <i class="fa fa-search-plus"></i>
        </button>
        <div id="maxTime" class="label label-custom label-time pull-right">
            {{properties.maxTime}}s
        </div>
    </div>

    <div id="regions-container">
        <div id="regions" style="width:{{properties.zoom}}%;" data-zoom="{{properties.zoom}}">
            {{#each layout.regions}}
                {{> timeline-region trans=../trans}}
            {{/each}}
        </div>
    </div>
</div>
    


