<div id="{{ id }}" data-type="widget" data-widget-id="{{ id }}" data-widget-type="{{ data.type }}" data-widget-region="{{ regionId }}" class="widget selectable {{selectedFlag}}" style="
width: {{ durationPercentage }}%;">
    {{ data.type }} :  {{ data.duration }}
</div>

{{#if extend}}
    <div class="extension" style="
    width: {{extendSize}}%;">
         {{ data.type }}
    </div>
{{/if}}
