<div id="timeline-container">

    {{!-- Controls --}}
    <div id="timeline-controls">
        {{!-- TODO: Hidden until scroll to selected widget is implemented --}}
        <a id="findSelectedBtn" class="hidden" data-toggle="tooltip" title="">
            <i class="fas fa-search-location"></i>
        </a>
        <a id="zoomInBtn" {{properties.zoomInDisable}} class="" data-toggle="tooltip" title="{{trans.zoomIn}}">
            <i class="fas fa-search-plus"></i>
        </a>
        <a id="zoomReset" data-toggle="tooltip" title="{{trans.resetZoom}}">
            <i class="fas fa-search"></i>
        </a>
        <a id="zoomOutBtn" {{properties.zoomOutDisable}} class="" data-toggle="tooltip" title="{{trans.zoomOut}}">
            <i class="fas fa-search-minus"></i>
        </a>
        <span id="zoomTimeSpan" class="pull-right" data-toggle="tooltip" title="{{trans.zoomDelta}}">
            <i class="fa fa-hourglass-o"></i>&nbsp;{{properties.deltaTimeFormatted}}
        </span>
    </div>
    {{!-- Regions info --}}
    <div id="regions-info">
        {{#each layout.regions}}
            {{> timeline-region-info trans=../trans}}
        {{/each}}
    </div>

    <div id="regions-container">
        {{!-- Regions container --}}
        <div id="regions" class="timeline-regions-container" style="width: {{properties.zoom}}%;" data-zoom="{{properties.zoom}}">
            <div id="timeruler">
                {{!-- Time ruler --}}
                <div class="step-margin" style="width:{{timeruler.startMargin}}%;"></div>
                {{#each timeruler.steps}}
                    <div class="step {{#if labelled}}labelled{{/if}}" title="{{label}}" style="width:{{../timeruler.gap}}%;">
                        {{#if labelled}}
                            <span>{{label}}</span>
                        {{/if}}
                    </div>
                {{/each}}
                <div class="step-margin" style="width:{{timeruler.endMargin}}%;"></div>
            </div>

            {{#each layout.regions}}
                {{> timeline-region trans=../trans}}
            {{/each}}
        </div>
    </div>
</div>
    


