<div class="toolbar-card {{#if provider}}from-provider{{/if}} hide-content"
    data-type="layout_template"
    data-target="layout"
    data-template-id="{{id}}"
    data-data-type="{{dataType}}"
    data-title="{{title}}"
    data-source="{{#if provider}}remote{{else}}local{{/if}}"
    data-download="{{download}}">

    <div class="toolbar-card-preview">
        <img class="thumb" src="{{thumbnail}}" alt="{{title}}">

        {{#if provider}}
            <a class="provider" href="{{provider.link}}" target="_blank" rel="noopener noreferrer">
                <img class="provider-image" src="{{provider.logoUrl}}" alt="{{provider.message}}"></img>
            </a>
        {{/if}}

        {{#if duration}}
            <div class="media-duration" data-title="{{trans.duration}}" data-toggle="tooltip" data-placement="top">
                {{duration}}
            </div>
        {{/if}}
    </div>
    <span class="media-title tooltip-always-on" data-toggle="tooltip" data-title="{{title}}" data-placement="right">{{title}}</span>

    <div class="badges">
        {{#if orientation}}
            <span class="badge badge-pill badge-primary">{{orientation}}</span>
        {{/if}}
        {{#each tags}}
            <span class="badge badge-pill badge-info">{{this}}</span>
        {{/each}}
    </div>
</div>
