<div class="toolbar-card" 
    data-toggle="tooltip" 
    data-placement="top" 
    data-type="module"
    data-sub-type="{{type}}"
    data-region-specific="{{regionSpecific}}"
    data-valid-ext="{{ validExtensions }}"
    data-max-size="{{ maxSize }}" 
    data-max-size-message="{{ maxSizeMessage }}"
    title="{{description}}"
    drop-to="region">

    <div class="add-area">
        <i class="fa fa-plus fa-2x" title="Add"></i>
    </div>
    <div class="drag-area" title="Drag">
        <i class="fa fa-hand-rock-o fa-2x"></i>
    </div>

    <div class="img-container">
        <i class="fa module-icon-{{type}} fa-3x"></i>
    </div>
    
    <p class="card-title">{{name}}</p>
</div>