<div class="toolbar-card" 
    data-toggle="tooltip" 
    data-placement="top" 
    data-media-id="{{mediaId}}" 
    data-type="media" 
    data-sub-type="{{mediaType}}"
    drop-to="region">

    <div class="add-area">
        <i class="fa fa-plus fa-2x" title="Add"></i>
    </div>
    <div class="drag-area" title="Drag">
        <i class="fa fa-hand-rock-o fa-2x"></i>
    </div>

    <div class="img-container">
        {{#if thumbnailUrl}}
            <img src="{{thumbnailUrl}}">
        {{else}}
            <i class="fa module-icon-{{mediaType}} fa-3x"></i>
        {{/if}}
    </div>
    
    <p class="card-title">{{name}}</p>
</div>