<div class="toolbar-card" 
    data-toggle="tooltip" 
    data-placement="top"
    data-type="tool"
    data-sub-type="{{type}}"
    data-one-click-add="{{oneClickAdd}}"
    drop-to="{{dropTo}}">

    <div class="add-area" title="{{trans.add}}" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-plus fa-2x"></i>
    </div>
    <div class="drag-area" title="{{trans.grab}}" data-toggle="tooltip" data-placement="right">
        <i class="fa fa-hand-rock-o fa-2x"></i>
    </div>

    <div class="img-container">
        <i class="fa tool-icon-{{type}} fa-3x"></i>
    </div>
    
    <p class="card-title">{{name}}</p>
</div>