<div class="media-add-queue">
    <div class="media-add-queue-header drag-handle">
        <span class="media-add-queue-name pull-left">{{trans.queue.title}}</span>
        <a class="btn-window btn-queue-close pull-right" data-toggle="tooltip" title="{{trans.queue.clear}}">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <div class="media-add-queue-list"></div>
    <div class="media-add-queue-buttons">
        <button type="button" data-type="toRegion" class="btn btn-success btn-block">{{trans.queue.addToRegion}}</button>
        <button type="button" data-type="toPlaylist" class="btn btn-success btn-block">{{trans.queue.addToPlaylist}}</button>
        <button type="button" data-type="selectRegion" class="btn btn-warning btn-block">{{trans.queue.selectRegion}}</button>
        <button type="button" data-type="cancel" class="btn btn-danger btn-block">{{trans.queue.cancel}}</button>
    </div>
</div>