<form id="media-search-form-{{menuIndex}}" class="form-inline drag-handle">
    <div class="media-search-controls" data-toggle="tooltip" title="{{trans.window.drag}}">
        <span class="tab-name-{{menuIndex}}">{{menuObj.itemName}}</span>
        <i class="fa btn-window-close fa-times pull-right" data-toggle="tooltip" title="{{trans.window.close}}" data-menu="{{menuIndex}}"></i>
        <i class="fa btn-window-minimize fa-arrow-circle-down pull-right" data-toggle="tooltip" title="{{trans.window.minimise}}" data-menu="{{menuIndex}}"></i></i>
    </div>
    <div class="form-group form-group-small search-form-group">
        <select id="input-type-{{menuIndex}}" name="type" class="form-control input-type">
            <option value="">{{menuObj.filters.type.name}}</option>
            {{#each menuObj.filters.type.values}}
                <option value="{{type}}" {{#eq ../menuObj.filters.type.value type}}selected{{/eq}}>{{name}}</option>
            {{/each}}
        </select>

        <input id="input-name-{{menuIndex}}" name="media" type="text" value="{{menuObj.filters.name.value}}" class="form-control input-name"
            placeholder="{{menuObj.filters.name.name}}">

        <input id="input-tag-{{menuIndex}}" name="tags" type="text" value="{{menuObj.filters.tag.value}}" data-role="tagsinput"
            class="form-control input-tag" placeholder="{{menuObj.filters.tag.name}}">

        <select id="input-owner-{{menuIndex}}" name="ownerId" class="form-control input-owner">
            <option value="">{{menuObj.filters.owner.name}}</option>
            {{#each menuObj.filters.owner.values}}
                <option value="{{userId}}" {{#eq ../menuObj.filters.owner.value userId}}selected{{/eq}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
</form>
<div class="XiboGrid" id="media-table-container-{{menuIndex}}">
    <div class="XiboData">
        <table id="media-table-{{menuIndex}}" class="table media-table table-striped">
            <thead>
                <tr>
                    <th>{{trans.tableHeader.id}}</th>
                    <th>{{trans.tableHeader.name}}</th>
                    <th>{{trans.tableHeader.type}}</th>
                    <th>{{trans.tableHeader.tags}}</th>
                    <th>{{trans.tableHeader.thumbnail}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>