<div class="toolbar-card toolbar-card-template {{#if thumbnail}}has-thumb{{/if}}" 
    data-type="template" 
    data-sub-type="{{subType}}"
    data-target="{{#if target}}{{target}}{{else}}layout playlist drawer zone{{/if}}"
    data-template-type="{{dataType}}"
    data-template-id="{{templateId}}">

{{#if thumbnail}}
    <div class="toolbar-card-thumb">
        <img src="{{thumbnail}}" />
    </div>
{{/if}}

    <div class="toolbar-content tooltip-always-on" data-toggle="tooltip" data-title="{{title}}">
        <span class="card-title">{{title}}</span>
    </div>
</div>