<div class="toolbar-card tooltip-always-on" 
    data-toggle="tooltip" 
    data-placement="bottom"
    title="{{name}}"
    data-media-id="{{mediaId}}" 
    data-type="media" 
    data-sub-type="{{mediaType}}"
    data-one-click-add="playlist"
    drop-to="region">

    <div class="media-tags {{#gt tagsCount 1}}expanded{{/gt}}">
        <div class="toggle-tags label">
            <span>
                {{tagsMessage}}
                <i class="fa fa-angle-up"></i>
            </span>
        </div>

        <div class="media-tags-container">
            {{#each tags}}
                <span class="label label-info media-tags-label">{{this}}</span>
            {{/each}}
        </div>
    </div>

    <div class="add-area" title="{{trans.add}}" data-toggle="tooltip" data-placement="left">
        <i class="fa fa-plus fa-2x"></i>
    </div>
    <div class="drag-area" title="{{trans.grab}}" data-toggle="tooltip" data-placement="right">
        <i class="fa fa-hand-rock-o fa-2x"></i>
    </div>

    <div class="img-container">
        {{#if thumbnailUrl}}
            <img src="{{thumbnailUrl}}">
        {{else}}
            <i class="fa module-icon-{{mediaType}} fa-3x"></i>
        {{/if}}
    </div>
    
    <p class="card-title">{{name}}</p>
</div>