<div id="{{target.mediaId}}" class="queue-element clearfix" data-type="media" data-sub-type="{{target.mediaType}}" data-media-id="{{target.mediaId}}">
    <span class="queue-element-name">
        <i class="fa module-icon-{{target.mediaType}} queue-element-icon"></i>
        {{target.name}}
    </span>
    
    <i class="queue-element-remove fa fa-times pull-right"></i>
</div>