<div class="toolbar-card" 
    data-toggle="tooltip" 
    data-type="tool"
    data-sub-type="{{type}}"
    data-title="{{description}}"
    data-container=".editor-side-bar"
    
    {{#each oneClickAdd}}
        {{#eq this ../mainObjectType}}data-one-click-add="{{this}}"{{/eq}}
    {{/each}}

    drop-to="{{dropTo}}">

    <div class="add-area action-area" data-title="{{trans.add}}" data-toggle="tooltip" data-container=".editor-side-bar" data-placement="left">
        <i class="fa fa-plus"></i>
    </div>
    <div class="drag-area action-area" data-title="{{trans.grab}}" data-toggle="tooltip" data-container=".editor-side-bar" data-placement="right">
        <i class="fa fa-hand-rock-o"></i>
    </div>

    <i class="fa tool-icon-{{type}} card-icon"></i>
    
    <span class="card-title">{{name}}</span>
</div>