<nav class="navbar navbar-dark navbar-expand-md flex-column {{#if opened}}opened{{/if}}">
    <div class="container-toolbar container-fluid flex-column flex-column justify-content-between">
        {{!-- Menu buttons --}}
        <ul class="navbar-nav navbar-buttons flex-column toolbar-menu-left hide-on-read-only hide-on-lock">
            {{#each menuItems}}
                <li>
                    <a id="btn-menu-{{@index}}" class="btn-menu-option {{#if disabled}}d-none{{/if}} {{state}}" data-container=".editor-side-bar"
                        data-toggle="tooltip" data-title="{{itemTitle}}" data-test="toolbarTabs">
                        <i class="fas fa-{{itemIcon}}"></i>
                    </a>
                </li>
            {{/each}}
        </ul>

        <ul class="navbar-nav flex-column toolbar-menu-content hide-on-read-only hide-on-lock">
            {{!-- Menu items/tabs --}}
            {{#each menuItems}}
                <div id="content-{{@index}}" class="content {{#if disabled}}d-none{{/if}}"></div>
            {{/each}}

            {{!-- Submenu content --}}
            <div id="content-submenu" class="d-none"></div>
        </ul>
    </div>
</nav>