<div class="toolbar-card toolbar-card-template" 
    data-toggle="tooltip" 
    data-type="template" 
    data-sub-type="{{subType}}"
    data-template-type="{{dataType}}"
    data-template-id="{{templateId}}"
    data-title="{{title}}">

    <div class="toolbar-content">
        <span class="card-title">{{title}}</span>
    </div>
</div>