<nav class="navbar navbar-fixed-bottom">
    <div class="container-toolbar container-fluid">

        <div class="navbar-header hide-on-read-only">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="toolbar-content hide-on-read-only">
                {{!-- Menu items/tabs --}}
                {{#each menuItems}}
                    <div id="content-{{@index}}" class="toolbar-pane {{state}} {{#if search}}search-content{{/if}}">
                        {{#if search}}
                            {{!-- Show search container --}}
                            <div id="media-search-container-{{@index}}" class="media-search-container"></div>
                        {{else if content}}
                            {{!-- Show content if exists --}}
                            <button id="pag-btn-left-{{@index}}" {{pagBtnLeftDisabled}} class="btn btn-primary pagination-btn pag-btn-left">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                    
                            <div class="toolbar-pane-content"
                                style="width:{{contentWidth}}%">
                                {{!-- Show content elements if not marked as hidden --}}
                                {{#each content}}
                                    {{#unless hideElement}}
                                        {{!-- Load cards according to type searchItem/Widget --}}
                                        {{#if ../tool}}
                                            {{> toolbar-card-tool trans=../../trans}}
                                        {{else}}
                                            {{> toolbar-card trans=../../trans}}
                                        {{/if}}
                                    {{/unless}}
                                {{/each}}
                            </div>

                            <button id="pag-btn-right-{{@index}}" {{pagBtnRightDisabled}} class="btn btn-primary pagination-btn pag-btn-right">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        {{/if}}
                    </div>
                {{/each}}
            </div>

            <ul class="nav navbar-nav navbar-right">
                {{#if customDropdownButtons}}
                    <li class="dropdown navbar-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{trans.actions}}<span class="caret"></span></a>
                        
                        <ul class="dropdown-menu navbar-submenu-container">
                            {{#each customDropdownButtons}}
                                <li>
                                    <div id="{{id}}" class="navbar-submenu-item {{class}}" href="#">
                                        {{#if logo}}
                                            <i class="fa {{logo}}"></i>
                                        {{/if}}
                                        <span>{{title}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}

                <li>
                    <div id="layoutJumpListContainer" data-toggle="tooltip" title="{{trans.changeLayout}}" class="navbar-btn" hidden></div>
                </li>

                {{#each customMainButtons}}
                    <li>
                        <a id="{{id}}" data-toggle="tooltip" title="{{tooltip}}" class="navbar-peak-button active {{class}}" href="#">
                            {{#if logo}}
                                <i class="fa {{logo}}"></i>
                            {{/if}}
                            
                            {{#if title}}
                                <span>{{title}}</span>
                            {{/if}}
                        </a>
                    </li>
                {{/each}}

                <li>
                    <a id="undoContainer" data-toggle="tooltip" title="{{trans.undoActiveTitle}}" class="navbar-peak-button tooltip-always-on navbar-undo {{#if undoActive}}active{{/if}}">
                        <i class="fa fa-undo"></i>
                    </a>
                </li>

                <li>
                    <a id="trashContainer" data-toggle="tooltip" title="{{trans.trashBinActiveTitle}}" class="navbar-peak-button navbar-bin {{#if trashActive}}active{{/if}}">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>

                <li class="dropdown navbar-submenu navbar-submenu-options" data-toggle="tooltip" data-placement="left" title="{{trans.layoutOptions}}">
                    <a id="optionsContainer" href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog fa-2x"></i>
                    </a>
                
                    <ul class="dropdown-menu navbar-submenu-container navbar-submenu-options-container">
                        <li>
                            <label class="navbar-submenu-item navbar-submenu-item-options displayTooltips-container tooltip-always-on" for="displayTooltips" data-toggle="tooltip" data-placement="left" title="{{trans.displayTooltipsTitle}}" accesskey="">
                                <input type="checkbox" id="displayTooltips" name="displayTooltips" {{#if displayTooltips}}checked{{/if}}>
                                <span>{{trans.displayTooltipsName}}</span>
                            </label>
                        </li>
                        <li>
                            <div id="resetTour" class="navbar-submenu-item navbar-submenu-item-options tooltip-always-on hidden"  data-toggle="tooltip" data-placement="left" title="{{trans.resetTourTitle}}" href="#">
                                <i class="fa fa-repeat"></i>
                                <span>{{trans.resetTour}}</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-buttons hide-on-read-only">
                {{#each menuItems}}
                    <li>
                        <a id="btn-menu-{{@index}}" class="btn-menu-tab {{state}}" data-toggle="tooltip" title="{{itemTitle}}" data-test="toolbarTabs">
                            <span class="tab-name-{{@index}}">{{itemName}}</span>
                            {{#if search}}
                                <i id="close-btn-menu-{{@index}}" class="fa fa-times-circle close-tab-button"></i>
                            {{/if}}
                        </a>
                    </li>    
                {{/each}}

                <li>
                    <a id="btn-menu-new-tab" data-toggle="tooltip" title="{{trans.createNewTab}}" class="btn-menu-tool">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </li>

                {{#if tabsCount}}
                    <li>
                        <a id="deleteAllTabs" data-toggle="tooltip" title="{{trans.closeAllTabs}}" class="btn-menu-tool btn-menu-tool-delete btn-danger hide-on-read-only" href="#">
                            <i class="fa fa-times-rectangle-o"></i>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>