<div id="datatable-container" class="w-100">
    <div class="XiboData">
        <table id="media-table-{{menu}}" class="table table-striped responsive nowrap" data-content-type="media" data-content-id-name="mediaId" data-state-preference-name="libraryGrid" style="width: 100%;">
            <thead>
            <tr>
                <th class="all">{{trans.mediaId}}</th>
                <th class="all">{{trans.mediaName}}</th>
                <th class="all">{{trans.mediaType}}</th>
                <th class="all">{{trans.mediaTags}}</th>
                <th class="all">{{trans.mediaThumb}}</th>
                <th class="all"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>