<div class="toolbar-card toolbar-card-element" 
    data-toggle="tooltip" 
    data-type="element" 
    data-sub-type="{{type}}"
    data-data-type="{{dataType}}"
    data-template-id="{{templateId}}"
    data-title="{{title}}">

    <div class="select-button">
        <i class="fa fa-check selectedShow"></i>
    </div>
    
    <span class="card-title">{{title}}</span>
</div>