<div class="toolbar-card toolbar-card-item placeholder-card"
    data-toggle="tooltip" 
    data-type="element"
    data-data-type="global"
    data-sub-type="global"
    data-is-visible="false"
    data-target="layout element"
    data-template-id="{{template}}"
    data-template-start-width="{{startWidth}}"
    data-template-start-height="{{startHeight}}"
    {{#with extends as | extend |}}
        data-extends-template="{{extend.template}}"
        data-extends-override="{{extend.override}}"
        data-extends-with="{{extend.with}}"
    {{/with}}
    data-title="{{description}}">

    <div class="toolbar-card-preview">
        <i class="fa fa-picture-o card-icon"></i>
    </div>
    <span class="media-title">{{title}}</span>
</div>