<div id="content-{{menuIndex}}"
    class="toolbar-pane toolbar-{{name}}-pane {{state}} {{#if search}}toolbar-library-pane{{/if}}"
    data-menu-index="{{menuIndex}}"
>
    
    <div class="content-header">
        <div class="close-content" data-toggle="tooltip" data-placement="right" data-title="{{trans.closeTab}}">
            <i class="fa fa-close"></i>
        </div>
        <div class="content-title">{{title}}</div>
    </div>
    {{#if search}}
        {{!-- Show search container --}}
        <div id="media-container-{{menuIndex}}" class="toolbar-pane-container"></div>
    {{else if content}}
        <form id="module-search-form" class="module-search-form">
            <div class="form-group">
                <input id="module-name" placeholder="{{trans.searchFilters.search}}" name="module-name" type="text" class="form-control input-name" value="{{ filters.name.value }}">
            </div>
        </form>

        <div class="toolbar-pane-container">
            <div class="toolbar-pane-content">
                {{!-- Show content elements if not marked as hidden --}}
                {{#if content.elementsFavs}}
                    <div class="toolbar-header">{{trans.favourites}}</div>
                {{/if}}
                {{#each content.elementsFavs}}
                    {{#unless hideElement}}
                        {{!-- Load cards according to type searchItem/Widget --}}
                        {{> toolbar-card contentType=../name trans=../trans icon=../iconType}}
                    {{/unless}}
                {{/each}}

                {{#if content.elements}}
                    <div class="toolbar-header">{{content.contentHeader}}</div>
                {{/if}}
                {{#each content.elements}}
                    {{#unless hideElement}}
                        {{!-- Load cards according to type searchItem/Widget --}}
                        {{> toolbar-card contentType=../name trans=../trans icon=../iconType}}
                    {{/unless}}
                {{/each}}

                {{#unless content.elementsFavs}}
                    {{#unless content.elements}}
                        <div class="no-results-message">{{ content.noElementsToShow }}</div>
                    {{/unless}}
                {{/unless}}
            </div>
        </div>
    {{/if}}
</div>