<div id="media-search-controls-{{menuIndex}}" class="media-search-controls drag-handle clearfix">
    {{#each menuObj.content}}
        <div id="media-search-tab-{{@index}}" class="media-search-tab {{#eq @index ../menuObj.selectedTab}}active{{/eq}}" data-tab="{{@index}}">
            <span id="tab-name-{{@index}}" class="media-tab-name">{{name}}</span>
            
            {{#if ../closeTabs}}
                <a id="tab-close-{{@index}}" class="fa media-tab-close fa-close"></a>
            {{/if}}
        </div>
    {{/each}}

    <a class="btn-window btn-window-new-tab" data-toggle="tooltip" data-container=".media-search-container" data-title="{{trans.window.newTab}}"
        data-menu="{{menuIndex}}">
        <i class="fa fa-plus"></i>    
    </a>

    <a class="btn-window btn-window-close pull-right" data-toggle="tooltip" data-container=".media-search-container"
        data-title="{{trans.window.minimise}}" data-menu="{{menuIndex}}">
        <i class="fa fa-times"></i>    
    </a>
</div>

{{#each menuObj.content}}
    <form id="media-search-form-{{@index}}" class="form-inline media-search-form drag-handle {{#neq @index ../menuObj.selectedTab}}hidden{{/neq}}">
        <div class="form-group search-form-group">
            <select id="input-type-{{@index}}" name="type" class="form-control mr-1 form-control-inline input-type">
                <option value="">{{filters.type.name}}</option>
                {{#each filters.type.values}}
                    <option value="{{type}}" {{#eq ../filters.type.value type}}selected{{/eq}}>{{name}}</option>
                {{/each}}
            </select>

            <input id="input-name-{{@index}}" name="media" type="text" value="{{filters.name.value}}" class="form-control mr-1 form-control-inline input-name"
                placeholder="{{filters.name.name}}">

            <span class="mr-1">
                <input id="input-tag-{{@index}}" name="tags" type="text" value="{{filters.tag.value}}" data-role="tagsinput"
                            class="form-control form-control-inline input-tag" placeholder="{{filters.tag.name}}">
            </span>
           

            <select id="input-owner-{{@index}}" name="ownerId" class="form-control mr-1 form-control-inline input-owner">
                <option value="">{{filters.owner.name}}</option>
                {{#each filters.owner.values}}
                    <option value="{{userId}}" {{#eq ../filters.owner.value userId}}selected{{/eq}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
    </form>
{{/each}}

<div class="XiboGrid" id="media-table-container-{{menuIndex}}">
    <div class="XiboData card pt-3">
        <table id="media-table-{{menuIndex}}" class="table media-table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>{{trans.tableHeader.id}}</th>
                    <th>{{trans.tableHeader.name}}</th>
                    <th>{{trans.tableHeader.type}}</th>
                    <th>{{trans.tableHeader.tags}}</th>
                    <th>{{trans.tableHeader.thumbnail}}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>