<nav class="navbar navbar-fixed-bottom">
    <div class="container-toolbar container-fluid">

        <div class="navbar-header hide-on-read-only">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="toolbar-content hide-on-read-only">
                {{!-- Menu items/tabs --}}
                {{#each menuItems}}
                    <div id="content-{{@index}}" class="toolbar-pane {{state}}">
                        {{!-- Show content if exists --}}
                        {{#if content}}
                            <button id="pag-btn-left-{{@index}}" {{pagBtnLeftDisabled}} class="btn btn-primary pagination-btn pag-btn-left">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                    
                            <div class="toolbar-pane-content"
                                style="width:{{contentWidth}}%">
                                {{!-- Show content elements if not marked as hidden --}}
                                {{#each content}}
                                    {{#unless hideElement}}
                                        {{!-- Load cards according to type searchItem/Widget --}}
                                        {{#if ../search}}
                                            {{> toolbar-card-media trans=../../trans}}
                                        {{else if ../tool}}
                                            {{> toolbar-card-tool trans=../../trans}}
                                        {{else}}
                                            {{> toolbar-card trans=../../trans}}
                                        {{/if}}
                                    {{/unless}}
                                {{/each}}
                            </div>

                            <button id="pag-btn-right-{{@index}}" {{pagBtnRightDisabled}} class="btn btn-primary pagination-btn pag-btn-right">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        {{/if}}

                        {{#if search}}
                            <form id="media-search-form-{{@index}}" class="form-inline">
                                <div class="form-group search-form-group">
                                    <input id="input-name-{{@index}}" type="text" value="{{filters.name.value}}" class="form-control input-name" placeholder="{{filters.name.name}}">
                                    
                                    <input id="input-tag-{{@index}}" type="text" value="{{filters.tag.value}}" data-role="tagsinput" class="form-control input-tag" placeholder="{{filters.tag.name}}">
                                
                                    <select id="input-type-{{@index}}" class="form-control input-type">
                                        <option value="">{{filters.type.name}}</option>
                                        {{#each filters.type.values}}
                                            <option value="{{type}}" {{#eq ../filters.type.value type}}selected{{/eq}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                
                                    <button data-search-id="{{@index}}" data-test="searchButton" class="btn btn-primary btn-menu-tab search-btn" type="button">                                    
                                        <span>{{../trans.search}}</span>
                                    </button>
                                </div>
                            </form>
                        {{/if}}
                        
                    </div>
                {{/each}}
            
            </div>

            <div class="navbar-header hide-on-read-only">
                <a id="btn-menu-toggle" class="navbar-brand btn-menu-tool hide-on-read-only">
                    
                    {{#if opened}}
                        <i class="fa fa-toggle-on"></i>
                    {{else}}
                        <i class="fa fa-toggle-off"></i>
                    {{/if}}
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                {{#if customButtons}}
                    <li class="dropdown navbar-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{trans.actions}}<span class="caret"></span></a>
                        
                        <ul class="dropdown-menu navbar-submenu-container">
                            {{#each customButtons}}
                                <li>
                                    <div id="{{id}}" class="navbar-submenu-item {{class}}" href="#">
                                        {{#if logo}}
                                            <i class="fa {{logo}}"></i>
                                        {{/if}}
                                        <span>{{title}}</span>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}

                <li>
                    <div id="layoutJumpListContainer" data-toggle="tooltip" data-placement="top" title="{{trans.changeLayout}}" class="navbar-btn" hidden></div>
                </li>

                <li>
                    <a id="undoContainer" data-toggle="tooltip" data-placement="top" title="{{trans.undoActiveTitle}}" class="navbar-peak-button navbar-undo {{#if undoActive}}active{{/if}}">
                        <i class="fa fa-undo"></i>
                    </a>
                </li>

                <li>
                    <a id="trashContainer" data-toggle="tooltip" data-placement="top" title="{{trans.trashBinActiveTitle}}" class="navbar-peak-button navbar-bin {{#if trashActive}}active{{/if}}">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-buttons hide-on-read-only">
                {{#each menuItems}}
                    <li>
                        <a id="btn-menu-{{@index}}" class="btn-menu-tab {{state}}" data-test="toolbarTabs">
                            <span>{{title}}</span>
                            {{#if search}}
                                <i id="close-btn-menu-{{@index}}" class="fa fa-times close-tab-button"></i>
                            {{/if}}
                        </a>
                    </li>    
                {{/each}}

                <li>
                    <a id="btn-menu-new-tab" data-toggle="tooltip" data-placement="top" title="{{trans.createNewTab}}" class="btn-menu-tool">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </li>

                {{#if tabsCount}}
                    <li>
                        <a id="deleteAllTabs" data-toggle="tooltip" data-placement="top" title="{{trans.closeAllTabs}}" class="btn-menu-tool btn-menu-tool-delete btn-danger hide-on-read-only" href="#">
                            <i class="fa fa-times-rectangle-o"></i>
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>