<div id="{{id}}" data-type="region" class="designer-region" data-region-id="{{id}}" title="{{name}}" style="position:absolute; 
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px; 
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;">
</div>