<nav class="navbar viewer-navbar designer-{{type}}">
    {{! Left region }}
    <div class="pull-left">
        {{#if renderLayout}}
            <button type="button" id="play-btn" class="btn btn-sm  tooltip-always-on" data-toggle="tooltip" data-placement="right" title="{{ trans.playPreviewLayout }}">
                <i class="fa fa-play-circle"></i>
            </button>
            {{#unless readOnlyModeOn}}
                <button type="button" id="navigator-edit-btn" class="btn btn-sm  tooltip-always-on hide-on-fs" data-toggle="tooltip" data-placement="bottom" title="{{ trans.editLayout }}">
                    <i class="fa fa-edit"></i>
                </button>
            {{/unless}}
        {{else}}
            <button type="button" id="back-btn" class="btn btn-sm  tooltip-always-on" data-toggle="tooltip" data-placement="right" title="{{ trans.backToLayout }}">
                <i class="fa-arrow-alt-circle-left fas"></i>
            </button>
        
            <button type="button" id="inline-editor-save" class="btn btn-sm  tooltip-always-on" data-toggle="tooltip" data-placement="left"
                title="{{ trans.saveEditorChanges }}">
                <i class="fa fa-save"></i>
            </button>
        {{/if}}
    </div>

    {{!-- Paging controls --}}
    {{#if pagingEnable}}
        <span class="paging inline-editor-hide">
            <button type="button" id="left-btn" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{ trans.previousWidget }}">
                <i class="fa fa-arrow-left"></i>
            </button>
            <span class="label">
                {{currentItem}} / {{totalItems}}
            </span>
            <button type="button" id="right-btn" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{ trans.nextWidget }}">
                <i class="fa fa-arrow-right"></i>
            </button>
        </span>
    {{/if}}

    {{! Right region }}
    <div class="pull-right">
        {{! Element Info }}
        {{#if extra}}
            <span class="info inline-editor-hide">
                <span class="label-name">
                    "{{extra.moduleName}}" ({{extra.type}})
                </span>
                <span class="label label-time">
                    {{extra.duration}} / {{extra.regionDuration}}
                </span>
            </span>
        {{else}}
            <span class="info inline-editor-hide">
                <span class="label-name">
                    "{{name}}" ({{type}})
                </span>
            </span>
        {{/if}}

        {{!-- Full screen button --}}
        <button type="button" id="fs-btn" class="btn btn-sm tooltip-always-on" data-toggle="tooltip" data-placement="bottom"
            title="{{ trans.toggleFullscreen }}">
            <i class="fas fa-arrows-alt hide-on-fs"></i>
            <i class="fas fa-compress-arrows-alt show-on-fs"></i>
        </button>
    </div>

    {{! Inline Editor templates }}
    <div class="inline-editor-templates inline-editor-opened pull-right"></div>
</nav>