<div id="{{id}}" data-type="widget" data-widget-region="{{ regionId }}" class="designer-widget {{containerStyle}} {{type}} droppable {{#if selected}}selected{{/if}}">
    <div class="widget-preview {{#if editable}}parent-editable{{/if}} {{#if drawer}}drawer-parent{{/if}}"
        data-parent="region" data-parent-id="{{parentId}}" data-type="{{elementType}}">
        {{{res.html}}}
    </div>
</div>