{{#if smallPreview}}
    <div class="preview-paging text-right">
        <i class="fa fa-arrow-circle-o-left widget-arrow widget-left" data-toggle="tooltip" data-placement="bottom" title="{{ trans.previousWidget }}"></i>
        <span class="preview-paging-message"></span>
        <i class="fa fa-arrow-circle-o-right widget-arrow widget-right" data-toggle="tooltip" data-placement="bottom" title="{{ trans.nextWidget }}"></i>
    </div>
    <div class="preview-select"></div>
{{else}}
    <p class="top-btn top-right-btn" data-toggle="tooltip" data-placement="bottom" title="{{ trans.toggleFullscreen }}">
        <i id="fs-btn" class="fa fa-arrows-alt"></i>
    </p>

    {{#if renderLayout}}
        <p class="top-btn top-left-btn" data-toggle="tooltip" data-placement="right" title="{{ trans.playPreviewLayout }}">
            <i id="play-btn" class="fa fa-play-circle"></i>
        </p>
    {{else}}
        <p class="top-btn top-left-btn" data-toggle="tooltip" data-placement="right" title="{{ trans.backToLayout }}">
            <i id="back-btn" class="fa fa-arrow-left"></i>
        </p>

        <p id="inline-editor-save" class="top-btn top-right-btn second" data-toggle="tooltip" data-placement="left" title="{{ trans.saveEditorChanges }}">
            <i id="fs-btn-save" class="fa fa-save"></i>
        </p>
    {{/if}}

    <div id="border-before" class="layout-viewer-border"></div>
    <div id="border-after" class="layout-viewer-border"></div>

{{/if}}

<div class="viewer-element {{containerStyle}}"
    style="width: {{dimensions.width}}px;
        height: {{dimensions.height}}px;
        top: {{dimensions.top}}px;
        left: {{dimensions.left}}px;"
>

    {{#if renderLayout}}
        {{!-- Render Layout --}}
        <div class="layout-live-preview">
            <div id="regions">
                {{#each layout.regions}}
                    {{> viewer-region}}
                {{/each}}
            </div>
        </div>
    {{else}}

        {{#unless smallPreview }}
            {{!-- Render Widget or Region --}}
            <div id="inline-editor" class="inline-editor-opened"></div>

            <div id="inline-editor-overlay" class="inline-editor-closed">
                <div class="edit-btn-container">
                    <i id="edit-btn" class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="{{ trans.inlineEditor }}"></i>
                </div>
            </div>
        {{/unless}}
        
        {{#if isEmpty}}
            <p class="center-msg">
                {{res.extra.text}}
            </p>
        {{else}}
            <div id="viewer-preview" data-type="{{type}}">
                {{{res.html}}}
            </div>
        {{/if}}
    {{/if}}
</div>