<div class="element-content"
    style="
    width: {{originalWidth}}px;
    height: {{originalHeight}}px;

    {{#if scale}}
        transform: scale({{scale}});
        transform-origin: top left;
    {{/if}}">
</div>

{{#neq element.slot undefined}}
<div class="slot" title="{{trans.dataSlot}}">#<span>{{element.slotView}}</span></div>
{{/neq}}

{{#with template}}
    {{#if onTemplateRender}}
        <script type="text/javascript">
            function onTemplateRender_{{ ../element.elementId }}(properties) {
                {{{onTemplateRender}}}
            }
        </script>
    {{/if}}
{{/with}}