<div id="border-before" class="layout-viewer-border"></div>
<div id="border-after" class="layout-viewer-border"></div>

<div class="viewer-element viewer-element-select {{containerStyle}} {{type}} layout-orientation-{{orientation}} theme-{{theme}} droppable"
    style="width: {{dimensions.width}}px;
        height: {{dimensions.height}}px;
        top: {{dimensions.top}}px;
        left: {{dimensions.left}}px;"
    id="layout_{{layout.layoutId}}"
    data-layout-id= "{{layout.layoutId}}"
>
    {{!-- Render Layout --}}
    <div class="layout-live-preview">
        {{#with layout.canvas}}
            <div id="{{id}}" class="designer-region-canvas"></div>
        {{/with}}
        <div id="regions">
            {{#each layout.regions}}
                {{> viewer-region}}
            {{/each}}
        </div>
    </div>
</div>