<div id="{{id}}" data-type="widget" data-widget-region="{{regionId}}" data-widget-id="{{widgetId}}" class="designer-widget viewer-object-select {{containerStyle}} {{type}} droppable {{#if selected}}selected{{/if}} {{#if drawerWidget}}drawerWidget{{/if}}">
    <div class="widget-preview {{#if editable}}parent-editable{{/if}}"
        data-parent="region" data-parent-id="{{parentId}}" data-type="{{objectType}}">
        {{{res.html}}}
    </div>
</div>