<div id="{{id}}"
    data-type="region" 
    class="designer-region viewer-element-select {{#if selected}}selected-region{{/if}} {{#if isEditable}}editable{{/if}}" 
    data-region-id="{{id}}" 
    style="position:absolute; 
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px; 
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;
        z-index: {{ zIndex }}">
</div>