<p class="top-right-btn inline-editor-hide">
    <i id="fs-btn" class="fa fa-arrows-alt"></i>
</p>

<div id="border-before" class="layout-viewer-border"></div>
<div id="border-after" class="layout-viewer-border"></div>

<div class="viewer-element {{containerStyle}}"
    style="width: {{dimensions.width}}px;
        height: {{dimensions.height}}px;
        top: {{dimensions.top}}px;
        left: {{dimensions.left}}px;"
>

    {{#if renderLayout}}
        {{!-- Render Layout --}}
        <p class="play-btn-container">
            <i id="play-btn" class="fa fa-play-circle"></i>
        </p>
    {{else}}

        {{!-- Render Layout --}}
        <div id="inline-editor" class="inline-editor-opened"></div>

        <div id="inline-editor-overlay" class="inline-editor-closed" title="{{ trans.inlineEditor }}">
            <div class="edit-btn-container">
                <i id="edit-btn" class="fa fa-edit"></i>
            </div>
        </div>

        {{!-- Render Widget or Region --}}
        {{#if res.extra.empty}}
            <p class="center-msg">
                {{res.extra.text}}
            </p>
        {{else}}
            <div id="viewer-preview" data-type="{{type}}">
                {{{res.html}}}
            </div>
        {{/if}}
    {{/if}}
</div>