<div id="{{element.groupId}}" class="designer-element-group {{#if element.isEditable}}editable{{/if}} viewer-object-select"
    data-type="element-group"
    data-region-id="{{element.regionId}}"
    data-widget-id="{{element.widgetId}}"
    data-element-type="{{elementGroupType}}"
>
    <div class="designer-element-group-elements"></div>
    <div class="group-edit-btn viewer-object-select" title="{{trans.editGroup}}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="group-select-overlay viewer-object-select">
    </div>
</div>