<div class="action-layout-dock-control">
    <div class="action-screen-helper viewer-object-select"
        data-type="screen"
        data-screen-id="{{currentLayoutId}}"
        title="{{currentLayoutId}}">
        <div class="action-screen-helper-label">{{trans.currentLayout}}</div>
    </div>
    <div class="action-layout-dock-recents" style="display: none;"></div>
    <div class="action-layout-dock-search">
        <button type="button" class="btn btn-sm btn-light action-layout-dock-search-button" title="{{trans.searchforLayouts}}">
            <i class="fas fa-table-columns"></i>
        </button>
        <div class="action-layout-dock-search-results-container" style="display: none;">
            <div class="action-layout-dock-search-find-container input-info-container">
                <input type="text" class="action-layout-dock-search-find" placeholder="{{trans.searchforALayout}}">
                <i class="fa fa-question-circle input-info tooltip-always-on"
                    data-toggle="tooltip" 
                    data-placement="top"
                    title="{{trans.searchforLayoutsHelpText}}">
                </i>
            </div>
            <div class="action-layout-dock-search-results"></div>
        </div>
    </div>
</div>