<p class="top-right-btn">
    <i id="fs-btn" class="fa fa-arrows-alt"></i>
</p>

<div id="border-before" class="layout-viewer-border"></div>
<div id="border-after" class="layout-viewer-border"></div>

<div class="viewer-element {{containerStyle}}"
    style="width: {{dimensions.width}}px;
        height: {{dimensions.height}}px;
        top: {{dimensions.top}}px;
        left: {{dimensions.left}}px;"
>

    {{#if renderLayout}}
        {{!-- Render Layout --}}
        <p class="play-btn-container">
            <i id="play-btn" class="fa fa-play-circle"></i>
        </p>
    {{else}}

        {{!-- Render Widget or Region --}}
        {{#if res.extra.empty}}
            <p class="center-msg">
                {{res.extra.text}}
            </p>
        {{else}}
            {{{res.html}}}
        {{/if}}
    {{/if}}
</div>