<div id="{{id}}" data-type="widget" data-widget-region="{{ regionId }}" class="designer-widget {{containerStyle}} {{type}} droppable">
    <div id="viewer-preview"
        class="widget-preview {{#if editable}}parent-editable{{/if}} {{#if drawer}}drawer-parent{{/if}}"
        data-parent="region" data-parent-id="{{parentId}}" data-type="{{type}}">
        {{{res.html}}}
    </div>
</div>