<div id="{{drawer.id}}"
    class="designer-region-drawer droppable"
    data-type="region"
    data-sub-type="drawer"
    data-target="{{target}}"
    data-region-id="{{drawer.regionId}}"
    data-action-edit-type="{{type}}"    
    style="position:absolute;
        width: {{ drawer.scaledDimensions.width }}px; 
        height: {{ drawer.scaledDimensions.height }}px; 
        top: {{ drawer.scaledDimensions.top }}px;
        left: {{ drawer.scaledDimensions.left }}px;
        z-index: {{ drawer.zIndex }};">
</div>