<div class="element-content"
    style="
    width: {{originalWidth}}px;
    height: {{originalHeight}}px;

    {{#if scale}}
        transform: scale({{scale}});
        transform-origin: top left;
    {{/if}}">
</div>

{{#if element.source}}
<div class="source" title="{{trans.source}}">#<span>{{element.source}}</span></div>
{{/if}}

{{#with template}}
    {{#if onTemplateRender}}
        <script type="text/javascript">
            function onTemplateRender_{{ ../element.elementId }}(properties) {
                {{{onTemplateRender}}}
            }
        </script>
    {{/if}}
{{/with}}