{{#if smallPreview}}
    <div class="preview-paging text-right">
        <span class="preview-paging-name pull-left tooltip-always-on" data-toggle="tooltip" data-placement="bottom"></span>
        <i class="fa fa-arrow-circle-o-left widget-arrow widget-left" data-toggle="tooltip" data-placement="bottom" data-title="{{ trans.previousWidget }}"></i>
        <span class="preview-paging-message"></span>
        <i class="fa fa-arrow-circle-o-right widget-arrow widget-right" data-toggle="tooltip" data-placement="bottom" data-title="{{ trans.nextWidget }}"></i>
    </div>
    <div class="preview-select"></div>
{{else}}
    <div id="border-before" class="layout-viewer-border"></div>
    <div id="border-after" class="layout-viewer-border"></div>
{{/if}}

<div class="viewer-element {{containerStyle}}"
    style="width: {{dimensions.width}}px;
        height: {{dimensions.height}}px;
        top: {{dimensions.top}}px;
        left: {{dimensions.left}}px;"
>

    {{#if renderLayout}}
        {{!-- Render Layout --}}
        <div class="layout-live-preview">
            <div id="regions">
                {{#each layout.regions}}
                    {{> viewer-region}}
                {{/each}}
            </div>
        </div>
    {{else}}

        {{#unless smallPreview }}
            {{!-- Render Widget or Region --}}
            <div id="inline-editor" class="inline-editor-opened"></div>

            <div id="inline-editor-overlay" class="inline-editor-closed">
                <div class="edit-btn-container">
                    <i id="edit-btn" class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" data-title="{{ trans.inlineEditor }}"></i>
                </div>
            </div>
        {{/unless}}
        
        {{#if isEmpty}}
            <p class="center-msg">
                {{res.extra.text}}
            </p>
        {{else}}
            <div id="viewer-preview" data-type="{{type}}">
                {{{res.html}}}
            </div>
        {{/if}}
    {{/if}}
</div>