<div style="all: initial; display: block; width: 0; height: 0;">
    <div class="element-content"
        style="
        width: {{originalWidth}}px;
        height: {{originalHeight}}px;
        {{#if scale}}
            transform: scale({{scale}});
            transform-origin: top left;
        {{/if}}
        ">
    </div>
</div>

{{#neq element.slotView undefined}}
<div class="slot" title="{{trans.dataSlot}}">#<span>{{element.slotView}}</span></div>
{{/neq}}

{{#with template}}
    {{#if onTemplateRender}}
        <script type="text/javascript">
            function onTemplateRender_{{ ../element.elementId }}(id, target, items, properties, meta) {
                {{{onTemplateRender}}}
            }
        </script>
    {{/if}}
    {{#if onElementParseData}}
        <script type="text/javascript">
            function onElementParseData_{{ ../element.id }}(value, properties) {
                {{{onElementParseData}}}
            }
        </script>
    {{/if}}
{{/with}}
