<div id="{{id}}"
    data-type="{{type}}"
    data-sub-type="{{subType}}"
    class="designer-region-{{subType}} {{#eq subType 'playlist'}}viewer-element-select{{/eq}} {{#if isEditable}}editable{{/if}}"
    data-region-id="{{id}}"
    style="position:absolute;
        width: {{ scaledDimensions.width }}px; 
        height: {{ scaledDimensions.height }}px; 
        top: {{ scaledDimensions.top }}px;
        left: {{ scaledDimensions.left }}px;
        z-index: {{ zIndex }};">
</div>