<div id="{{element.groupId}}" class="designer-element-group editable"
    data-type="element-group"
    data-region-id="{{element.regionId}}"
    data-widget-id="{{element.widgetId}}"
    data-element-type="{{element.elementType}}"
>
    <div class="group-edit-btn viewer-element-select" title="{{trans.editGroup}}">
        <i class="fa fa-edit" aria-hidden="true"></i>
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="group-select-overlay viewer-element-select">
    </div>
</div>