{#
/**
 * Copyright (C) 2024 Xibo Signage Ltd
 *
 * Xibo - Digital Signage - https://xibosignage.com
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends "base-report.twig" %}

{% block content %}
    <div>
        <span class="small">{% trans "From" %} {{ metadata.periodStart }} {% trans "To" %} {{ metadata.periodEnd }}</span>
    </div>
    <p></p>

    <table class="saved-report-table">
        <tr>
            <th>{% trans "Display ID" %}</th>
            <th>{% trans "Display" %}</th>
            <th>{% trans "Event Type" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Reference ID" %}</th>
            <th>{% trans "Detail" %}</th>
        </tr>
        {% for item in tableData %}
            <tr>
                <td>{{ item.displayId }}</td>
                <td>{{ item.display }}</td>
                <td>{{ item.eventType }}</td>
                <td>{{ item.start }}</td>
                <td>{{ item.end }}</td>
                <td>{{ item.refId }}</td>
                <td>{{ item.detail }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <span>{{ placeholder }}</span>
    <img src="{{ src|raw }}" >
{% endblock %}