{#
/*
 * Xibo - Digital Signage - http://www.xibo.org.uk
 * Copyright (C) 2019 Xibo Signage Ltd
 *
 * This file is part of Xibo.
 *
 * Xibo is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 *
 * Xibo is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Xibo.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
#}

<div>
    <img class="logo right" src="{{ logo }}">
</div>
<div class="header">{{ header }}</div>
<div class="title">{{ title }} <span class="small">({% trans "Generated on: " %}{{ generatedOn }})</span></div>
<div>
    <span class="small">From {{ periodStart }} To {{ periodEnd }}</span>
</div>
<p></p>

<table class="saved-report-table">
    <tr>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Display ID" %}</th>
        <th>{% trans "Display" %}</th>
        <th>{% trans "Layout ID" %}</th>
        <th>{% trans "Layout" %}</th>
        <th>{% trans "Widget ID" %}</th>
        <th>{% trans "Media" %}</th>
        <th>{% trans "Tag" %}</th>
        <th>{% trans "Number of Plays" %}</th>
        <th>{% trans "Total Duration (s)" %}</th>
        <th>{% trans "First Shown" %}</th>
        <th>{% trans "Last Shown" %}</th>
    </tr>
    {% for item in tableData %}
        <tr>
            <td>{{ item.type }}</td>
            <td>{{ item.displayId }}</td>
            <td>{{ item.display }}</td>
            <td>{{ item.layoutId }}</td>
            <td>{{ item.layout }}</td>
            <td>{{ item.widgetId }}</td>
            <td>{{ item.media }}</td>
            <td>{{ item.tag }}</td>
            <td>{{ item.numberPlays }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ item.minStart }}</td>
            <td>{{ item.maxEnd }}</td>
        </tr>
    {% endfor %}
</table>


