<div class="form-editor-controls rich-text-dimensions-control">
    <label class="font-weight-bold control-label m-0">{{trans.widgetDimensions }}</label>
    <div class="form-group form-group-width">
        <input type="number" class="form-control text-editor-width" id="editorWidth" placeholder="{{trans.width }}" title="{{trans.width }}" value="{{dimensions.width}}">
    </div>
    <div class="form-group form-group-height">
        <input type="number" class="form-control text-editor-height" id="editorHeight" placeholder="{{trans.height }}" title="{{trans.height }}" value="{{dimensions.height}}">
    </div>
</div>