<div class="form-group code-input-group xibo-code-input xibo-form-input" {{#if visibility}}data-visibility="{{visibility}}"{{/if}}>
    <label for="{{id}}" class="control-label"><strong>{{title}}</strong></label>
    {{#if helpText}}
        <i class="fa fa-question-circle form-help-popup" data-toggle="tooltip" data-placement="top" title="{{helpText}}"></i>
    {{/if}}
    <textarea class="form-control code-input d-none" id="{{id}}" name="{{id}}" rows="{{rows}}" data-code-type="{{variant}}">{{value}}</textarea>
    <div class="code-input-editor-container">
        <div class="code-input-editor"></div>
    </div>
</div>