<div class="form-group colorpicker-element colorpicker-input xibo-form-input {{customClass}}" {{#if visibility}}data-visibility="{{visibility}}"{{/if}} {{#if default}}data-default="{{default}}"{{/if}}>
    <label for="{{id}}" class="control-label"><strong>{{title}}</strong></label>
    <div class="input-info-container"></div>
    <div class="input-group">
        <div class="input-group-prepend">
            <i class="input-group-text input-group-addon" id="{{id}}_label"></i>
        </div>
        <input type="text" class="form-control" id="{{id}}" name="{{id}}" value="{{value}}" />
    </div>
</div>