<div class="form-input colorpicker">
    <label for="{{id}}" class="control-label">{{name}}</label>
    <i class="fa fa-question-circle form-help-popup" data-toggle="tooltip" data-placement="top" title="{{helpText}}"></i>
    <input type="text" class="form-control" id="{{id}}" name="{{id}}" value="{{value}}" />
</div>