<div class="form-group xibo-form-input date-input-group {{customClass}}"
    {{#if visibility}}data-visibility="{{visibility}}"{{/if}}
    {{#if dependsOn}}data-depends-on="{{dependsOn}}"{{/if}}
>
    <label for="input_{{id}}" class="control-label"><strong>{{title}}</strong></label>
    <div class="input-info-container">
        {{#if helpText}}
            {{>add-ons/helpText helpText=helpText}}
        {{/if}}
    </div>
    <div class="input-group">
        <input type="text" class="form-control dateControl {{variant}}" id="input_{{id}}" name="{{#if name}}{{name}}{{else}}{{id}}{{/if}}" value="{{value}}" {{#if format }}data-custom-format="{{ format }}"{{/if}}
            {{#each customData}}
                data-{{this.name}}="{{this.value}}"
            {{/each}}
        />
        <span class="input-group-append input-group-addon input-group-text date-clear-button d-none" role="button"><i
                class="fa fa-times"></i></span>
    </div>
</div>