<div class="form-group">
    <label for="{{id}}" class="control-label">{{title}}</label>
    <i class="fa fa-question-circle form-help-popup" data-toggle="tooltip" data-placement="top" title="{{helpText}}"></i>
    <select class="form-control" id="{{id}}" name="{{id}}">
        {{#each options}}
            <option value="{{name}}" {{#eq name value}}selected{{/eq}}>{{title}}</option>
        {{/each}}
    </select>
</div>