<div class="form-group xibo-form-input {{customClass}}" {{#if visibility}}data-visibility="{{visibility}}"{{/if}}>
    <label for="{{id}}" class="control-label"><strong>{{title}}</strong></label>
    {{#if helpText}}
        <i class="fa fa-question-circle form-help-popup tooltip-always-on" data-toggle="tooltip" data-placement="top" title="{{helpText}}"></i>
    {{/if}}

    <select class="form-control" id="{{id}}" name="{{id}}"
        {{#each customData}}
            data-{{this.name}}="{{this.value}}"
        {{/each}}
    >
        {{!-- Set default property values --}}
        {{#unless optionsValue}}
            {{set "optionsValue" "name"}}
        {{/unless}}
        {{#unless optionsTitle}}
            {{set "optionsTitle" "title"}}
        {{/unless}}

        {{#each options}}
            <option value="{{lookup this ../optionsValue}}" {{#eq (lookup this ../optionsValue) ../value}}selected{{/eq}}>{{lookup this ../optionsTitle}}</option>
        {{/each}}
    </select>
</div>