<div class="xibo-form-input" {{#if renderCondition}}data-render-condition="{{renderCondition}}"{{/if}}>
    <div id="{{id}}" class="alert mt-3 {{#if messageType}}alert-{{messageType}}{{else}}alert-info{{/if}}" >{{title}}</div>
</div>