<div class="form-group xibo-form-input {{customClass}}" {{#if visibility}}data-visibility="{{visibility}}"{{/if}}>
    <label for="{{id}}" class="control-label"><strong>{{title}}</strong></label>
    <div class="input-info-container"></div>
    <input type="text" class="form-control" id="{{id}}" name="{{id}}" value="{{value}}" />
</div>