<a class="help-pane-card" href="{{url}}" target="{{target}}" {{#if action}}data-action="{{action}}"{{/if}}>
    <div class="help-pane-card-preview"><i class="fas {{iconClass}}"></i></div>
    <div class="help-pane-card-info">
        <div class="help-pane-card-title">{{title}}</div>
        <div class="help-pane-card-desc">{{desc}}</div>
    </div>
</a>