<div class="others-card">
    <img class="others-card-icon" style="height: 50px; width: auto;"
        src="{{themeRoot}}theme/default/img/onboarding/{{iconName}}.svg" alt="{{iconName}}">
    <h3>{{title}}</h3>
    <p>{{text}}</p>
    <div class="links-list">
        {{{links}}} {{!-- Triple curly braces render raw HTML --}}
    </div>
</div>