
<div class="video-container" data-index="{{videoIndex}}">
  <iframe
      src="https://www.youtube.com/embed/{{videoLink}}?controls=0&rel=0"
      title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media;"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>
</div>
{{#if showControls}}
  {{#if videoThumbnails}}
    <div class="welcome-video-thumbs">
        {{#each videoThumbnails}}
          <div class="welcome-video-thumb {{#if selected}}checked{{/if}}" data-idx="{{@index}}">
            <div class="welcome-video-thumb-play-overlay">
              <i class="fas fa-circle-play"></i>
            </div>
            <img class="welcome-video-thumb-img" src="https://img.youtube.com/vi/{{link}}/maxresdefault.jpg" alt="{{title}}">
            <div class="welcome-video-thumb-title" title="{{title}}">
              {{title}}
            </div>
          </div>
        {{/each}}
    </div>
  {{/if}}
{{/if}}