<select name="tpv_ledCommand{{ unique }}" id="tpv_ledCommand{{ unique }}" class="tpv-led-command form-control form-control-inline" style="width:100%">
    <option value="off" {{#eq value "off"}}selected="selected"{{/eq}}>{{trans.off}}</option>
    <option value="red" {{#eq value "red"}}selected="selected"{{/eq}}>{{trans.red}}</option>
    <option value="green" {{#eq value "green"}}selected="selected"{{/eq}}>{{trans.green}}</option>
    <option value="blue" {{#eq value "blue"}}selected="selected"{{/eq}}>{{trans.blue}}</option>
    <option value="white" {{#eq value "white"}}selected="selected"{{/eq}}>{{trans.white}}</option>
</select>